---
tags: ['produkt', 'proto']
category: "Pengestøtte"
type: "Produktside"
title: "Sykmelding og sykepenger"
description: ''
ingress:
  "Informasjon til leger og behandlere om sykmelding og sykepenger. Om hvem som kan sykmelde, hvilke pasienter som kan sykmeldes, og nyttige verktøy og opplæring."
audience:
  style: "default"
  current: "For leger og tannleger eller andre behandlere"
  others:
    "Det finnes også informasjon om sykmeldingen – for den som sykmelder til [privatpersoner](#) og [arbeidsgivere](#)"
published: "Oppdatert 2. juni 2025"
alpine: true
order: 9
permalink: 'produkt/sykmelding-og-sykepenger/index.html'
layout: 'article-page.njk'
---
