{%- extends 'base.njk' -%}

{%- block content -%}

  {% set chapters = collections[page.fileSlug] | sort(false, false, 'data.order') %}

  <main class="relative grid items-start pt-16 pb-16 grid-cols-article" data-theme="sykepenger" x-data="{ chapterIndex: 0 }">
    <div class="mb-3 col-main md:col-pictogram" style="--pictogram: #F5D3E2">
      {{ '/src/_includes/svg/piktogrammer/produkter/sykepenger.svg' | svgContents('text-brand-purple-deep w-16 h-16 sm:w-20 sm:h-20 -translate-x-1') | safe  }}
    </div>
    <div class="col-main md:col-start-[main] md:col-end-[container]">
      <h1 class="font-semibold text-fluid-36-48/tight text-pretty text-brand-purple-deep">{{ title | safe }}</h1>
      <div class="mt-2 text-gray-700 text-fluid-16-18 font-regular">
        {{ category | safe }}
        {% if audience %}
          <span aria-hidden="true" class="inline-block -translate-y-px">—</span>
          {{ audience.current | safe }}
        {% endif %}
      </div>
    </div>
    <div class="mt-6 col-main">
      <p class="text-fluid-18-20 text-pretty">
        {{ ingress | safe }}
        {% if audience %}          
          <span>{{ audience.others | markdownInline | safe if audience }}</span>      
        {% endif %}
      </p>
    </div>

    {# Innholdsfortegnelse #}
    <div class="mt-8 lg:row-span-4 lg:mt-5 lg:sticky lg:row-start-3 xl:row-start-2 lg:top-12 col-toc" id="toc" x-intersect:leave.margin.-200px.0.0.0="floatingToc = true" x-intersect:enter.margin.100px.0.0.0="floatingToc = false, floatingTocOpen = false">
      <h2 class="flex items-baseline mb-2 font-semibold gap-x-0.5 text-fluid-18-20">
        {{ '/src/_includes/svg/icons/document.svg' | svgContents('w-6 h-6 translate-y-1 -translate-x-1') | safe  }}
        <span>Innhold på siden</span>
      </h2>
      <ul class="pb-1 ml-1.5">
        {% for chapter in chapters %}
        {% set chapterIndex = loop.index %}
        <li class="mt-1">
          <a class="inline-block py-1 pl-5 underline hover:text-blue-700 hover:decoration-2 underline-offset-3 decoration-slate-800/40" href="#{{ chapter.data.title | slugify }}">
            {{ chapter.data.title }}
          </a>
          {% if (chapter.templateContent | tocData).length >= 2 %}           
          <ul class="hidden mt-2 mb-4 ml-5 border-l-2 md:block border-slate-400" x-show="chapterIndex == {{ chapterIndex }}">
          {% for item in chapter.templateContent | tocData %}
            <li><a class="inline-block py-1.5 pl-3 underline opacity-90 hover:text-blue-700 text-fluid-16-18/snug decoration-slate-800/40 hover:decoration-2" href="#{{ item.id }}">
                <span>{{ item.text }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="pt-8 prose col-main" id="{{ chapter.data.title | slugify }}" x-intersect.margin.-480px="chapterIndex = {{ chapterIndex }}">
        {# <div class="w-10 h-[0.625ch] bg-brand-purple-faded"></div> #}
        <h2 class="mt-5 mb-4 -translate-x-0.5 font-semibold text-fluid-32-36/tight text-balance">
          <a href="#{{ chapter.data.title | slugify }}">
            <span>{{ chapter.data.title }}</span>
          </a>
        </h2>

        {# Main Content #}
        {{ chapter.templateContent | markdown | safe }}
      </section>
    {% endfor %}

    <div class="pt-2 mt-12 italic border-t text-fluid-16-18 border-slate-200 col-main">{{ published | safe }}</div>

    {# Floating TOC #}
    <div class="sticky z-50 overflow-y-visible bottom-1 col-full lg:hidden" x-show="floatingToc" x-transition.scale.origin.bottom.right>
      <button 
        type="button" 
        class="absolute flex items-baseline self-start py-1 pl-4 pr-5 mb-4 font-semibold text-white border-2 rounded-full cursor-pointer bg-slate-800 right-4 -bottom-1 hover:bg-slate-700 gap-x-1 text-fluid-18-20 border-slate-400"
        x-on:click="floatingTocOpen = !floatingTocOpen"
        x-show="!floatingTocOpen"
      >
        {{ '/src/_includes/svg/icons/document.svg' | svgContents('w-6 h-6 translate-y-1 -translate-x-0.5') | safe  }}
        <span class="-translate-y-px">Innhold på siden</span>
      </button>
      <div class="pl-6 pr-8 py-6 fixed bottom-0 right-0 overflow-y-auto rounded-tl-xl shadow-2xl bg-white h-fit max-h-[70svh] max-w-8/12 ml-auto  overscroll-contain" x-show="floatingTocOpen" x-on:click.outside="floatingTocOpen = false">
        <h2 class="inline-flex gap-1 font-semibold">
          {{ '/src/_includes/svg/icons/document.svg' | svgContents('w-6 h-6 translate-y-1 -translate-x-0.5') | safe  }}
          <span>Innhold på siden</span>
        </h2>
        <ul class="">
          {% for chapter in chapters %}
          {% set chapterIndex = loop.index %}
          <li class="mt-1">
            <a class="inline-block py-1 underline pl-7 hover:text-blue-700 hover:decoration-2 decoration-slate-800/40" href="#{{ chapter.data.title | slugify }}" x-on:click="floatingTocOpen = false">
              {{ chapter.data.title }}
            </a>
            {% if (chapter.templateContent | tocData).length >= 2 %}           
            <ul class="mb-5 mt-0.5 border-l-2 ml-7 border-slate-400">
            {% for item in chapter.templateContent | tocData %}
              <li class="py-0.5">
                <a class="inline-block py-1 pl-3 underline text-gray-900/80 hover:text-blue-700 decoration-slate-800/40 text-fluid-16-18/snug hover:decoration-2" href="#{{ item.id }}" x-on:click="floatingTocOpen = false">
                  <span>{{ item.text }}</span>
                </a>
              </li>
            {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>

  {% include "partials/kontakt.njk" %}

{%- endblock -%}