<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{- title | safe }}
      {{- '&ndash;' | safe if title }}
      {{- site.title | safe }}
    </title>
    <meta name="description" content="..." />

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2299%22>🧑‍💻</text></svg>" />
    <link rel="preconnect" href="{{ 'https://navikt.github.io/navno-prototype' if environment == 'production' else 'http://localhost/' }}" crossorigin />
    <link rel="preload" href="/assets/fonts/SourceSans3-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
    <style>
      @font-face {
        font-family: "Source Sans 3";
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
        src: url("{{ '/assets/fonts/SourceSans3-normal-latin.woff2' | htmlBaseUrl }}") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
          U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
          U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Source Sans 3";
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
        src: url("{{ '/assets/fonts/SourceSans3-italic-latin.woff2' | htmlBaseUrl }}") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
          U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
          U+2215, U+FEFF, U+FFFD;
      }
    </style>
    {% css %}{% include "../assets/main.css" %}{% endcss %}
    <link rel="stylesheet" href="{% getBundleFileUrl 'css' %}" type="text/css" />
  </head>
  <body>
    {% if page.fileSlug === 'velg-bruker' %}
      <header class="container simple-site-header">
        <div class="site-logo">
          {{ "/src/assets/images/logo.svg" | svgContents | safe }}
          <span class="sr-only">Nav</span>
        </div>

        <div class="site-account-button account">
          <span class="account__text stack-text">
            <strong>{{ 'På vegne av ' + user.name if user.type == 'agent' else users[0].name }}</strong>
            <small>
              {% if role.title %}
                0 nye oppgaver
              {% else %}
                {{ (user.tasks or users[0].tasks) | length }} ny{{ 'e' if user.tasks.length != 1 }} oppgave{{ 'r' if user.tasks.length != 1 }}
              {% endif %}
            </small>
          </span>
          <span class="account__icon">
            <span class="avatar {{ 'avatar--agent' if user.type === 'agent' }}" style="view-transition-name: avatar-{{ user.name | slugify }}">
              {{ user.name.slice(0,2) }}
            </span>
            {% if ((user.tasks | length) >= 1) and not role.title %}
              {# <span class="account__tasks">{{ user.tasks | length }}</span> #}
            {% endif %}
          </span>
        </div>
      </header>
    {% endif %}
    <main class="site-content">
    {%- block content %}{{ content | safe }}{% endblock -%}
    </main>
    <!-- {{ generated }} -->
  </body>
</html>
