<!DOCTYPE html>
<html lang="no" class="h-full antialiased leading-normal text-gray-900 bg-white font-source-sans scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title | safe }}
      {{ '&ndash;' | safe if title }}
      {{ site.title | safe }}
    </title>
    <meta name="description" content="..." />
    <style>
      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-normal-latin_ext.woff2' | htmlBaseUrl }}")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-normal-latin.woff2' | htmlBaseUrl }}") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
          U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
          U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-style: italic;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-italic-latin_ext.woff2' | htmlBaseUrl }}")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-style: italic;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-italic-latin.woff2' | htmlBaseUrl }}") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
          U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
          U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-normal-latin_ext.woff2' | htmlBaseUrl }}")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Source Sans Pro";
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url("{{ '/assets/fonts/Source_Sans_3-normal-latin.woff2' | htmlBaseUrl }}") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
          U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
          U+2215, U+FEFF, U+FFFD;
      }
    </style>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2299%22>🧑‍💻</text></svg>" />
    <link rel="preconnect" href="https://www.nav.no" crossorigin />
    <link rel="preload" href="/assets/fonts/Source_Sans_3-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/main.min.css" type="text/css" />
    {% block styles %}{% endblock %}

    <script src="/assets/alpineFocus.min.js" type="text/javascript" defer></script>
    <script src="/assets/alpine.min.js" type="text/javascript" defer></script>
    {% block script %}{% endblock %}

    {%- if environment === 'production' -%}
    <script type="text/javascript">(function(u,x,t,w,e,a,k,s){a=function(v){try{u.setItem(t+e,v)}catch(e){}v=JSON.parse(v);for(k=0;k<v.length;k++){s=x.createElement("script");s.text="(function(u,x,t,w,e,a,k){a=u[e]=function(){a.q.push(arguments)};a.q=[];a.t=+new Date;a.c=w;k=x.createElement('script');k.async=1;k.src=t;x.getElementsByTagName('head')[0].appendChild(k)})(window,document,'"+v[k].u+"',"+JSON.stringify(v[k].c)+",'"+v[k].g+"')";x.getElementsByTagName("head")[0].appendChild(s)}};try{k=u.getItem(t+e)}catch(e){}if(k){return a(k)}k=new XMLHttpRequest;k.onreadystatechange=function(){if(k.readyState==4&&k.status==200)a(k.responseText)};k.open("POST",w+e);k.send(x.URL)})(sessionStorage,document,"uxt:","https://api.uxtweak.com/snippet/","d9cb00da-f322-463a-9508-172bb4698de0");</script>
    {%- endif -%}
  </head>
  <body
    class="min-h-full overflow-y-scroll overflow-x-hidden transition-all duration-200 ease-in {{ bodyClass }}"
    x-data="{
      indexOpen: false,
      audienceDropdownOpen: false,
      menuOpen: false,
      notifyOpen: false
    }">
    <div class="relative z-10 bg-white" >
    {% include "partials/banner.njk" %}
    {% include "partials/header-old.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    {% include "partials/prototypeNav.njk" %}
    </div>
  </body>
</html>
