<!DOCTYPE html>
<html lang="no" class="h-full antialiased leading-normal text-gray-900 bg-white font-source-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title | safe }}
      {{ '&ndash;' | safe if title }}
      {{ site.title | safe }}
    </title>
    <meta name="description" content="..." />

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2299%22>🧑‍💻</text></svg>" />
    <link rel="preconnect" href="https://marvelous-biscochitos-50396c.netlify.app" crossorigin />
    <link rel="preload" href="/assets/fonts/Source_Sans_3-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/main.min.css" type="text/css" />

    {% block styles %}{% endblock %}
    <script src="/assets/main.min.js" type="text/javascript" defer></script>
    {% block script %}{% endblock %}
  </head>
  <body
    class="min-h-full overflow-y-scroll overflow-x-hidden {{ bodyClass }}"
    x-data="{
      indexOpen: false,
      audienceDropdownOpen: false,
      menuOpen: false,
      notifyOpen: false
    }">

    <div class="font-mono text-2xl text-white bg-blue-700 md:text-3xl">
      <div class="grid overflow-hidden transition-all duration-200 grid-cols-layout" x-bind:class="indexOpen ? 'max-h-[60vh]' : 'max-h-0'">
        <ul class="py-3 divide-y md:py-6 divide-blue-300/25 col-popout">
        {% for page in collections.template | sort(false, false, 'data.order') %}
          <li class="py-4">
            <a href="{{ page.url }}" class="hover:text-orange-300 hover:underline decoration-from-font underline-offset-4">
              <span class="w-5">{{ '0' if page.data.order < 10 }}{{ page.data.order }}</span>
            {{ page.data.title | safe }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% include "partials/header.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
  </body>
</html>
