<!DOCTYPE html>
<html lang="no" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/main.min.css" type="text/css" />
  {% block style %}{% endblock %}
</head>
<body class="grid min-h-full overflow-scroll place-items-center">
  {% block content %}{% endblock %}
</body>
</html>
