---
showFooter: true
activeRole: 'Privat'
kicker: 'Feilkode 404'
title: 'Fant ikke siden'
description: 'Siden kan være flyttet, slettet eller det er en feil i lenken.'
bodyClass: 'flex flex-col min-h-full'
eleventyExcludeFromCollections: true

---
{% extends "blank.njk" %}

{% block content %}

{% endblock %}
