---js
{
  pagination: {
    data: "products",
    size: 1,
    alias: "product",
    // before: function(data) {
    //   const filteredData = data.filter(element => element.contentBlocks != null)
    //   return filteredData
    // }
  },
  eleventyComputed: {
    title: "{{ product.title }}",
    // permalink: "/produktoversikt/produkter/{{ product.title | slugify }}.md",
    permalink: false
  }
}
---
{% raw %}---{% endraw %}
title: "{{ product.title }}"
ingress: "{{ product.ingress }}"
icon: "{{ product.icon }}"
type: {{ product.taxonomy | dump | safe }}
area: {{ product.area | dump | safe }}
{% raw %}---{% endraw %}

{%- for item in product.contentBlocks -%}

{%- if item.type === 'markdown' %}
{%- for line in item.data %}
{{ line | safe }}
{% endfor %}
{%- endif %}

{%- if item.type === 'actions' -%}
{%- for button in item.data %}
{% raw %}{{ button({% endraw %}{{ button | console | safe }}{% raw %}) }}{% endraw %}
{%- endfor %}
{% endif %}

{% endfor %}
