---
title: 'Produkt&shy;oversikt'
description: ''
tags:
  - template
order: 4
bodyClass: ''
---
{% extends 'base.njk' %}

{% block content %}
  <main
    class="my-4 text-lg text-gray-900"
    x-data="{
      taxonomyFilter: new URLSearchParams(location.search).get('taxonomy') || 'alle',
      areaFilter: new URLSearchParams(location.search).get('area') || 'alle',
      show_item(el) {
        return (
          (this.taxonomyFilter === 'alle'
          || el.dataset.taxonomy.includes(this.taxonomyFilter))
          && (this.areaFilter === 'alle'
          || el.dataset.area.includes(this.areaFilter))
        )
      },
      count: '',
      updateCount() {
        $nextTick(() => {
          let count = Array.from($refs.entries.children).filter(element => window.getComputedStyle(element).display !== 'none').length;
          this.count = count
        })
      }
    }"
    x-init="
      $watch('taxonomyFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('taxonomy', value);
        history.pushState(null, document.title, url.toString());
      });
      $watch('areaFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('area', value);
        history.pushState(null, document.title, url.toString());
      });
      updateCount()">
    <div class="grid py-8 bg-white grid-cols-layout md:pt-12">
      <div class="relative col-popout">

        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">Søknad og skjema fra A&nbsp;til&nbsp;Å</h1>

        <p class="max-w-2xl mt-2 text-xl md:mt-3 md:text-2xl">Pengestøtter og tjenester fra NAV for privatpersoner. Du kan søke eller sortere etter område og kategori.</p>

        <div class="absolute hidden top-3 right-8 md:block">
          {{ '/src/_includes/svg/pictograms/support.svg' | svgContents('w-32 h-32') | safe }}
        </div>

      </div>
    </div>

    <div class="grid bg-white grid-cols-layout">
      <div class="grid gap-8 pb-24 lg:gap-x-24 lg:items-start lg:grid-cols-12 col-popout">

        {# <div>
          <label for="searchFilter" class="font-semibold">Søk</label>
          <input id="searchFilter" type="text" class="w-full px-4 py-3 bg-white border rounded-lg shadow-inner focus:outline-none focus:ring focus:ring-gray-600 border-gray-300/50">
        </div> #}

        <div class="grid items-start gap-12 lg:mt-8 lg:pt-1 lg:col-span-4 lg:row-span-2">
          {% set labelClasses = "inline-flex cursor-pointer px-4 pt-1.5 pb-1.5 leading-tight text-base bg-gray-100 ring-2 ring-gray-100 rounded-full hover:bg-deepblue-100 hover:ring-deepblue-200 peer-checked:bg-deepblue-600 peer-checked:ring-deepblue-500 peer-checked:text-deepblue-50 peer-checked:font-semibold" %}
          {% set inputClasses = "absolute opacity-0 pointer-events-none peer" %}

          {% for group in filters | dictsort %}
            <div class="">
              <h2 class="text-sm tracking-widest uppercase opacity-70">{{ group[1].title | safe }}</h2>

              <ul class="flex flex-wrap items-start mt-1.5 gap-x-2 gap-y-3">
                  <li>
                    <input
                      type="radio"
                      x-model="{{ group[0] }}Filter"
                      x-on:change="updateCount()"
                      class="{{ inputClasses }}"
                      name="productType-{{ group[0] | slug }}"
                      value="alle"
                      id="productType-{{ group[0] | slug }}-all"
                      checked="checked"
                    />
                    <label
                      class="{{ labelClasses }}" for="productType-{{ group[0] | slug }}-all"
                    >
                      Alle
                    </label>
                  </li>
                {% for item in group[1].items %}
                  <li>
                    <input type="radio" x-on:change="updateCount()" x-model="{{ group[0] }}Filter" class="{{ inputClasses }}" name="productType-{{ group[0] | slugify }}" value="{{ item | slugify }}" id="productType-{{ item | slugify }}" />
                    <label class="{{ labelClasses }}" for="productType-{{ item | slugify }}">
                      {{ item }}
                    </label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>


        <div class="lg:col-span-8 lg:-order-1">
          <p class="mb-4">Viser <span x-text="count"></span> av {{ products.length }} produkter og tjenester</p>

          <div class=" grid gap-1.5" x-ref="entries" x-show="count !== 0">
            {% for product in products %}
              <div
                x-data="{ expanded: {{ product.expanded or 'false' }} }"
                class=" focus-within:z-10"
                x-show="show_item($el)"
                data-taxonomy="{{ product.taxonomy | slugify }}"
                data-area="{{ product.area | slugify }}">

                <button x-on:click="expanded = !expanded" class="flex items-center w-full gap-3 px-6 py-4 text-left rounded-lg bg-deepblue-100/50 group hover:bg-deepblue-50 focus:outline-none focus-visible:ring focus-visible:ring-gray-600 aria-expanded:bg-gray-100" x-bind:aria-expanded="expanded">
                  {% if product.icon %}
                    {{ product.icon | svgContents('w-12 h-12') | safe }}
                  {% endif %}
                  <span class="grid flex-1 gap-0.5">
                    <span class="text-xl font-semibold leading-tight">{{ product.title | safe }}</span>
                    <span class="">{{ product.description or 'Beskrivelse mangler' }}</span>
                  </span>
                  {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('mr-1.5 w-5 h-5 text-deepblue-500/60 group-aria-expanded:rotate-180 transition duration-100') | safe }}
                </button>
                <div class="relative px-6 pt-4 pb-6" x-bind:hidden="!expanded">
                  <div class="markdown max-w-prose">
                    {% include "partials/contentBlocks.njk" %}

                    {% if product.contentBlocks %}
                      <div class="">
                        <a class=" text-deepblue-500 hover:underline hover:text-deepblue-600" href="/produktoversikt/{{ product.title | slug }}.html">(Vis som egen side)</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
          <div x-show="count === 0" class="p-6 py-8 text-center overflow-hidden grid items-center leading-snug rounded-lg bg-gray-100 min-h-[4.75rem] lg:col-span-6">
            <p class="max-w-prose">Ingen søknader eller skjema er merket med denne kombinasjonen av kategori og område.</p>
          </div>
        </div>

        <div class="p-4 bg-orange-100 rounded-lg lg:col-span-8 lg:px-6 lg:py-5">
            <h3 class="text-xl font-semibold">
              Klage eller anke på vedtak?
            </h3>
            <p class="mt-2 max-w-prose">Hvis du har fått et vedtak fra NAV og du er uenig i vedtaket, har du rett til å klage eller anke.</p>
            <p class="mb-2 mt-7"><a href="#" class="underline text-deepblue-600 hover:no-underline hover:text-deepblue-700">Les mer om dine klagerettigheter</a>.</p>
          </div>

      </div>
    </div>
  </main>
{% endblock %}
