---js
{
  pagination: {
    data: "collections.produkt",
    size: 1,
    alias: "product",
    before: function(data) {
      const filteredData = data.filter(element => element.data.egenSide === true)
      return filteredData
    }
  },
  eleventyComputed: {
    title: "Søknad om {{ product.data.title | lower }}",
    permalink: "/soknad-og-skjema/{{ product.data.title | slug }}/"
  }
}
---
{% extends 'base-basic.njk' %}

{% block content %}
  <main class="min-h-[50vh]">
    <div class="grid grid-cols-layout">
      <div class="pt-12 pb-8 col-popout">
        <h1 class="mt-1 text-5xl font-semibold">{{ title | safe }}</h1>
        {% if product.data.ingress %}
        <div class="mt-4 text-lg max-w-prose">
          <p class="mt-1 text-xl">{{ product.data.ingress | safe }}</p>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="grid pb-12 bg-white grid-cols-layout min-h-[40vh]">
      <div class="text-lg col-popout">
        <p><a class="px-4 py-3 text-white bg-blue-500 rounded" href="#">Start søknad</a></p>
      </div>
    </div>
  </main>

{% endblock %}

{% block styles %}{% endblock %}
{% block script %}{% endblock %}
