---
tags: ['slik-gjor-du-det', 'proto']
description: ''
permalink: 'slik-gjor-du-det/klagerettigheter/index.html'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  {% set chapters = collections.all | onlyTags('klagerettigheter', 'innhold') | sort(false, false, 'data.order') %}

  <main class="grid pt-16 grid-cols-combi" data-theme="sykepenger" x-data="{ showTopAnchor: false }">
    <div class="col-main">
      <div class="text-base font-normal tracking-wider text-gray-700 small-caps">
        {{ category | safe }}
      </div>
      <h1 class="font-extrabold text-4xl/tight text-balance text-brand-purple-deep">{{ title | safe }}</h1>
      <div class="mt-6 prose text-pretty max-w-prose">
        <p class="text-lg/normal">{{ ingress | safe }}</p>

        {% if audience %}          
        <div class="leading-normal bg-white border  border-slate-300 text-balance {{ 'px-4 py-3 rounded-lg' if audience.style === 'default' }} {{'px-4 py-1 rounded-full w-fit' if audience.style === 'simple' }}">
          {{ audience.text | markdown | safe if audience }}
        </div>
        {% endif %}
      </div>
    </div>

    {# Innholdsfortegnelse #}
    <div class="px-5 py-4 mt-8 border-t-[0.625ch] border-brand-purple-deep rounded-b-lg bg-brand-beige" x-intersect:leave="showTopAnchor = true" x-intersect:enter="showTopAnchor = false">
      <h2 class="pb-2 text-base font-semibold">Innhold på siden</h2>
      <ul class="grid gap-4 py-1">
        {% for chapter in chapters.slice(0,-1) %}
        <li class="grid">
          <a class="flex gap-1.5 p-1 -m-1 text-blue-600 underline group hover:text-blue-700 text-base/snug hover:decoration-2" href="#{{ chapter.data.title | slugify }}">
            {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
            {{ chapter.data.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="grid grid-flow-row-dense mt-16 col-full grid-cols-combi " id="{{ chapter.data.title | slugify }}">
        <div class="grid mt-8 mb-4 col-full grid-cols-combi">
          <div class="w-10 h-[0.675ch] bg-brand-purple-faded my-5"></div>
          <div class="relative sm:pl-[2.25ch] mb-4 sm:-ml-[2.25ch] text-3xl/tight group/anchor">
            <h2 class="inline font-bold text-balance text-brand-purple-deep">
              {{ chapter.data.title }}
            </h2>
            <a href="#{{ chapter.data.title | slugify }}" class="hidden px-2 py-2 -mt-2 text-blue-600 sm:absolute sm:left-0 group-hover/anchor:inline">#</a>
          </dev>
        </div>

        {# Chapter TOC #}
        {% if chapter.templateContent and chapter.templateContent | tocData | length > 0 and not chapter.data.hideToc %}
        <nav class="relative px-5 pt-3 pb-4 mb-8 rounded-lg bg-brand-beige">
          <h3 class="pb-2 font-semibold">I dette kapittelet</h3>
          <ul class="grid gap-2 mt-1 justify-items-start">
            {% for item in chapter.templateContent | tocData %}
            <li>
              <a class="flex items-start gap-1 px-1 py-2 -m-1 text-blue-600 group hover:text-blue-700 text-base/snug hover:underline" href="#{{ item.id }}">
                {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
                <span>{{ item.text }}</span>
              </a>
            </li>
            {% endfor %}
            {# <li class="pt-5 border-t justify-self-stretch border-slate-400/25">
              <a 
                class="inline-flex items-center gap-0.5 -m-1 text-blue-600 group hover:text-blue-700 text-base/snug hover:underline" 
                href="{{ page.url }}" 
              >
                {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('-translate-y-0.5 opacity-85') | safe }}
                <span>Til toppen av siden</span>
              </a>
            </li> #}
          </ul>
        </nav>
        {% endif %}

        {# Main Content #}
        <div class="prose prose--separator col-main">
          {{ chapter.templateContent | markdown | safe }}
        </div>
      </section>
    {% endfor %}

    <div class="pt-2 my-12 text-sm italic border-t border-slate-200 col-main">{{ published | safe }}</div>

    <div 
      class="sticky z-20 hidden mx-auto mb-8 bottom-3 sm:grid sm:items-center" 
      x-show="showTopAnchor" 
      x-transition:enter="transition duration-200 ease-out"
      x-transition:enter-start="translate-y-8 opacity-0"
      x-transition:enter-end="translate-y-0 opacity-100"
    >
      <a href="#toppen" class="inline-flex items-center justify-center gap-1 py-3 pl-3 pr-5 mx-auto text-sm leading-tight text-center text-white rounded-full ring-4 ring-brand-purple-faded hover:underline bg-brand-purple-deep">
        {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('w-5 h-5 -translate-y-px') | safe }}
        <span>Til toppen av siden</span>
      </a>
    </div>

  </main>

  {% include "partials/kontakt.njk" %}

{%- endblock -%}