---
tags: ['slik-gjor-du-det', 'proto']
category: "Slik gjør du det"
type: "Slik gjør du det"
title: "Fyll ut meldekort – dagpenger"
ingress:
  "Fra du har registrert deg som arbeidssøker, og mens du venter på svar på søknaden, må du sende meldekort hver 14. dag og gjennom hele perioden du mottar dagpenger."
chapters: 'meldekort'
published: "Oppdatert 20. august 2025"
alpine: true
description: ''
order: 3
permalink: 'slik-gjor-du-det/fyll-ut-meldekort-dagpenger/index.html'
layout: 'article-page.njk'
---


