---
tags: ['produkt', 'proto']
category: "Pengestøtte"
type: "Produktside"
title: "Foreldrepenger"
description: ''
ingress:
  "Erstatter inntekten din når du skal være hjemme med barnet ved fødsel eller adopsjon."
published: "Oppdatert 21. august 2025"
audience:
  others:
    "Det finnes også informasjon om foreldrepenger til [arbeidsgivere](#)."

alpine: true
order: 9
permalink: 'produkt/foreldrepenger/index.html'
chapters: 'foreldrepenger'
layout: 'article-page.njk'
---
