---
tags: ["slik-gjor-du-det", "proto"]
category: "Slik gjør du det"
type: "Slik gjør du det"
title: "Pensjonsopptjening ved omsorg for barn"
ingress: "Du kan få pensjonsopptjening hvis du har daglig omsorg for barn under 6 år, eller barn mellom 6 og 18 år som er syke eller har funksjonsnedsettelser."
chapters: 'omsorgsopptjening'
published: "Oppdatert 5. september 2025"
alpine: true
order: 2
permalink: "slik-gjor-du-det/omsorgsopptjening-barn/index.html"
layout: "article-page.njk"
---
