---
title: 'Forsiden: Privat'
---
{% extends 'base.njk' %}

{% block content %}
  {% include "partials/header.njk" %}

  <main class="bg-white">
    <div class="px-5 py-6 md:py-10 sm:px-8">
      <div class="max-w-screen-lg mx-auto xs:w-[95%]">
        <h2 class="text-3xl font-semibold">Hva kan vi hjelpe deg med?</h2>
        <div class="grid mt-4 gap-3 mx-auto sm:grid-cols-2 lg:grid-cols-3 md:gap-6">
          {% for service in servicesList %}
            <a class="relative flex items-center justify-between gap-4 group bg-blue-50 rounded shadow group hover:ring-2 hover:ring-blue-500 hover:text-blue-500 hover:shadow-xl hover:bg-gray-100 focus:shadow-xl h-32 duration-300" href="#">
              <div class="mt-1 px-6 py-5 text-2xl leading-tight underline group-hover:no-underline flex-1 transition-colors max-w-[24ch]">
                {{ service.title }}
              </div>
              {% if service.inlineSvg %}
                {{ service.inlineSvg | svgContents("right-0 h-full w-auto rounded-lg self-stretch absolute inset-y-0 pointer-events-none") | safe }}
              {% endif %}
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </main>

  {% include "partials/footer.njk" %}

{% endblock %}
