---
title: 'Forsiden: Privat'
---
{% extends 'base.njk' %}

{% block content %}
  {% include "partials/header.njk" %}

  <main class="text-gray-900 ">
    <div class="px-5 py-6 bg-white md:py-10 sm:px-8">
      <div class="max-w-screen-lg mx-auto xs:w-[95%]">
        <h2 class="text-3xl font-semibold">Hva kan vi hjelpe deg med?</h2>
        <div class="grid gap-3 mx-auto mt-4 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3 md:gap-6">
          {% for service in servicesList %}
            <a class="relative flex items-center justify-between gap-4 group bg-blue-50 rounded-lg group focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all hover:text-blue-500 hover:shadow-xl hover:bg-gray-100 focus:shadow-xl min-h-[5rem] md:min-h-[8.5rem] duration-300 px-6 py-2 ease-out" href="#">
              <div class="mt-1 text-xl md:text-2xl leading-snug font-semibold underline group-hover:no-underline flex-1 max-w-[75%]">
                {{ service.title }}
              </div>
              {% if service.inlineSvg %}
                {{ service.inlineSvg | svgContents("right-0 h-full w-auto rounded-lg self-stretch absolute inset-y-0 pointer-events-none") | safe }}
              {% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="px-5 py-6 bg-red-100 md:py-10 sm:px-8">
      <div class="max-w-screen-lg mx-auto xs:w-[95%]">
        <h2 class="text-3xl font-semibold">Snarveier</h2>
        <div class="grid gap-3 mt-4 sm:gap-4 md:gap-6 sm:grid-cols-2">
          {% for shortcut in shortcutsList %}
            <a class="flex items-center gap-4 px-6 py-5 transition-all duration-300 ease-out bg-white rounded-lg group hover:text-blue-500 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500" href="#">
              <svg width="54" height="54" fill="none" viewBox="0 0 54 54" aria-hidden="true" role="img" focusable="false" overflow="visible">
                <g class="transition-transform duration-200 ease-out translate-x-4 fine:group-hover:-translate-x-2">
                  <path stroke="#000" stroke-width="2" d="M9 17h16"/>
                  <path stroke="#CCE2EE" stroke-width="3" d="M8 14.5h20"/>
                  <path stroke="#000" stroke-width="2" d="M13 27h20"/>
                  <path stroke="#CCE2EE" stroke-width="3" d="M15 29.5h23m-30 10h21"/>
                  <path stroke="#000" stroke-width="2" d="M10 37h12"/>
                </g>
                <circle class="transition-transform duration-200 ease-out origin-center fine:group-hover:scale-0 fine:group-hover:translate-y-0.5 fine:group-hover:-translate-x-2" cx="27" cy="27" r="27" fill="#CCE2F0"/>
                <path class="transition-transform origin-center duration-200 fine:group-hover:scale-[1.15] fine:group-hover:translate-x-3" stroke="#262626" stroke-width="2" d="M41 27 23 45l-6-6 12-12-12-12 6-6 18 18Z"/>
              </svg>
              <span class="max-w-[30ch] text-xl font-semibold md:text-2xl">{{ shortcut.title }}</span>
            </a>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="px-5 py-6 bg-gray-100 md:py-10 sm:px-8">
      <div class="max-w-screen-lg mx-auto xs:w-[95%]">
        <h2 class="text-3xl font-semibold">Aktuelt</h2>
        <div class="grid gap-3 mt-4 sm:gap-4 md:gap-6 sm:grid-cols-2">
          {% for news in newsList %}
            <a class="grid gap-2 px-6 py-5 transition-all duration-300 ease-out bg-white rounded-lg hover:text-blue-500 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500" href="#">
              <span class="max-w-[30ch] text-xl font-semibold md:text-2xl underline">{{ news.title }}</span>
              <span class="text-lg opacity-70">{{ news.date }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="px-5 pt-6 pb-12 bg-white md:pt-10 md:pb-16 sm:px-8">
      <div class="max-w-screen-lg mx-auto xs:w-[95%]">
        <h2 class="text-3xl font-semibold">Kontakt oss</h2>
        <div class="grid gap-3 mt-4 sm:gap-4 md:gap-6 sm:grid-cols-2">
          <a class="relative grid gap-2 px-6 py-6 bg-blue-50 rounded-t-3xl rounded-r-3xl" href="#">
            <h3 class="text-xl font-semibold text-blue-500 underline md:text-2xl">Du kan chatte med oss</h3>
            <p class="text-lg">Du møter først chatbot Frida. Du kan be Frida om å få chatte med en veileder (hverdager 09:00–15:00)</p>
            <svg class="absolute left-0 top-full" viewBox="0 0 24 24" width="24" height="24" role="img" aria-hidden="true" focusable="false">
              <polygon class="fill-blue-50" points="0 0, 24 0, 0 24"/>
            </svg>
          </a>
          <a class="relative grid content-start gap-2 px-6 py-6" href="#">
            <h3 class="text-xl font-semibold text-blue-500 underline md:text-2xl">Du kan også ringe eller skrive til oss</h3>
            <p class="text-lg">Se hvordan du kan kontakte oss på ulike måter.</p>
          </a>
        </div>
      </div>
    </div>

  </main>

  {% include "partials/footer.njk" %}

{% endblock %}
