---
title: 'Produkt&shy;oversikt'
description: ''
tags:
  - template
order: 4
bodyClass: ''
---
{% extends 'base.njk' %}

{% block content %}
  <main
    class="text-lg text-gray-900"
    x-data="{
      categoryFilter: new URLSearchParams(location.search).get('category') || 'Alle',
      domainFilter: new URLSearchParams(location.search).get('domain') || 'Alle',
      show_item(el) {
        return (
          (this.categoryFilter === 'Alle'
          || el.dataset.category.includes(this.categoryFilter))
          && (this.domainFilter === 'Alle'
          || el.dataset.domain.includes(this.domainFilter))
        )
      }
    }"
    x-init="
      $watch('categoryFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('category', value);
        history.pushState(null, document.title, url.toString());
      });
      $watch('domainFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('domain', value);
        history.pushState(null, document.title, url.toString());
      });"
    >
    <div class="grid py-8 bg-white grid-cols-layout md:py-12">
      <div class="relative col-popout">

        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">Søknad og skjema fra A&nbsp;til&nbsp;Å</h1>
        <p class="mt-3 md:mt-6 max-w-prose">Pengestøtter og tjenester fra NAV for privatpersoner. Du kan søke eller sortere på område og kategori.</p>

        <div class="absolute hidden top-3 right-12 md:block">
          {{ '/src/_includes/svg/pictogram-support.svg' | svgContents('w-32 h-32') | safe }}
        </div>

        <aside class="grid items-start gap-8 mt-8">
          {% set labelClasses = "inline-flex cursor-pointer px-4 pt-1.5 pb-1.5 leading-tight text-base bg-gray-100 ring-1 ring-gray-200/25 rounded-full hover:bg-orange-100" %}
          {% set inputClasses = "absolute opacity-0 pointer-events-none" %}

          {% for group in filters | dictsort %}
            <div class="">
              <h2 class="text-sm tracking-widest uppercase">{{ group[1].title | safe }}</h2>

              <ul class="flex flex-wrap items-start mt-3 gap-x-2 gap-y-3">
                  <li>
                    <input
                      type="radio"
                      x-model="{{ group[0] }}Filter"
                      class="{{ inputClasses }}
                        {{ 'peer/category' if group[0] === 'category' }}
                        {{ 'peer/domain' if group[0] === 'domain' }}"
                      name="productType-{{ group[0] | slug }}"
                      value="Alle"
                      id="productType-{{ group[0] | slug }}-all"
                      checked="checked"
                    />
                    <label
                      class="{{ labelClasses }}
                      {{ 'peer-checked/category:bg-blue-600 peer-checked/category:text-white' if group[0] === 'category' }}
                      {{ 'peer-checked/domain:bg-blue-600 peer-checked/domain:text-white' if group[0] === 'domain' }}" for="productType-{{ group[0] | slug }}-all"
                    >
                      Alle
                    </label>
                  </li>
                {% for item in group[1].items %}
                  <li>
                    <input
                      type="radio"
                      x-model="{{ group[0] }}Filter"
                      class="{{ inputClasses }}
                        {{ 'peer/category' if group[0] === 'category' }}
                        {{ 'peer/domain' if group[0] === 'domain' }}"
                      name="productType-{{ group[0] | slug }}"
                      value="{{ item }}"
                      id="productType-{{ item | lower }}"
                    />
                    <label
                      class="{{ labelClasses }}
                      {{ 'peer-checked/category:bg-blue-600 peer-checked/category:text-white' if group[0] === 'category' }}
                      {{ 'peer-checked/domain:bg-blue-600 peer-checked/domain:text-white' if group[0] === 'domain' }}" for="productType-{{ item | lower }}"
                    >
                      {{ item }}
                    </label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </aside>
      </div>
    </div>

    <div class="grid pt-8 pb-20 bg-gray-100 grid-cols-layout md:pt-12">
      <div class="col-popout max-w-prose">

        <div class="hidden">
          <label for="fiiilter" class="font-semibold">Søk</label>
          <input id="fiiilter" type="text" class="w-full px-4 py-3 bg-white border rounded-lg shadow-inner focus:outline-none focus:ring focus:ring-gray-600 border-gray-300/50">
        </div>

        <div class="grid mt-3 bg-white divide-y divide-gray-200 rounded-lg shadow">
          {% for product in products %}
            {% include "partials/product-item.njk" %}
          {% endfor %}

        </div>

      </div>
    </div>
  </main>
{% endblock %}
