{%- macro button(params) -%}

  {%- set default = "bg-white ring-2 ring-blue-500 text-blue-600 hover:bg-blue-50" -%}

  {%- if params.variant -%}
    {%- if params.variant === "primary" -%}
      {%- set variant = "" -%}
      {# bg-blue-600 hover:bg-blue-600 text-white #}
    {%- endif -%}

    {%- if params.variant === "secondary" -%}
      {%- set variant = "" -%}
    {%- endif -%}
  {%- endif -%}

  <a href="{{ params.href or '#' }}" class="font-medium rounded text-center pt-2 pb-1.5 px-5 no-underline {{ variant or default }} {{ params.class }}">
    <span>{{ params.text | safe }}</span>
  </a>
{%- endmacro -%}
