{#
  params = { title, array, value }
#}

{%- macro filterGroup(params) -%}
<fieldset class="">
  {# text-sm tracking-widest uppercase opacity-70 #}
  <legend class="font-semibold">{{ params.title }}</legend>

  {%- set buttonClasses = "inline-flex cursor-pointer px-4 pt-1.5 pb-1.5 leading-tight text-base text-left rounded-full focus:ring-2" -%}

  <ul class="flex flex-wrap items-start mt-2.5 gap-x-2 gap-y-2.5">
    {%- if params.showAll -%}
    <li>
      <button
        type="button"
        class="{{ buttonClasses }}"
        x-on:click="{{ params.value }} = 'alle', updateCount($refs)"
        x-bind:class="{{ params.value }} === 'alle' ? 'text-white bg-deepblue-600' : 'bg-deepblue-50 fine:hover:bg-deepblue-100'"
      >Alle</button>
    </li>
    {%- endif -%}

    {%- for item in params.array -%}
    <li>
      <button
        type="button"
        class="{{ buttonClasses }}"
        x-on:click="{{ params.value }} = '{{ item | slugify }}', updateCount($refs)"
        x-bind:class="{{ params.value }} === '{{ item | slugify }}' ? 'text-white bg-deepblue-600' : 'bg-deepblue-50 fine:hover:bg-deepblue-100'"
      >{{ item | safe }}</button>
    </li>
    {%- endfor -%}
  </ul>
</fieldset>
{%- endmacro -%}
