{% macro readmore(params) %} 
<details class="readmore">
  <summary>
    {{ params.title | safe }}
  </summary>
  <div class="py-2 pl-5 -translate-x-px border-l-2 border-slate-400">{{ params.content | markdown | safe }}</div>
</details>
{% endmacro %}