{% macro tile(args) %}
<div class="relative pl-5 pr-16 py-4 rounded-lg group leading-tight bg-white border border-slate-300  {{ args.theme or "has-[a:hover]:bg-blue-50 has-[a:active]:bg-blue-50" }}">
  <a class="z-10 flex-1 text-base font-semibold no-underline text-pretty after:absolute after:inset-0 hover:underline hover:decoration-2" href="#">
    {{ args.title }}
  </a>
  {%- if args.kicker %}
  <p class="font-medium leading-none mt-0.5 tracking-wider pointer-events-none opacity-70 small-caps">
    {%- for item in args.kicker %}{{ item }}{{ ', ' if not loop.last }}{% endfor -%}
  </p>
  {%- endif %}
  {{ '/src/_includes/svg/icons/arrow-right.svg' | svgContents('w-5 h-5 shrink-0 absolute my-auto inset-y-0 right-5 text-blue-600') | safe }}
</div>
{% endmacro %}
