---js
{
  title: 'Søknad og skjema',
  kicker: 'fra A til Å',
  pagination: {
    data: "roleFilter",
    size: 1,
    alias: "role",
  },
  eleventyComputed: {
    roleSlug: "{{ role | slugify }}",
    // permalink: "/soknad-og-skjema-samarbeidspartner/{{ role | slugify }}/",
    permalink: false,
    description: 'Finn søknad og skjema til pengestøtter og tjenester for {{ role | lowerfirst }} fra NAV'
  }
}
---

{%- extends 'base.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- from "macros/tile.njk" import tile -%}
{%- from "macros/microcard.njk" import microcard -%}
{%- from "macros/filterGroup.njk" import filterGroup -%}

{%- set productsByRole = products | filterByArray(role) -%}
{%- set typesByProducts = productsByRole | extractTags('type') | sort(true, false) | reverse -%}

{%- block content -%}
  {% include "partials/language.njk" %}

  <main
    class="grid pb-4 text-fluid-20-22 md:pb-12 grid-cols-layout"
    x-data="{
      typeFilter: new URLSearchParams(location.search).get('type') || 'alle',
      filterItem(el) {
        const item = el.querySelector('h2').textContent.toLowerCase()
        if (this.search === '') {
          return (
            el.dataset.type.split(' ').includes(this.typeFilter)
          )
        } else {
          this.typeFilter = 'alle'
          return (
            item.includes(this.search.toLowerCase())
          )
        }
      },
      search: '',
      count: '',
      updateCount() {
        $nextTick(() => {
          let count = Array.from(this.$refs.entries.children).filter(element => window.getComputedStyle(element).display !== 'none').length;
          this.count = count
        })
      },
      clearSearch() {
        this.search = ''
      }
    }"
    x-init="
      $watch('typeFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('type', value);
        history.replaceState(null, document.title, url.toString());
        updateCount();
        clearSearch();
      });
      $watch('search', (value) => {
        updateCount()
      });
      updateCount()"
  >
    <div class="relative col-wide md:grid md:grid-cols-[8rem_auto] gap-x-8 items-start mb-12 w-full">

      {# Pictogram #}
      {{ '/src/_includes/svg/piktogrammer/produkter/support.svg' | svgContents('w-full h-auto max-w-24 text-green-800 float-right md:float-none row-start-1 justify-self-end') | safe }}

      <div class="lg:grid lg:col-start-2 lg:grid-cols-12 lg:gap-x-10 md:pr-20 lg:pr-0">
        {# Intro #}
        <div class="md:col-start-1 md:col-end-9">
          <h1 class="text-fluid-32-36 font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
          <p class="mt-2 text-fluid-16-18 tracking-wider text-gray-700 uppercase">{{ kicker | safe }}</p>
          <p class="max-w-2xl mt-6 text-fluid-22-24 md:text-fluid-24-28">{{ description | safe }}. <a class="text-blue-500 underline hover:decoration-2 hover:text-deepblue-600" href="/soknad-og-skjema-samarbeidspartner/">Bytt rolle</a>.</p>
        </div>


          {%- if (productsByRole | length) > 12 -%}
          <div class="mt-6 lg:col-start-1 lg:col-end-9" x-data="{ filterDrawer: false }">
            <div class="mb-8 md:hidden">
              <label for="searchFilter-desktop" class="font-semibold">Bruk filter eller søk</label>
              <div class="flex flex-row-reverse gap-3 mt-1.5">
                <div class="relative flex-1">
                  <span class="absolute inset-y-0 left-0 grid px-2.5 place-items-center">
                    {{ '/src/_includes/svg/icons/search.svg' | svgContents('w-6 h-6') | safe }}
                  </span>
                  <input id="searchFilter-desktop" type="search" x-model="search" class="w-full max-w-16 py-2.5 pl-10 pr-3 bg-white border border-gray-300 rounded shadow-inner appearance-none focus:outline-none focus:ring focus:ring-blue-800">
                </div>
                <button
                  type="button"
                  class="flex items-center gap-2 pl-2.5 pr-3.5 border rounded shrink-0 text-deepblue-800 bg-deepblue-100 border-deepblue-200 hover:text-white hover:bg-deepblue-600 hover:border-deepblue-600"
                  x-on:click="filterDrawer = !filterDrawer"
                  x-bind:aria-expanded="filterDrawer">
                  {{ '/src/_includes/svg/icons/filter.svg' | svgContents('w-5 h-5') | safe }}
                  <span>Filter</span>
                </button>
              </div>

              <div
                x-show="filterDrawer"
                x-transition:enter="transition ease-out duration-500"
                x-transition:enter-start="-translate-y-2 opacity-0"
                x-transition:enter-end="translate-y-0 opacity-100"
              >
                <form class="mt-8 bg-white col-narrow">
                  {{ filterGroup({
                    array: typesByProducts,
                    title: 'Velg type',
                    value: 'typeFilter',
                    showAll: true
                  }) }}
                </form>
              </div>
            </div>

            <div class="hidden gap-8 md:grid">
              {{ filterGroup({
                array: typesByProducts,
                title: 'Velg type',
                value: 'typeFilter',
                showAll: true
              }) }}
              <div>
                <label for="searchFilter-desktop" class="font-semibold">Finn tjeneste</label>
                <div class="relative mt-2">
                  <span class="absolute inset-y-0 left-0 grid px-2.5 place-items-center">
                    {{ '/src/_includes/svg/icons/search.svg' | svgContents('w-6 h-6') | safe }}
                  </span>
                  <input id="searchFilter-desktop" type="search" x-model="search" class="w-full max-w-16 pl-10 pr-3 py-2.5 border border-gray-300 rounded shadow-inner bg-white focus:outline-none focus:ring focus:ring-blue-800">
                </div>
              </div>
            </div>
          </div>
          {%- endif -%}

          <div class="mt-8 md:mt-9 lg:col-start-1 lg:col-end-9">

            <div class="flex items-center justify-between mb-2">
              <p>Viser <span x-text="count"></span> av {{ (productsByRole | length) }}  tjenester</p>
              <template x-if="count < {{ (productsByRole | length) }}">
                <button type="button" class="inline-flex items-center gap-1 text-blue-500 hover:underline" x-on:click="typeFilter = 'alle', updateCount($refs), clearSearch()">
                  <svg class="w-5 h-5" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.53 5.47a.75.75 0 0 0-1.06 1.06L10.94 12l-5.47 5.47a.75.75 0 1 0 1.06 1.06L12 13.06l5.47 5.47a.75.75 0 1 0 1.06-1.06L13.06 12l5.47-5.47a.75.75 0 0 0-1.06-1.06L12 10.94 6.53 5.47Z" fill="currentColor"></path></svg>
                  <span>Nullstill</span>
                </button>
              </template>
            </div>

            <div class="border-b border-deepblue-100" x-ref="entries" x-show="count !== 0">
              {%- for product in productsByRole | sort(true, false, 'title') | reverse -%}
                <div
                  x-data="{ expanded: false }"
                  class="border-t focus-within:z-10 c-product-tile border-deepblue-100"
                  x-show="filterItem($el)"
                  data-type="alle {% for item in product.type %}{{ item | slugify }} {% endfor %}"
                >
                  <div class="relative flex items-center gap-4 p-4 pr-8 text-left rounded-lg md:py-6 focus-within:z-20" x-bind:class="expanded ? 'bg-deepblue-50 ring-1 ring-deepblue-50 pointer-fine:hover:bg-deepblue-100' : 'pointer-fine:hover:bg-deepblue-100'">

                    {%- if product.icon -%}
                      {{ product.icon | svgContents('w-12 h-12 shrink-0') | safe }}
                    {%- endif -%}

                    <div class="grid gap-1">
                      <h2 class="text-fluid-22-24 font-semibold leading-tight">
                        {{ product.title | safe }}
                      </h2>
                      <p class="text-fluid-18-20 opacity-80">
                      {%- for item in product.type -%}
                        <span>{{ item }}</span>{{ ', ' if product.type.length > 1 and not loop.last }}
                      {%- endfor -%}
                      </p>
                    </div>
                      <button
                        type="button"
                        x-on:click="expanded = !expanded"
                        class="absolute inset-0 flex items-center justify-end w-full pr-4 rounded-sm sm:rounded-lg group focus:outline-none focus-visible:ring focus-visible:ring-inset focus-visible:ring-blue-800 focus-visible:ring-offset-2 focus-visible:ring-offset-white"
                        aria-expanded="false"
                        x-bind:class="expanded ? 'ring ring-white' : 'pointer-fine:hover:ring pointer-fine:hover:ring-white'"
                        x-bind:aria-expanded="expanded"
                      >
                        <span class="sr-only">Vis</span>
                        {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('mr-1.5 w-5 h-5 opacity-50 transition duration-100 group-aria-expanded:rotate-180') | safe }}
                      </button>

                  </div>

                  <div class="pt-5 pb-8 px-clamp-gap relative min-h-[20vh] markdown sm:px-20 mb-4" x-bind:hidden="!expanded" hidden>
                    <p>{{ product.ingress }}</p>

                    {%- if product.contentBlocks -%}
                      {%- for block in product.contentBlocks -%}
                      {%- include "partials/contentBlocks.njk" -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                </div>
              {%- endfor -%}
            </div>

            <div x-show="count === 0" class="p-6 py-8 text-center overflow-hidden grid items-center leading-snug rounded-lg bg-gray-100 min-h-19 lg:col-span-6">
              <p class="max-w-prose">Ingen søknader eller skjema er merket med denne kombinasjonen av type og rolle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{%- endblock -%}
