---
category: 'For privatpersoner'
type: 'Forside'
title: 'Forside'
description: 'Lenker til de viktigste områdene + utvalgte snarveier.'
tags: ['proto']
order: 1
alpine: true
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="" x-bind:inert="menuOpen || myPageOpen">
    <div class="grid pt-8 pb-10 grid-cols-combi ">
      <div class="col-container">
        <h2 class="font-semibold text-fluid-24-28">Hva kan vi hjelpe deg med?</h2>
        <ul class="grid gap-2 mt-4 md:text-fluid-22-24 sm:grid-cols-2 xl:grid-cols-3 sm:gap-6">
          {%- for area in areaList -%}
            <li class="relative grid items-center overflow-clip break-inside-avoid pl-4 sm:pl-6 pr-28 sm:pr-36 py-3 rounded-lg min-h-20 md:min-h-32 transition text-blue-700 bg-deepblue-50 has-[a:hover]:bg-slate-100 has-[a:focus-visible]:ring has-[a:focus-visible]:ring-blue-600 has-[a:hover]:ring has-[a:hover]:ring-deepblue-100 c-area-card">
              <a class="leading-snug focus-visible:outline-none after:absolute after:inset-0 text-balance hover:decoration-2" href="{{ area.href or '#'}}">
                <span>{{ area.title | safe }}</span>
              </a>
              {{ area.icon | svgContents("z-10 right-0 max-h-full h-full w-auto self-stretch absolute bottom-0 pointer-events-none") | safe if area.icon }}
            </li>
          {%- endfor -%}
        </ul>
        <div class="mt-4">
          <a class="inline-flex gap-2 leading-tight text-blue-600 underline focus-visible:outline-none text-balance hover:decoration-2" href="#">
            <span>Alle pengestøtter og tjenester fra A til Å</span> 
            {{ '/src/_includes/svg/icons/arrow-right.svg' | svgContents('w-6 h-6 shrink-0 right-5 text-blue-600') | safe }} 
          </a>
        </div>
      </div>
    </div>

    <div class="grid pt-8 pb-12 grid-cols-combi bg-red-50 ">
      <div class="col-container">
        <h2 class="font-semibold text-fluid-24-28">Snarveier</h2>
        <ul class="mt-3 md:text-fluid-20-22 sm:gap-x-6 sm:columns-2">
          {%- for shortcut in shortcutsList -%}
            <li class="-mt-px border-t border-b border-slate-300">
              <a class="relative flex items-center justify-start gap-2 px-2 py-3 text-blue-600 focus-visible:bg-white focus-visible:z-10 focus-visible:rounded focus-visible:outline-none hover:underline hover:decoration-2 focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:ring-offset-2 focus-visible:ring-offset-white" href="#">
                {{ '/src/_includes/svg/icons/arrow-right.svg' | svgContents("w-6 h-6") | safe if shortcut.icon }}
                <span>{{ shortcut.title | safe }}</span>
              </a>
            </li>
          {%- endfor -%}

        </ul>
      </div>
    </div>

    <div class="grid pt-8 pb-12 bg-white grid-cols-combi">
      <div class="col-container">
        <h2 class="font-semibold text-fluid-24-28 ">Aktuelt</h2>
        <div class="grid gap-2 mt-3 sm:grid-cols-2 sm:gap-6">
          {%- for news in newsList -%}
          <article class="relative grid pl-4 md:pl-6 pr-16 py-4 py-6 rounded-lg bg-slate-100 has-[a:focus-visible]:ring has-[a:focus-visible]:ring-blue-600 content-between has-[a:hover]:ring has-[a:hover]:ring-deepblue-300">
            <h3 class="mb-auto leading-snug text-fluid-20-22">
              <a class="text-blue-600 after:z-10 after:absolute after:inset-0 focus-visible:outline-none" href="#">{{ news.title | safe }}</a>
            </h3>
            <p class="leading-tight tracking-wide text-gray-800 text-fluid-20-22 small-caps">{{ news.date }}</p>
            {{ '/src/_includes/svg/icons/arrow-right.svg' | svgContents('w-6 h-6 shrink-0 absolute my-auto inset-y-0 right-5 text-blue-600') | safe }}
          </article>
          {%- endfor -%}
        </div>
        <div class="mt-4">
          <a class="inline-flex gap-2 leading-tight text-blue-600 underline focus-visible:outline-none text-balance hover:decoration-2" href="#">
            <span>Flere saker</span> 
            {{ '/src/_includes/svg/icons/arrow-right.svg' | svgContents('w-6 h-6 shrink-0 right-5 text-blue-600') | safe }} 
          </a>
        </div>
      </div>
    </div>

    <div class="grid pt-10 pb-20 bg-slate-100 grid-cols-combi ">
      <div class="col-container">
        <h2 class="font-semibold text-fluid-24-28 ">Kontakt oss</h2>
        <div class="grid gap-6 mt-4 sm:grid-cols-2">
          <div class="relative px-5 py-3.5 rounded-bl-none focus-within:rounded-bl-lg rounded-lg bg-white has-[a:focus-visible]:ring has-[a:focus-visible]:ring-blue-600 group has-[a:hover]:drop-shadow">
            <h3 class="text-fluid-20-22 ">
              <a class="text-blue-600 underline hover:decoration-2 after:inset-0 after:absolute after:z-10 focus-visible:outline-none" href="#">Du kan chatte med oss</a>
            </h3>
            <p class="mt-1 text-balance">Du møter først chatbot Frida. Du kan be Frida om å få chatte med en veileder (hverdager 09.00–15.00)</p>
            <svg class="absolute left-0 top-full group-focus-within:hidden" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false" >
              <polygon fill="#fff" points="0 0, 24 0, 0 24" />
            </svg>
          </div>
          <div class="relative px-5 py-4 rounded-lg has-[a:focus-visible]:ring has-[a:focus-visible]:ring-blue-600">
            <h3 class="text-fluid-20-22">
              <a class="text-blue-600 underline hover:decoration-2 focus-visible:outline-none" href="/skriv-til-oss/">Du kan også ringe eller skrive til oss</a>
            </h3>
            <p class="mt-1 leading-snug text-balance">Se hvordan du kan kontakte oss på ulike måter.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{%- endblock -%}


{% block styles %}
  <style>
    @media (prefers-reduced-motion: no-preference) and (pointer:fine) {
      .c-area-card,
      .c-area-card :where(svg) * {
        transition-property: transform, background-color, color, border-color, fill;
        transition-duration: 130ms;
        transition-timing-function: cubic-bezier(.4,0,1,1);
      }
      .c-area-card:where(:hover, :focus) :where(svg) * {
        transition-duration: 260ms;
        transition-timing-function: cubic-bezier(0,0,.2,1);
      }
    }

    @media (pointer:fine) {
      .c-area-card__letter-diagonal {
        transform: translate3d(-97%, 0, 0) rotate(-10deg) scale(3.1);
        transform-origin: left;
        fill: #CCE2F0;
      }

      .c-area-card__letter-upright {
        transform: translate3d(-129%, 0, 0) rotate(10deg) scale(4);
        transform-origin: left;
        fill: #CCE2F0;
      }

      .c-area-card__letter-cover {
        transform: translate3d(-264%, 0, 0) rotate(10deg) scale(3.1);
        transform-origin: left;
        fill: #CCE2F0;
      }

      :where(.c-area-card__letter-group) {
        transform: translate3d(10%, 0, 0);
      }
      :where(.c-area-card__briefcase) {
        transform: translate3d(22%, -25%, 0);
      }
      :where(.c-area-card__stroller) {
        transform: translate3d(21%, -21%, 0);
      }
      :where(.c-area-card__stethoscope) {
        transform: translate3d(12%, -18%, 0);
      }
      :where(.c-area-card__piggybank) {
        transform: translate3d(18%, -26%, 0);
      }
      :where(.c-area-card__guide-dog) {
        transform: translate3d(12%, -24%, 0);
      }
      :where(.c-area-card__hand) {
        transform: translate3d(10%, -18%, 0);
      }
      :where(.c-area-card__heart) {
        transform: translate3d(22%, -22%, 0) scale(0.8);
      }

      :where(.c-area-card__shapes, .c-area-card__pill, .c-area-card__house, .c-area-card__compass, .c-area-card__chart, .c-area-card__arrow) {
        transform: translate3d(58%, 0, 0);
      }

      :where(.c-area-card__coin) {
        transform: translate3d(-10%, -50%, 0);
      }

      .c-area-card:where(:hover, :focus) :where(.c-area-card__letter-diagonal, .c-area-card__letter-upright) {
        fill: #ffb8b8;
      }
      .c-area-card:where(:hover, :focus) :where(svg) * {
        transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
      }
    }
  </style>  
{% endblock %}