---
pagination:
  data: productList
  size: 1
  alias: entry
permalink: "maler/produktoversikt/{{ entry.title | slug }}/index.html"
eleventyExcludeFromCollections: true
---
{% extends 'base.njk' %}

{% block script %}
  <script src="/main.min.js" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}

  <main class="grid grid-cols-layout min-h-[50vh]">
    <div class="py-12">
      <a href="../" class="font-semibold tracking-wider text-blue-500 uppercase hover:underline">Produktoversikt</a>
      <h1 class="mt-1 text-5xl font-semibold">{{ entry.title | safe }}</h1>
      <div class="mt-4 text-lg max-w-prose">
        {% for block in entry.contentBlocks %}
          {% if block.type === 'markdown' %}
            <div class="markdown {{ 'mt-7' if loop.index >= 2 }}">
              {% for item in block.content %}
                {{ item | markdown | safe }}
              {% endfor %}
            </div>

          {# {% elseif block.type === 'tag' %}
            <div class="mt-7">
              {% for tag in block.tags %}
                <span class="border text-sm tracking-wide rounded bg-gray-50 py-0.5 px-2 border-gray-200">{{ tag }}</span>
              {% endfor %}
            </div> #}

          {% elseif block.type === 'microcards' %}
            <div class="mt-7">
              <h3 class="text-lg font-semibold">{{ block.title | safe }}</h3>
              <div class="flex flex-wrap gap-1 mt-1 -mx-0.5">
              {% for link in block.links %}
                <a class="flex items-center gap-2 pt-1.5 pb-1 pl-2.5 pr-4 text-sm bg-white border border-gray-300 rounded-full before:w-2 before:h-2 before:rounded-full before:bg-blue-400 before:mb-px" href="#">
                  {{ link }}
                </a>
              {% endfor %}
              </div>
            </div>

          {% elseif block.type === 'cta' %}
            <div class="mt-7">
              <a class="inline-flex items-center gap-2 px-4 py-2  {{ 'bg-blue-500 text-white' if block.variant === 'primary' else 'text-blue-600 bg-white' }}  rounded-sm ring-2 ring-blue-500" href="#">
                {{ block.text }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>

  {% include "partials/footer.njk" %}
{% endblock %}
