---
title: 'Søknad og skjema fra A til Å'
description: 'Pengestøtter og tjenester fra NAV for samarbeidspartnere. Du kan søke eller filtrere etter type og rolle.'
order: '3'
permalink: '/produktoversikt-samarbeidspartner/'
---
{%- extends 'base.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- from "macros/microcard.njk" import microcard -%}
{%- from "macros/filterGroup.njk" import filterGroup -%}

{%- block content -%}
  <main class="py-12 text-lg text-gray-900">
    <div class="grid grid-cols-layout">
      <div class="relative w-full col-narrow lg:col-wide">

        <div class="hidden float-right pb-8 mt-2 ml-24 xs:block sm:pb-0 sm:-mb-8">
          {{ '/src/_includes/svg/pictograms/support.svg' | svgContents('w-[12vw] h-auto overflow-hidden max-w-[7rem]') | safe }}
        </div>

        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>

        <p class="max-w-2xl mt-2 text-xl md:mt-3 md:text-2xl">{{ description | safe }}</p>
      </div>
    </div>

    <div class="grid mt-8 lg:mt-12 grid-cols-layout">
      <div class="grid w-full gap-8 pb-20 lg:gap-x-16 lg:items-start col-narrow lg:col-wide">
        <ul class="flex flex-wrap gap-2 text-xl max-w-prose">
        {%- for item in roleFilter -%}
          <li class="">
            <a class="relative z-10 flex px-6 py-2 border border-gray-300 rounded-full fine:hover:bg-blue-50" href="/produktoversikt-samarbeidspartner/{{ item | slugify }}/">{{ item | safe }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </div>
  </main>
{%- endblock -%}
