---
title: 'Søknad og skjema'
kicker: 'fra A til Å'
description: 'Pengestøtter og tjenester fra NAV for samarbeidspartnere. Du kan søke eller filtrere etter type og område.'
permalink: '/produktoversikt-samarbeidspartner/'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="grid py-12 text-lg text-gray-900 grid-cols-layout">
    <div class="relative col-wide max-w-prose md:max-w-none mx-auto md:mx-0 grid md:grid-cols-[6rem_auto] gap-x-8 items-start mb-12 w-full">

      {# Pictogram #}
      {{ '/src/_includes/svg/pictograms/support.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 absolute right-0 md:relative') | safe }}

      {# Intro #}
      <div class="pr-28 md:col-start-2 md:row-start-1 md:pr-0">
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-2 text-sm tracking-wider text-gray-700 uppercase">{{ kicker | safe }}</p>
        <p class="max-w-2xl mt-8 text-xl md:mt-3 md:text-2xl">{{ description | safe }}</p>
      </div>

      <div class="mt-10 md:col-start-2">
        <ul class="grid gap-3 xs:grid-cols-2 md:gap-4 md:grid-cols-3">
          {% for item in roleFilter %}
          <li class="grid">
            <a href="/produktoversikt-samarbeidspartner/{{ item | slugify }}/" class="relative z-10 flex px-4 py-4 text-left rounded-lg bg-deepblue-100 fine:hover:bg-blue-50 xs:min-h-24">{{ item | safe }}</button>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </main>
{%- endblock -%}
