---
tags: ["produkt", "proto"]
category: "Sosiale tjenester"
type: "Temaartikkel"
title: "Tolkning av sosialtjenesteloven"
description: ""
ingress: "Arbeids- og velferdsdirektoratet har delegert myndighet fra Arbeids- og sosialdepartementet til å forvalte sosialtjenesteloven, herunder ansvaret for å tolke regelverket og veilede i dette."
audience:
  style: "default"
  current: "For ansatte i kommunen eller fylkeskommunen"
published: "Oppdatert 2. juli 2025"
alpine: true
order: 2
permalink: "produkt/tolkning-av-sosialtjenesteloven/index.html"
layout: "article-page.njk"
---
