---js
{
  type: "Mellomsteg",
  tags: ["template"],
  pagination: {
    data: "preSteps",
    size: 1,
    alias: "step",
  },
  eleventyComputed: {
    title: 'Søk om arbeids&shy;avklarings&shy;penger (AAP)',
    kicker: "Søknad",
    stepTitle: "{{ step.title }}",
    // permalink: "/soknad/aap/",
    permalink: false,
    order: "4"
  }
}
---
{%- extends 'base-basic.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- import "macros/formFields.njk" as form -%}


{%- block content -%}
  <main class="grid py-8 md:py-12 text-fluid-20-22 grid-cols-layout min-h-[70vh]" x-data="{ stepperOpen: false }">
    <div class="relative col-wide max-w-prose md:max-w-none mx-auto md:mx-0 md:grid md:grid-cols-[6rem_auto] md:gap-8 items-start mb-12 w-full auto-rows-min">

      {# Pictogram #}
      {{ '/src/_includes/svg/piktogrammer/produkter/soknad-og-skjema.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 float-right ml-8') | safe }}

      {# Intro #}
      <div class="md:col-start-2 md:row-start-1">
        <h1 class="text-fluid-32-36 font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-2 text-fluid-18-20 tracking-wider uppercase opacity-70">
          {{ kicker | upper }}
          {{ '–' if formId }}
          {{ formId | safe }}
        </p>
      </div>

      <div class="md:col-start-2">
        <div class="mt-6 text-fluid-20-22 max-w-prose">
          {% if step.markdown %}
            <div class="markdown">
              {{ step.markdown | markdown | safe }}
            </div>
          {% endif %}

          <h2 class="mt-8 text-fluid-22-24 font-semibold">{{ step.question }}</h2>
          <ul class="grid gap-2 mt-2">
            {% for answer in step.answers %}
            <li>
              <a href="{{ answer.href or '#' }}" class="flex items-center justify-between gap-4 px-4 py-3 border border-gray-400 rounded group sm:px-6 sm:py-4 hover:border-gray-600 hover:bg-blue-50 min-h-20">
                <span class="grid">
                <span class="text-fluid-22-24 font-semibold">{{ answer.title }}</span>
                <span>{{ answer.description }}</span>
                </span>
                {{ '/src/_includes/svg/icons/chevron-right.svg' | svgContents('w-5 h-5 opacity-80 group-hover:translate-x-1 transition') | safe }}
              </a>
            </li>
            {% endfor %}
          </ul>

          {% if pagination.pageNumber > 0 %}
          <div class="mt-8">
            <a class="font-semibold text-blue-500 underline hover:decoration-2 hover:text-deepblue-600" href="/soknad-og-skjema/dagpenger-1/">Tilbake</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

{%- endblock -%}

{%- block styles -%}{%- endblock -%}
{%- block script -%}{%- endblock -%}
