---
title: 'Helse og sykdom'
description: ''
alpine: true
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="grid pt-12 pb-24 grid-cols-mini lg:grid-cols-maxi">
    <div class="col-wide">
      <div class="text-sm tracking-widest uppercase">{{ type | safe }}</div>
        <h1 class="font-bold text-4xl/tight text-balance">{{ title | safe }}</h1>
        <h2 class="mt-2 text-lg">Hva er situasjonen din?</h2>
      </div>
    </div>
    <div class="mt-12 col-wide">
      <ul class="grid gap-2 -mx-8 md:gap-4 md:grid-cols-2 text-pretty">
        {%- for item in situationList -%}
          <li class="relative flex flex-col">
            <div class="flex flex-col justify-start flex-1 px-8 py-6 rounded-lg bg-slate-100 aspect-[5/2] gap-1">
              <h3 class="text-lg font-bold leading-snug">
                <a class="text-blue-600 underline hover:text-blue-500 hover:no-underline after:absolute after:inset-0" href="#">{{ item.title | safe }}</a>
              </h3>
              <p>{{ item.description | safe }}</p>
              {# <p class="pt-8 mt-auto text-sm tracking-widest uppercase">{{ item.category }}</p> #}
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>

  </main>
{%- endblock -%}
