---
title: Typografi
---

{% extends "blank.njk" %}

{% block style %}
  <style>
    body {
      background-color: #fefefe;
      font-size: 1.125rem;
      color: #262626;
    }
    .prose > :where(*) + :where(*) {
      margin-block-start: 1.75rem;
    }
    .prose > :where(h1, h2, h3, h4, h5) + :where(*) {
      margin-block-start: 0;
    }
    .prose > :where(h1, h2, h3, h4, h5) {
      font-weight: 600;
      color: #141414;
    }
    .prose > :where(dl, p, li) :where(strong, dt, b) {
      font-weight: 600;
    }
    .prose > :where(*) > a {
      text-decoration: underline;
      color: hsl(211, 100%, 35%);
    }
    .prose > :where(*) > a:hover {
      text-decoration: none;
      color: hsl(209, 100%, 39%);
    }
    .prose > :where(h1) {
      font-size: 2.5rem;
      line-height: 1.3;
      margin-block-end: 0.2em;
    }
    .prose > :where(h2) {
      font-size: 2rem;
      line-height: 1.25;
      margin-block-end: 0.25em;
    }
    .prose > :where(h3) {
      font-size: 1.5rem;
      line-height: 1.333332;
      margin-block-end: 0.3333334em;
    }
    .prose > :where(h4) {
      font-size: 1.25rem;
      line-height: 1.4;
      margin-block-end: 0.4em;
    }
    .prose > :where(h5) {
      font-size: 1rem;
      line-height: 1.5;
      margin-block-end: 0.5em;
      text-transform: uppercase;
      letter-spacing: 0.06em;
    }
    .prose > :where(ul, ol) {
      padding-inline-start: 1.3333334em;
    }
    .prose > :where(ul) {
      list-style: disc;
    }
    .prose > :where(ol) {
      list-style: decimal;
    }
    .prose > :where(ul, ol, dl) :where(li, dt) {
      margin-block-start: 0.75rem;
      margin-block-end: 0.125rem;
    }
    .prose > :where(p) {
      font-size: 1.125rem;
      line-height: 1.555556;
    }
    .prose > :where(pre) {
      white-space: pre-wrap;
      word-break: break-all;
    }
    .prose > :where(p) :where(code),
    .prose > :where(pre) {
      background-color: whitesmoke;
      padding: 0.125em 0.25em;
      margin-inline: 0.125em;
      border-radius: 0.25rem;
      font-size: 1rem;
    }
    .prose > :where(small) {
      font-size: 0.875rem;
      display: inline-block;
    }
    .prose > :where(blockquote) * + * {
      margin-block-start: 1.55556rem;
      display: inline-block;
    }
  </style>
{% endblock %}


{% block content %}
<div>
  <div class="max-w-[72ch] px-4 pt-24 pb-16 mx-auto prose">
    <h1>The quick brown fox</h1>
    <p>
      Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Deserunt amet ipsam enim sed sequi
      voluptatibus, culpa explicabo voluptate maxime a, cumque ea reprehenderit ad <code>consequuntur veniam</code>? Fuga
      impedit iste tenetur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">Architecto quasi</a>, incidunt eum ad, rerum
      dolorum sequi numquam illum deleniti nobis doloremque asperiores natus perferendis, recusandae at dolorem et aperiam
      totam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi, incidunt eum ad, rerum dolorum sequi
      numquam illum deleniti nobis doloremque asperiores natus perferendis, recusandae at dolorem et aperiam totam.
    </p>
    <h2>The quick brown fox <a href="#">jumps over the</a> lazy dog</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet ipsam enim sed sequi voluptatibus, culpa
      explicabo voluptate maxime a, cumque ea reprehenderit ad consequuntur veniam? Fuga impedit iste tenetur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi, incidunt eum ad, rerum dolorum sequi
      numquam illum deleniti nobis doloremque asperiores natus perferendis, recusandae at dolorem et aperiam totam.
    </p>
    <pre class="text-base"><code>&lt;link rel="stylesheet" href="https://nordcdn.net/ds/tokens/2.0.4/tokens.custom-properties.css" integrity="sha384-XtHi70a2WlH468I3Z4gPGu2ihcHfE7IzpM+bF0cn9nEXAG67YmXsSpBSEYULYC7E" crossorigin="anonymous" /&gt;</code></pre>
    <h3>The quick brown fox jumps over the lazy dog</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet ipsam enim sed sequi voluptatibus, culpa
      explicabo voluptate maxime a, cumque ea reprehenderit ad consequuntur veniam? Fuga impedit iste tenetur.
    </p>
    <h4>The quick brown fox jumps over the lazy dog</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi, incidunt eum ad, rerum dolorum sequi
      numquam illum deleniti nobis doloremque asperiores natus perferendis, recusandae at dolorem et aperiam totam.
    </p>
    <h5>The quick brown fox jumps over the lazy dog</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet ipsam enim sed sequi voluptatibus, culpa
      explicabo voluptate maxime a, cumque ea reprehenderit ad consequuntur veniam? Fuga impedit iste tenetur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi, incidunt eum ad, rerum dolorum sequi
      numquam illum deleniti nobis doloremque asperiores natus perferendis, recusandae at dolorem et aperiam totam.
    </p>
    <h3>The quick brown fox jumps over the lazy dog</h3>
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam doloribus. Dolore, eaque. Distinctio
        consequatur alias quae commodi praesentium recusandae libero, voluptate veniam. Commodi, velit ad ex sequi ut
        fugit?
      </li>
      <li>
        Molestias autem suscipit quos debitis. Fugiat asperiores vero unde quo, assumenda culpa iusto aspernatur fuga
        deleniti enim inventore! Ipsam, est. Impedit, illum! Animi eveniet perspiciatis nobis quia autem nam veniam.
      </li>
      <li>
        Aperiam corporis, aspernatur commodi a, quod illo suscipit voluptas similique, possimus odit error natus ex!
        Consequatur perferendis et similique, quo labore delectus autem minus enim aspernatur nesciunt saepe, nihil
        laboriosam.
      </li>
      <li>
        Sed, sunt. Ut, nihil? Odio quidem suscipit harum ea. Pariatur alias error incidunt provident tenetur neque
        accusantium quis, explicabo et quisquam, dignissimos soluta, consectetur sapiente recusandae cum expedita maiores
        deserunt.
      </li>
      <li>
        Soluta mollitia neque nemo libero ut totam minus enim maxime qui inventore et veniam, alias minima officia
        pariatur magni ipsa deserunt architecto asperiores ex dignissimos, culpa unde. Sint, cupiditate dolor?
      </li>
    </ul>
    <ol>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et alias adipisci ut, ipsum quis quisquam deleniti quia,
        laudantium commodi placeat nostrum voluptatibus. Iusto labore voluptatibus dignissimos, sed eum maiores quaerat.
      </li>
      <li>
        Cum quasi temporibus distinctio maiores, dignissimos ullam quisquam? Dolorem similique consequatur laudantium rem
        perferendis. In sed ipsam nobis earum temporibus, veritatis totam libero atque sint quam, quo quisquam laborum
        est?
      </li>
      <li>
        Consequatur nemo dolorem nobis praesentium. Nisi laudantium pariatur sunt. Quo vitae quis fugit repellendus! Sunt
        ratione velit laborum natus libero. Incidunt dolor suscipit debitis commodi possimus. Soluta repellat unde nihil!
      </li>
      <li>
        Dolore labore, consectetur eaque suscipit molestiae incidunt quos dolorum? Aspernatur odio laudantium temporibus
        at, dolore illum cum ullam animi in distinctio sint maxime libero itaque, consequuntur eveniet. Doloremque, ipsum
        nesciunt?
      </li>
      <li>
        Tenetur ratione dolores accusamus illum totam, quidem sequi odit pariatur quae id numquam assumenda rem. Odit,
        numquam distinctio, eaque nihil adipisci aliquam similique, facilis mollitia saepe laudantium ea. Harum,
        temporibus.
      </li>
    </ol>
    <dl>
      <dt>Lorem ipsum dolor sit amet consectetur adipisicing elit.</dt>
      <dd>
        Debitis quos exercitationem dolorem vitae doloremque delectus tempore tenetur quaerat maxime totam nihil
        praesentium, quae saepe fuga hic, aliquid, optio repellendus reprehenderit.
      </dd>
      <dt>Lorem ipsum dolor sit amet consectetur adipisicing elit.</dt>
      <dd>
        Pariatur adipisci quas ducimus unde optio incidunt, dolor dolorum ex! Quos at error dolor veniam facere eaque
        possimus ullam perferendis, neque velit?
      </dd>
      <dt>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</dt>
      <dd>
        Velit aspernatur culpa dolore non. Enim cupiditate nihil dignissimos deserunt itaque a quis quibusdam, similique
        sequi voluptatibus, inventore optio asperiores voluptatem sed?
      </dd>
    </dl>
    <h3>The quick brown fox jumps over the lazy dog</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eveniet hic
      <em>officiis natus itaque dicta praesentium laborum</em>, optio <b>reprehenderit quas est nihil</b>, pariatur, porro
      nostrum facere ea molestias debitis quia!
    </p>
    <blockquote>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex et illum provident nesciunt a illo sit, dicta labore
        aspernatur neque quibusdam ducimus in earum fugiat corporis doloribus magni praesentium cumque?
      </p>
      <cite>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus natus tenetur quidem ab libero accusantium
        dolore veniam eveniet recusandae voluptate est fugiat, ex explicabo possimus tempore eos praesentium quaerat quod?
      </cite>
    </blockquote>
    <small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis debitis dolor quasi, explicabo fuga alias illum
      provident a architecto itaque, dicta nulla ratione, veniam quidem culpa at consequuntur commodi.
    </small>

  </div>

  <div class="px-4 py-24 prose text-center bg-gray-100">
    <h1 class="whitespace-nowrap">The quick brown fox jumps over the lazy dog</h1>
    <h2>The quick brown fox jumps over the lazy dog</h2>
    <h3>The quick brown fox jumps over the lazy dog</h3>
    <h4>The quick brown fox jumps over the lazy dog</h4>
    <h5>The quick brown fox jumps over the lazy dog</h5>
  </div>

</div>
{% endblock %}
