---
title: 'Typografi'
description: ''
permalink: '/typografi/index.html'
---

{%- extends 'blank.njk' -%}

{%- block content -%}
  <div class="py-page grid grid-cols-combi font-[375]">
    <div class="prose col-main">
      <div class="text-sm font-medium tracking-widest uppercase opacity-80">Kicker / Overline</div>
      <h1 class="-translate-x-[0.05em] mt-0 font-bold text-3xl/tight text-balance">Heading nivå 1</h1>
      <h2 class="font-bold text-3xl/tight text-balance">Heading nivå 2</h2>
      <h3>Heading nivå 3</h3>
      <h4>Heading nivå 4</h4>
      <h5>(Heading nivå 5)</h5>

      <hr class="mt-10">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quibusdam obcaecati ullam incidunt, deserunt officiis asperiores provident eius quo blanditiis illo qui natus rerum, soluta reprehenderit voluptatum praesentium quae quam.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil officia fugit soluta recusandae distinctio sequi officiis quia velit aliquam animi, omnis, tempore rerum! Soluta numquam quidem, qui iusto unde reprehenderit?</p>

      <ul>
        <li>Punkt 1</li>
        <li>Punkt 2</li>
        <li>Punkt 3</li>
      </ul>

      <div class="text-center">・・・</div>

      <ol>
        <li>Punkt 1</li>
        <li>Punkt 2</li>
        <li>Punkt 3</li>
      </ol>
    </div>
  </div>
{% endblock %}