---
tags: ['produkt', 'proto']
description: 'Med «bytteknapp» i bunnen av hver kapittelmeny.'
permalink: 'produkt/sykepenger/1/index.html'
variant: '1'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  {% set chapters = collections.all | onlyTags('sykepenger', 'innhold') | sort(false, false, 'data.order') %}

  <main class="grid py-16 grid-cols-combi" data-theme="sykepenger">
    <div class="col-main">
      <div class="text-sm tracking-widest uppercase">{{ category | safe }}</div>
      <h1 class="mt-1 font-extrabold text-4xl/tight text-balance ">{{ title | safe }}</h1>
      <div class="mt-6 prose text-pretty max-w-prose">
        <p class="text-lg">{{ ingress | safe }}</p>
        <div class="px-5 py-4 border rounded-lg border-slate-300 text-balance">
          {{ audience | markdown | safe if audience }}
        </div>
      </div>
    </div>

    {# Innholdsfortegnelse #}
    <div class="px-5 py-4 mt-8 rounded-lg bg-slate-100">
      <h2 class="pb-2 text-base font-semibold">Innhold på siden</h2>
      <ul class="grid gap-4 py-1">
        {% for chapter in chapters %}
        <li class="grid">
          <a class="flex gap-1 p-1 -m-1 font-medium text-blue-500 underline group hover:text-blue-700 text-base/snug hover:decoration-2" href="#{{ chapter.data.title | slugify }}">
            {{ '/src/_includes/svg/icons/arrow-right-angle-aksel.svg' | svgContents('translate-y-0.5 w-5 h-5') | safe }}
            {{ chapter.data.title }}
          </a>
          <p class="pr-4 pl-6 mt-0.5 text-pretty opacity-85">{{ chapter.data.ingress | safe }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    {# <div class="pt-6 mt-6 prose border-t col-main border-slate-200">
      {{ audience | markdown | safe if audience }}
    </div> #}

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="grid grid-flow-row-dense mt-24 col-full grid-cols-combi " id="{{ chapter.data.title | slugify }}" x-data="{ tocOpen: false }">
        {# <div class="col-wide">
          {{ '/src/_includes/svg/placeholder.svg' | svgContents('w-full h-auto max-w-screen-md mx-auto') | safe }}
        </div> #}
        <div class="mb-8 col-main">
          <h2 class="mt-8 mb-6 font-bold text-3xl/tight text-balance ">
            {{ chapter.data.title }}
          </h2>

          {# Chapter TOC #}
          {% if chapter.templateContent and chapter.templateContent | tocData | length > 0 %}
          <nav class="relative px-5 py-3 rounded-lg bg-slate-100">
            <h3 class="pb-2 font-semibold">I dette kapittelet</h3>
            <ul class="grid gap-4 mt-1 justify-items-start">
              {% for item in chapter.templateContent | tocData %}
              <li>
                <a class="flex items-start gap-1 p-1 -m-1 text-blue-500 group hover:text-blue-700 text-base/snug hover:underline" href="#{{ item.id }}">
                  {{ '/src/_includes/svg/icons/arrow-right-angle-aksel.svg' | svgContents('translate-y-0.5 w-5 h-5') | safe }}
                  <span>{{ item.text }}</span>
                </a>
              </li>
              {% endfor %}
              {# <li class="pt-5 border-t justify-self-stretch border-slate-400/25">
                <a 
                  class="inline-flex items-center gap-0.5 -m-1 text-blue-500 group hover:text-blue-700 text-base/snug hover:underline" 
                  href="{{ page.url }}" 
                >
                  {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('-translate-y-0.5 opacity-85') | safe }}
                  <span>Til toppen av siden</span>
                </a>
              </li> #}
            </ul>
          </nav>
          {% endif %}

          {# Main Content #}
          <div class="prose prose--separator col-main">
            {{ chapter.templateContent | markdown | safe }}
          </div>
        </div>
      </section>
    {% endfor %}

    <div class="pt-2 mt-12 text-sm italic border-t border-slate-200 col-main">{{ published | safe }}</div>
  </main>
{%- endblock -%}


{% block bodyscript %}
  <script>
    const headings = document.querySelectorAll('.prose h3');
    const headingsArr = Array.from(headings);

    const navItems = document.querySelectorAll('.toc--sticky li');

    function activateNavByIndex(index) {
      if (headings[index].classList.contains('active'))
        return;

      const currentActive = document.querySelectorAll('.toc--sticky .active');
      for (let i = currentActive.length - 1; i >= 0; i--) {
        currentActive[i].classList.remove('active');
      }
      navItems[index].classList.add('active');
    };

    const intersectionCallback = (entries, observer) => {
      if (entries[0].intesectionRatio <= 0)
          return;
      
      if (entries[0].intersectionRatio > 0.90) {    
        activateNavByIndex(headingsArr.indexOf(entries[0].target))
      }
    };

    const intersectionOptions = {
      threshold: 1,
      rootMargin: '15% 0px -60% 0px'
    };

    const intersectionObserver = new IntersectionObserver(intersectionCallback, intersectionOptions);

    for (let i = 0; i < headings.length; i++) {
      intersectionObserver.observe(headings[i]);  
    };

  </script>
{% endblock %}