---
tags: ['produkt', 'proto']
description: ''
permalink: 'produkt/sykepenger/index.html'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  {% set chapters = collections.all | onlyTags('sykepenger', 'innhold') | sort(false, false, 'data.order') %}

  <main class="grid pt-16 grid-cols-combi" data-theme="sykepenger" x-data="{ showTopAnchor: false }">
    <div class="col-main">
      <div class="text-lg tracking-widest small-caps">{{ category | safe }}</div>
      <h1 class="mt-1 font-extrabold text-3xl/tight text-balance ">{{ title | safe }}</h1>
      <div class="mt-6 prose text-pretty max-w-prose">
        <p class="text-xl">{{ ingress | safe }}</p>

        {% if audience %}          
        <div class="text-sm leading-normal text-pretty">
          {{ audience.text | markdown | safe if audience }}
        </div>
        {% endif %}
      </div>
    </div>

    {# Innholdsfortegnelse #}
    <div class="px-5 py-4 mt-8 rounded-lg bg-blue-50/75" x-intersect:leave="showTopAnchor = true" x-intersect:enter.margin.-400px.0.0.0="showTopAnchor = false">
      <h2 class="pb-2 text-sm font-semibold">Innhold på siden</h2>
      <ul class="grid gap-4 py-1">
        {% for chapter in chapters.slice(0, -1) %}
        <li class="grid">
          <a class="flex gap-1.5 p-1 -m-1 font-medium text-blue-500 underline group hover:text-blue-700 text-base/snug hover:decoration-2" href="#{{ chapter.data.title | slugify }}">
            {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
            {{ chapter.data.title }}
          </a>
          {# <p class="pr-4 pl-6 mt-0.5 text-pretty opacity-85">{{ chapter.data.ingress | safe }}</p> #}
        </li>
        {% endfor %}
      </ul>
    </div>

    {# Sticky Chapter TOC #}
    {# <div 
      class="sticky top-0 z-10 isolate col-main" 
      aria-hidden="true"
      x-show="showToc"
      x-transition:enter="transition ease-out duration-200"
      x-transition:enter-start="opacity-0 -translate-y-full"
      x-transition:enter-end="opacity-100 translate-y-0"
      x-on:click.outside="expandToc = false"
    >
      <button class="relative mx-auto z-20 mt-2 flex items-center justify-center gap-1 pl-5 pr-3.5 py-2.5 whitespace-nowrap bg-slate-500 text-white" x-bind:class="expandToc ? 'w-full rounded-t-xl hover:bg-slate-600' : 'rounded-full shadow-lg'" type="button" x-on:click="expandToc = !expandToc">
        <span>Innhold på siden</span>
        {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('w-5 h-5') | safe }}
      </button>
      <div 
        class="absolute inset-x-0 z-10 px-5 pt-20 pb-8 text-white rounded-xl top-2 bg-slate-500 grid-cols-combi" 
        x-bind:class="expandToc ? 'bg-slate-100 shadow-lg' : 'hidden'"
      >
        <ol class="grid gap-3 toc toc--multi toc--sticky">
          {% for chapter in chapters %}
          <li class="grid">
            <a 
              class="flex gap-1 p-1 -m-1 font-medium text-white underline group text-base/snug hover:decoration-2" 
              href="#{{ chapter.data.title | slugify }}" 
              x-on:click="expandToc = false"
            >
              {{ '/src/_includes/svg/icons/arrow-right-angle-aksel.svg' | svgContents('translate-y-0.5 w-5 h-5') | safe }}
              {{ chapter.data.title }}
            </a>
            <p class="pr-4 pl-6 mt-0.5 text-pretty opacity-80">{{ chapter.data.ingress | safe }}</p>
          </li>
          {% endfor %}
          <li class="pt-4 mt-1 border-t border-slate-400/25">
            <a 
              class="flex gap-1 p-1 text-white underline group text-base/snug hover:decoration-2" 
              href="{{ page.url }}" 
              x-on:click="expandToc = false"
            >
              {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('translate-y-0.5 w-5 h-5') | safe }}
              Til toppen av siden
            </a>
          </li>
        </ol>
      </div>
    </div> #}

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="grid grid-flow-row-dense mt-8 col-full grid-cols-combi " id="{{ chapter.data.title | slugify }}">
        <div class="grid mt-8 mb-4 text-lg font-semibold col-full grid-cols-combi">
          {% if chapter.data.icon %}
          <div class="aspect-square rounded-full grid place-items-center w-1/2 max-w-[4ch] bg-green-200 mt-8 mb-4">
            {{ chapter.data.icon | svgContents('w-[2.5ch] h-[2.5ch] text-green-800') | safe if chapter.data.icon }}
          </div>
          {% endif %}
          <h2 class="font-bold text-2xl/tight text-balance">
            <a href="#{{ chapter.data.title | slugify }}">{{ chapter.data.title }}</a>
          </h2>
        </div>

        {# Chapter TOC #}
        {% if chapter.templateContent and chapter.templateContent | tocData | length > 0 and not chapter.data.hideToc %}
        <nav class="relative px-5 pt-3 pb-4 mb-8 rounded-lg bg-blue-50/75">
          <h3 class="pb-2 text-sm font-semibold">I dette kapittelet</h3>
          <ul class="grid gap-2 mt-1 justify-items-start">
            {% for item in chapter.templateContent | tocData %}
            <li>
              <a class="flex items-start gap-1 px-1 py-2 -m-1 text-blue-500 group hover:text-blue-700 text-base/snug hover:underline" href="#{{ item.id }}">
                {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
                <span>{{ item.text }}</span>
              </a>
            </li>
            {% endfor %}
            {# <li class="pt-5 border-t justify-self-stretch border-slate-400/25">
              <a 
                class="inline-flex items-center gap-0.5 -m-1 text-blue-500 group hover:text-blue-700 text-base/snug hover:underline" 
                href="{{ page.url }}" 
              >
                {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('-translate-y-0.5 opacity-85') | safe }}
                <span>Til toppen av siden</span>
              </a>
            </li> #}
          </ul>
        </nav>
        {% endif %}

        {# Main Content #}
        <div class="prose prose--separator col-main">
          {{ chapter.templateContent | markdown | safe }}
        </div>
      </section>
    {% endfor %}

    <div class="pt-2 my-12 text-sm italic border-t border-slate-200 col-main">{{ published | safe }}</div>

    {# <div 
      class="sticky z-20 hidden mx-auto mb-8 bottom-3 sm:grid sm:items-center" 
      x-show="showTopAnchor" 
      x-transition:enter="transition duration-200 ease-in"
      x-transition:enter-start="translate-y-6 opacity-0"
      x-transition:enter-end="translate-y-0 opacity-100"
    >
      <a href="#toppen" class="inline-flex items-center justify-center gap-1 py-3 pl-3 pr-5 mx-auto text-sm leading-tight text-center text-white rounded-full ring-4 ring-white hover:underline bg-deepblue-400">
        {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('w-5 h-5 -translate-y-px') | safe }}
        <span>Til toppen av siden</span>
      </a>
    </div> #}

  </main>

  {% include "partials/kontakt.njk" %}

{%- endblock -%}