---
tags: ['produkt']
description: 'Med «bytteknapp» i bunnen av hver kapittelmeny.'
permalink: 'produkt/sykepenger/1/index.html'
variant: '1'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  {% set chapters = collections.all | onlyTags('sykepenger', 'innhold') | sort(false, false, 'data.order') %}

  <main class="grid py-16 grid-cols-center" data-theme="sykepenger">
    <div class="col-main">
      <div class="text-sm tracking-widest uppercase">{{ type | safe }}</div>
      <h1 class="mt-1 font-extrabold text-2xl/tight text-balance ">{{ title | safe }}</h1>
      <div class="mt-8 prose text-pretty max-w-prose">
        <p class="text-lg">{{ ingress | safe }}</p>

        <div class="px-4 py-3 border rounded-lg border-slate-300 text-balance">
          {{ audience | markdown | safe if audience }}
        </div>
      </div>
    </div>

    {# Innholdsfortegnelse #}
    <div class="px-4 py-3 mt-8 rounded-lg bg-slate-100">
      <h2 class="pb-2 text-base font-semibold">Innhold på siden</h2>
      <ul class="grid gap-4 py-1">
        {% for chapter in chapters %}
        <li class="grid">
          <a class="flex gap-1 p-1 -m-1 font-medium text-blue-500 underline group hover:text-blue-700 text-base/snug hover:decoration-2" href="#{{ chapter.data.title | slugify }}">
            {{ '/src/_includes/svg/icons/arrow-right-angle-aksel.svg' | svgContents('translate-y-1 w-5 h-5') | safe }}
            {{ chapter.data.title }}
          </a>
          <p class="pr-4 pl-6 mt-0.5 text-pretty opacity-85">{{ chapter.data.ingress | safe }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    {# <div class="pt-6 mt-6 prose border-t col-main border-slate-200">
      {{ audience | markdown | safe if audience }}
    </div> #}

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="grid grid-flow-row-dense mt-24 col-full grid-cols-center " id="{{ chapter.data.title | slugify }}" x-data="{ tocOpen: false }">
        {# <div class="col-wide">
          {{ '/src/_includes/svg/placeholder.svg' | svgContents('w-full h-auto max-w-screen-md mx-auto') | safe }}
        </div> #}
        <div class="mb-8 col-main">
          <h2 class="mt-8 mb-6 font-bold text-xl/tight text-balance ">{{ chapter.data.title }}</h2>

          {# Chapter TOC #}
          {% if chapter.templateContent and chapter.templateContent | tocData | length > 0 %}
          <nav class="relative px-4 py-3 rounded-lg bg-slate-100">
            <h3 class="pb-2 font-semibold">I dette kapittelet</h3>
            <ul class="grid gap-4 py-1 pb-4">
            {% for item in chapter.templateContent | tocData %}
              <li>
                <a class="flex items-start gap-1 p-1 -m-1 text-blue-500 group hover:text-blue-700 text-base/snug hover:underline" href="#{{ item.id }}">
                  {{ '/src/_includes/svg/icons/arrow-right-angle-aksel.svg' | svgContents('-translate-y-0.5 opacity-85') | safe }}
                  {{ item.text }}
                </a>
              </li>
            {% endfor %}
            </ul>
            <div class="" x-data="{ dropdownOpen: false }">
              <button class="flex items-center gap-1 py-1 pl-3 pr-2 text-base font-semibold text-blue-500 rounded-md bg-slate-100 hover:bg-blue-50 hover:text-blue-700 group" x-on:click="dropdownOpen = !dropdownOpen" type="button" x-bind:aria-expanded="dropdownOpen">
                <span>Bytt kapittel</span>
                {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('w-5 h-5 group-aria-expanded:rotate-180') | safe }}
              </button>
              <ol class="absolute left-0 w-screen border border-slate-300/5 max-w-sm py-1.5 mt-0.5 rounded-md shadow-xl top-full bg-slate-100" x-show="dropdownOpen" x-on:click.outside="dropdownOpen = false">
                {% for chapter in chapters %}
                <li class="border-t border-slate-200 first:border-t-0">
                  <a class="flex items-center gap-1 px-1 py-2 font-semibold hover:bg-blue-50 hover:text-blue-700 {{ 'text-slate-700' if loop.index === chapterIndex else 'text-blue-500' }}" href="#{{ chapter.data.title | slugify }}" x-on:click="dropdownOpen = false">
                    {{ '/src/_includes/svg/icons/dot.svg' | svgContents('' if loop.index === chapterIndex else 'text-transparent') | safe }}
                    <span>{{ chapter.data.title }}</span>
                  </a>
                </li>
                {% endfor %}
                <li class="pt-3 border-t border-slate-400/25">
                  <a 
                    class="flex items-center gap-1 px-1 py-2 text-blue-500 group hover:bg-blue-50 hover:text-blue-700 hover:underline" 
                    href="{{ page.url }}" 
                    x-on:click="dropdownOpen = false"
                  >
                    {{ '/src/_includes/svg/icons/arrow-up.svg' | svgContents('-translate-y-px') | safe }}
                    <span>Til toppen av siden</span>
                  </a>
                </li>
              </ol>
            </div>
          </nav>
          {% endif %}

          {# Main Content #}
          <div class="prose col-main">
            {{ chapter.templateContent | markdown | safe }}
          </div>
        </div>
      </section>
    {% endfor %}

    <div class="pt-2 mt-12 text-sm italic border-t border-slate-200 col-main">{{ published | safe }}</div>
  </main>
{%- endblock -%}


{% block bodyscript %}
  <script>
    const headings = document.querySelectorAll('.prose h3');
    const headingsArr = Array.from(headings);

    const navItems = document.querySelectorAll('.toc--sticky li');

    function activateNavByIndex(index) {
      if (headings[index].classList.contains('active'))
        return;

      const currentActive = document.querySelectorAll('.toc--sticky .active');
      for (let i = currentActive.length - 1; i >= 0; i--) {
        currentActive[i].classList.remove('active');
      }
      navItems[index].classList.add('active');
    };

    const intersectionCallback = (entries, observer) => {
      if (entries[0].intesectionRatio <= 0)
          return;
      
      if (entries[0].intersectionRatio > 0.90) {    
        activateNavByIndex(headingsArr.indexOf(entries[0].target))
      }
    };

    const intersectionOptions = {
      threshold: 1,
      rootMargin: '15% 0px -60% 0px'
    };

    const intersectionObserver = new IntersectionObserver(intersectionCallback, intersectionOptions);

    for (let i = 0; i < headings.length; i++) {
      intersectionObserver.observe(headings[i]);  
    };

  </script>
{% endblock %}