---
tags: ['produkt', 'proto']
description: ''
permalink: 'produkt/sykepenger/index.html'

---
{%- extends 'base.njk' -%}

{%- block content -%}
  {% set chapters = collections.all | onlyTags('sykepenger', 'innhold') | sort(false, false, 'data.order') %}

  <main class="grid pt-16 pb-4 grid-cols-combi" data-theme="sykepenger" x-data="{ showTopAnchor: false }">
    <div class="col-main">
      <div class="mb-3 md:absolute md:-ml-32 sm:mt-3" style="--pictogram: #F5D3E2;">
        {{ '/src/_includes/svg/piktogrammer/produkter/sykepenger.svg' | svgContents('text-brand-purple-deep w-16 h-16 sm:w-24 sm:h-24') | safe  }}
      </div>
      <div class="text-base font-normal tracking-wider text-gray-700 small-caps">
        {{ category | safe }}
      </div>
      <h1 class="font-bold text-4xl/tight text-pretty text-brand-purple-deep">{{ title | safe }}</h1>
      <div class="mt-6 prose text-pretty max-w-prose">
        <p class="text-lg/normal">{{ ingress | safe }}</p>

        {% if audience %}          
        <div class="text-sm leading-normal text-pretty">
          {{ audience.text | markdown | safe if audience }}
        </div>
        {% endif %}
      </div>
    </div>

    {# Innholdsfortegnelse #}
    <div class="px-5 py-4 mt-8 border-t-[0.625ch] border-brand-purple-deep rounded-b-lg bg-brand-beige" x-intersect:leave="showTopAnchor = true" x-intersect:enter.margin.-400px.0.0.0="showTopAnchor = false">
      <h2 class="pb-2 text-base font-semibold">Innhold på siden</h2>
      <ul class="grid gap-4 py-1">
        {% for chapter in chapters.slice(0, -1) %}
        <li class="grid">
          <a class="flex gap-1.5 p-1 -m-1 text-blue-600 hover:underline group hover:text-blue-700 text-base/snug hover:decoration-2" href="#{{ chapter.data.title | slugify }}">
            {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
            {{ chapter.data.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {# Innhold #}
    {% for chapter in chapters %}
      {% set chapterIndex = loop.index %}
      <section class="grid grid-flow-row-dense mt-8 col-full grid-cols-combi " id="{{ chapter.data.title | slugify }}">
        <div class="grid mt-8 mb-4 col-full grid-cols-combi">
          <div class="w-10 h-[0.675ch] bg-[#E6C7D8] mb-5 mt-5"></div>
          <h2 class="font-bold text-3xl/tight text-balance text-brand-purple-deep">
            <a href="#{{ chapter.data.title | slugify }}">{{ chapter.data.title }}</a>
          </h2>
        </div>

        {# Chapter TOC #}
        {% if chapter.templateContent and chapter.templateContent | tocData | length > 0 and not chapter.data.hideToc %}
        <nav class="relative px-5 pt-3 pb-4 mb-8 rounded-lg bg-brand-beige">
          <h3 class="pb-2 text-base font-semibold">I dette kapittelet</h3>
          <ul class="grid gap-2 mt-1 justify-items-start">
            {% for item in chapter.templateContent | tocData %}
            <li>
              <a class="flex items-start gap-1 px-1 py-2 -m-1 text-blue-600 group hover:text-blue-700 text-base/snug hover:underline hover:decoration-2" href="#{{ item.id }}">
                {{ '/src/_includes/svg/icons/arrow-right-angle.svg' | svgContents('w-4 h-4') | safe }}
                <span>{{ item.text }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}

        {# Main Content #}
        <div class="prose prose--separator col-main">
          {{ chapter.templateContent | markdown | safe }}
        </div>
      </section>
    {% endfor %}

    <div class="pt-2 my-12 text-sm italic border-t border-slate-200 col-main">{{ published | safe }}</div>

  </main>

  {% include "partials/kontakt.njk" %}

{%- endblock -%}