---
title: 'Tom side'
description: ''
order: 99
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="items-center py-12 grid grid-cols-layout min-h-[72vh]">
    <div class="font-bold leading-none text-center uppercase col-narrow xl:col-wide text-squishy text-gray-700/5">Tom side</div>
  </main>
{%- endblock -%}
