---
title: 'Tom side'
description: ''
order: 10
bodyClass: ''
tags: ['template']
---
{% extends 'base-new.njk' %}

{% block content %}
  <main class="grid py-12 min-h-[36vh] lg:min-h-[48vh] grid-cols-layout items-center">
    <div class="col-content xl:col-feature leading-none lg:leading-[36vh] text-squishy font-bold text-center uppercase text-gray-700/5">Tom side</div>
  </main>
{% endblock %}
