---
title: 'Tom side'
description: ''
order: 10
bodyClass: ''
tags: ['template']
---
{% extends 'base-new.njk' %}

{% block content %}
  <main class="grid py-12 min-h-[36vh] lg:min-h-[48vh] grid-cols-layout items-center">
    <div class="font-bold leading-none text-center uppercase col-content xl:col-feature text-squishy text-gray-700/5">Tom side</div>
  </main>
{% endblock %}
