---
title: 'Tom side'
description: ''
order: 99
tags: ['template']
---
{% extends 'base-new.njk' %}

{% block content %}
  <main class="grid items-center py-12 grid-cols-layout">
    <div class="font-bold leading-none text-center uppercase col-narrow xl:col-wide text-squishy text-gray-700/5">Tom side</div>
  </main>
{% endblock %}
