---
tags: ['produkt', 'proto']
category: "Pengestøtte"
type: "Produktside"
title: "Sykepenger"
description: ''
ingress:
  "Sykepenger erstatter inntekten din når du ikke kan jobbe på grunn av sykdom eller skade."
audience:
  style: "default"
  others:
    "Det finnes også informasjon om sykepenger til [privatpersoner](#) og [leger og andre behandlere](#)"
published: "Oppdatert 23. april 2024"
alpine: true
order: 2
permalink: 'produkt/sykepenger/index.html'
layout: 'article-page.njk'
---
