---
tags: ['produkt', 'proto']
category: "Pengestøtte"
type: "Produktside"
title: "Dagpenger"
description: ''
ingress:
  "Dagpenger er en pengestøtte du kan få når du er arbeidsledig eller permittert."
audience:
  style: "default"
published: "Oppdatert 21. august 2025"
alpine: true
order: 9
permalink: 'produkt/dagpenger/index.html'
chapters: 'dagpenger'
layout: 'article-page.njk'
---
