---
title: 'Pleiepenger for sykt barn'
type: 'Pengestøtte'
template: 'Produktside'
audience: 'Arbeidsgiver'
intro: 'Sikrer deg inntekt under fravær fra jobb når du må pleie og ta vare på et barn som har vært innlagt eller er til behandling på sykehus.'
published: 'Oppdatert 22. desember 2022'
order: 4
bodyClass: ''
---
{%- extends 'base.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- from "macros/microcard.njk" import microcard -%}
{%- from "macros/tile.njk" import tile -%}

{%- block content -%}
  <main class="px-xs-2xl py-xl">
    <div class="grid grid-cols-[auto_auto] mx-auto max-w-wide">
      <h1 class="font-bold text-4xl/tight text-pretty col-span-full">{{ title | safe }}</h1>

      <div class="mt-sm max-w-prose gap-sm-md">

        {# Audience #}
        <div class="inline-block text-sm bg-gray-100 rounded-full px-xs py-3xs -ml-3xs">{{ 'For ' if audience }}{{ audience | lower | safe }}</div>

        {# Intro #}
        <div class="text-lg mt-md text-pretty">{{ intro | markdown | safe }}</div>

        {# Innholdsfortegnelse #}
        <div class="mt-md">
          <h2 class="text-base font-semibold">Innhold på siden</h2>
          <ul class="grid gap-1 rounded-xl overflow-clip mt-2xs">
            {% for chapter in collections.kapittel %}
            <li class="relative bg-gray-100 rounded py-xs px-sm text-pretty group">
              <a class="text-lg font-semibold group-hover:underline after:absolute after:inset-0 mb-3xs" href="#{{ chapter.data.title | slugify }}">{{ chapter.data.title }}</a>
              <p>{{ chapter.data.description | safe }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>


    {# Innhold #}
    {% for chapter in collections.kapittel %}
    <section class="mx-auto max-w-wide" id="{{ chapter.data.title | slugify }}">
      <div class="max-w-prose mt-xl">
        <div class="text-sm tracking-widest uppercase">Kapittel {{ loop.index }}</div>
        <h2 class="text-2xl font-bold">{{ chapter.data.title }}</h2>
        <p>{{ chapter.data.description | safe }}</p>
        <div class="rounded-lg aspect-[2/1] bg-blue-700 mt-sm"></div>

        <h3 class="font-semibold mt-md">I dette kapittelet</h3>
        <div class="mt-3xs overflow-clip max-w-md rounded-xl grid gap-0.5">
          {% for item in range(0,3) %}
          <div class=" bg-gray-100 rounded aspect-[6/1]"></div>
          {% endfor %}
        </div>
      </div>

      <div class="grid grid-cols-[2fr_1fr] gap-sm-md items-end mt-md">
        <div class="min-h-[60svh] grid gap-md max-w-prose">
          {% for item in range(0,20) %}           
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic fugit suscipit temporibus incidunt cupiditate ipsa obcaecati molestiae dolor, illo repellendus nemo nihil ullam repellat, laborum quis praesentium tenetur eum.</p>
          {% endfor %}
        </div>
        {# <div class="sticky bg-red-500 bottom-md h-[20vh] p-4"></div> #}
      </div>
    </section>
    {% endfor %}
    <div class="mx-auto max-w-wide mt-3xl">{{ published | safe }}</div>
  </main>
{%- endblock -%}
