---js
{
  pagination: {
    data: "products",
    size: 1,
    alias: "product",
    // before: function(data) {
    //   const filteredData = data.filter(element => element.data.egenSide === true)
    //   return filteredData
    // }
  },
  eleventyComputed: {
    title: "{{ product.title }}",
    kicker: "Søknad",
    permalink: "/soknad/temp-{{ product.title | slugify }}.html"
    // permalink: false
  }
}
---
{%- extends 'base-basic.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- import "macros/formFields.njk" as form -%}


{%- block content -%}
  <main class="grid py-8 md:py-12 text-lg grid-cols-layout min-h-[70vh]" x-data="{ stepperOpen: false }">
    <div class="relative col-wide max-w-prose md:max-w-none mx-auto md:mx-0 md:grid md:grid-cols-[6rem_auto] md:gap-8 items-start mb-12 w-full auto-rows-min">

      {# Pictogram #}
      {{ '/src/_includes/svg/pictograms/soknad-og-skjema.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 float-right ml-8') | safe }}

      {# Intro #}
      <div class="md:col-start-2 md:row-start-1">
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-2 text-base tracking-wider uppercase opacity-70">
          {{ kicker | upper }}
          {{ '–' if formId }}
          {{ formId | safe }}
        </p>
      </div>

      <div class="md:col-start-2 md:grid md:grid-cols-[2.2fr_0.8fr] gap-x-16 items-start gap-4">
        <div class="mt-12 text-lg max-w-prose markup">
          Søknad starter her …
        </div>

      </div>
    </div>
  </main>

{%- endblock -%}

{%- block styles -%}{%- endblock -%}
{%- block script -%}{%- endblock -%}
