---
title: 'Tom side'
description: ''
order: 5
bodyClass: ''
---
{% extends 'base.njk' %}

{% block styles %}{% endblock %}

{% block script %}
  <script src="/main.min.js" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}

  <main class="text-lg text-gray-900 place-self-stretch">
    <div class="px-4 py-8 bg-white md:pt-12 md:pb-20 md:px-8">
      <div class="xs:max-w-xl md:max-w-screen-md mx-auto sm:w-[95%] text-center min-h-[30vh] grid place-items-center">
        <h1 class="mb-4 font-semibold leading-none tracking-wider uppercase select-none text-squishy opacity-5">{{ title }}</h1>
      </div>
    </div>
  </div>
</main>

{% include "partials/footer.njk" %}

{% endblock %}
