---
type: 'Mellomsteg'
title: 'Søk om dagpenger'
kicker: 'Søknad'
tags: ['template']
permalink: "/soknad-og-skjema/{{ page.fileSlug }}/"
order: 7
fileList:
  -
    title: Søknad om dagpenger når du er arbeidsledig
    type: PDF
    filesize: 100 kB
  -
    title: Søknad om dagpenger når du er permittert
    type: PDF
    filesize: 100 kB
  -
    title: Søknad om å gjenoppta dagpenger når du er permittert
    type: PDF
    filesize: 100 kB
  -
    title: Søknad om å gjenoppta dagpenger når du er permittert
    type: PDF
    filesize: 100 kB
---
{%- extends 'base-basic.njk' -%}

{%- from "macros/button.njk" import button -%}
{%- import "macros/formFields.njk" as form -%}


{%- block content -%}
  <main class="grid py-8 md:py-12 text-lg grid-cols-layout min-h-[70vh]" x-data="{ stepperOpen: false }">
    <div class="relative col-wide max-w-prose md:max-w-none mx-auto md:mx-0 md:grid md:grid-cols-[6rem_auto] md:gap-8 items-start mb-12 w-full auto-rows-min">

      {# Pictogram #}
      {{ '/src/_includes/svg/pictograms/soknad-og-skjema.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 float-right ml-8') | safe }}

      {# Intro #}
      <div class="md:col-start-2 md:row-start-1">
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-2 text-base tracking-wider uppercase opacity-70">
          {{ kicker | upper }}
          {{ '–' if formId }}
          {{ formId | safe }}
        </p>
      </div>

      <div class="md:col-start-2 md:grid md:grid-cols-[2.2fr_0.8fr] gap-x-16 items-start gap-4">
        <div class="mt-12 text-lg max-w-prose markup">
          <form x-data="{ applicationFormat: 'digital', applicationStep: 1 }">
            <fieldset x-show="applicationStep === 1">
              <legend class="font-semibold">Hvordan vil du sende søknaden?</legend>
              <ul class="grid mt-1 justify-items-start">
                <li class="relative">
                  {{ form.radio({
                    label: 'Send digitalt',
                    description: 'Du blir bedt om å logge inn',
                    name: 'application-format',
                    id: 'field-1a',
                    value: 'digital',
                    xModel: 'applicationFormat',
                    checked: true
                  }) }}
                </li>
                <li class="relative">
                  {{ form.radio({
                    label: 'Send i posten',
                    description: 'Fyll ut søknaden før du skriver den ut. Du trenger ikke å logge inn.',
                    name: 'application-format',
                    value: 'post',
                    id: 'field-2a',
                    xModel: 'applicationFormat'
                  }) }}
                </li>
                <li class="relative">
                  {{ form.radio({
                    label: 'Last ned papirsøknad (pdf)',
                    description: 'Skriv ut en papirsøknad som du fyller ut for hånd og sender i posten. Du trenger ikke å logge inn.',
                    name: 'application-format',
                    value: 'pdf',
                    id: 'field-3a',
                    xModel: 'applicationFormat'
                  }) }}
                </li>
              </ul>
            </fieldset>

            <fieldset class="" x-show="applicationStep === 2">
              <legend class="font-semibold">Hva skal du søke om?</legend>
              <ul class="grid mt-1 justify-items-start">
                <li class="relative">
                  {{ form.radio({
                    label: 'Dagpenger når du ikke er permittert',
                    description: '',
                    name: 'application-format',
                    id: 'field-1b'
                  }) }}
                </li>
                <li
                  class="relative"
                  x-show="applicationFormat === 'post'"
                  x-transition:enter="transition ease-out duration-300 delay-100"
                  x-transition:enter-start="opacity-0 -translate-y-1"
                  x-transition:enter-end="opacity-100"
                >
                  {{ form.radio({
                    label: 'Dagpenger når du er permittert',
                    description: '',
                    name: 'application-format',
                    id: 'field-2b'
                  }) }}
                </li>
                <li
                  class="relative"
                  x-show="applicationFormat === 'post'"
                  x-transition:enter="transition ease-out duration-300 delay-150"
                  x-transition:enter-start="opacity-0 -translate-y-1"
                  x-transition:enter-end="opacity-100"
                >
                  {{ form.radio({
                    label: 'Gjenoppta dagpenger når du ikke er permittert',
                    description: '',
                    name: 'application-format',
                    id: 'field-3b'
                  }) }}
                </li>
                <li
                  class="relative"
                  x-show="applicationFormat === 'post'"
                  x-transition:enter="transition ease-out duration-300 delay-150"
                  x-transition:enter-start="opacity-0 -translate-y-2"
                  x-transition:enter-end="opacity-100"
                >
                  {{ form.radio({
                    label: 'Gjenoppta dagpenger når du er permittert',
                    description: '',
                    name: 'application-format',
                    id: 'field-4b'
                  }) }}
                </li>
              </ul>
            </fieldset>
            <div x-show="applicationStep === 3">
              <h3 class="text-xl font-semibold">Last ned papirsøknad</h3>
              <p class="mt-1">Du skriver ut en papirsøknad som du fyller ut for hånd og sender i posten. Du trenger ikke å logge inn.</p>
              <ul class="grid gap-1.5 mt-8">
                {% for item in fileList %}
                  <li>
                    <a href="#" class="flex items-start gap-2 pt-2 pb-1.5 pl-3 pr-6 text-blue-500 rounded-lg bg-gray-100 fine:hover:text-deepblue-600 group fine:hover:bg-gray-50">
                      {{ '/src/_includes/svg/icons/download.svg' | svgContents('w-6 h-6 shrink-0 translate-y-0.5') | safe }}
                      <span class="grid">
                        <span class="font-semibold underline group-hover:no-underline">{{ item.title }}</span>
                        <span class="text-base text-gray-700">{{ item.type }} {{ item.filesize }}</span>
                      </span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="mt-7" x-show="(applicationStep === 1) && (applicationFormat === 'post')">
              <button
                class="inline-flex px-6 py-2.5 text-white bg-blue-500 fine:hover:bg-blue-600 rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white"
                type="button"
                x-on:click="applicationStep = 2"
              >Neste</button>
            </div>
            <div class="mt-7" x-show="(applicationStep === 1) && (applicationFormat === 'pdf')">
              <button
                class="inline-flex px-6 py-2.5 text-white bg-blue-500 fine:hover:bg-blue-600 rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white"
                type="button"
                x-on:click="applicationStep = 3"
              >Neste</button>
            </div>
            <div class="mt-7">
              <a
                x-show="(applicationStep === 2) || (applicationFormat === 'digital')"
                class="inline-flex px-6 py-2.5 text-white bg-blue-500 fine:hover:bg-blue-600 rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white"
                href="/soknad-og-skjema/dagpenger/intro/"
              >Neste</a>
              <button
                x-show="(applicationStep === 2) || (applicationStep === 3)"
                class="inline-flex px-6 py-2.5 text-blue-500 ring-2 ring-inset ring-blue-500 fine:hover:bg-blue-50 rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-1 focus-visible:ring-offset-white"
                type="button"
                x-on:click="applicationStep = 1"
              >Tilbake</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </main>

{%- endblock -%}

{%- block styles -%}{%- endblock -%}
{%- block script -%}{%- endblock -%}
