---
title: Søknad om dagpenger
kicker: Søknad
form: 'NAV-XXXXXX'
tags: ['template']
permalink: "/soknad-og-skjema/{{ page.fileSlug }}/"
order: 7
---
{% extends 'base-basic.njk' %}

{% block content %}
  <main class="min-h-[70vh]">
    <div class="grid grid-cols-layout">
      <div class="relative pt-8 col-narrow lg:col-normal">
        <div class="hidden float-right pb-8 ml-24 xs:block sm:pb-0 sm:-mb-8">
          {{ '/src/_includes/svg/pictograms/soknad-og-skjema.svg' | svgContents('w-[12vw] h-auto overflow-hidden max-w-[6rem]') | safe }}
        </div>
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-3 tracking-wider uppercase opacity-70">
          {{ kicker | upper }}
          {{ '–' if form }}
          {{ form | safe }}
        </p>
      </div>
      <div class="relative pb-8 col-narrow lg:col-normal">
        <div class="mt-12 text-lg max-w-prose markup">
          <form x-data="{ applicationFormat: '' }">
            <fieldset>
              <legend class="font-semibold">Hvordan vil du sende søknaden?</legend>
              <ul class="grid mt-1 justify-items-start">
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-format" x-model="applicationFormat" value="digital" id="field-1">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-1">
                    <span>Send digitalt (du blir bedt om å logge inn)</span>
                  </label>
                </li>
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-format" x-model="applicationFormat" value="papir" id="field-2">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-2">
                    <span>Send i posten</span>
                  </label>
                </li>
              </ul>
            </fieldset>
            <fieldset class="mt-7" x-show="applicationFormat === 'papir'">
              <legend class="font-semibold">Hva skal du søke om?</legend>
              <ul class="grid mt-1 justify-items-start">
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-type" value="" id="field-3">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-3">Søke om dagpenger (ikke permittert)</label>
                </li>
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-type" value="" id="field-4">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-4">Søke om dagpenger ved permittering</label>
                </li>
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-type" value="" id="field-5">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-5">Søke om å gjenoppta dagpenger (ikke permittert)</label>
                </li>
                <li class="relative">
                  <input class="absolute w-6 h-6 rounded-full -z-10 appearance-none focus:outline-none focus:bg-deepblue-800 top-1.5 peer focus:ring focus:ring-deepblue-800" type="radio" name="application-type" value="" id="field-6">
                  <label class="py-1.5 flex before:w-6 before:h-6 before:bg-white before:border-2 before:border-gray-600 hover:before:border-blue-500 before:rounded-full gap-2 hover:before:bg-blue-50 cursor-pointer peer-checked:before:bg-blue-500 before:ring-2 before:ring-white before:ring-inset" for="field-6">Søke om å gjenoppta dagpenger ved permittering</label>
                </li>
              </ul>
            </fieldset>
            <div class="mt-7">
              <button class="inline-flex px-6 py-2.5 text-white bg-blue-500 fine:hover:bg-blue-600 rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white" type="submit">Start søknad</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </main>

{% endblock %}

{% block styles %}{% endblock %}
{% block script %}{% endblock %}
