---js
{
  pagination: {
    data: "collections.produkt",
    size: 1,
    alias: "product",
    before: function(data) {
      const filteredData = data.filter(element => element.data.egenSide === true)
      return filteredData
    }
  },
  eleventyComputed: {
    title: "{{ product.data.title }}",
    // permalink: "/produktoversikt/{{ product.data.title | slugify }}.html"
    permalink: false
  }
}
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="min-h-[50vh]">
    <div class="grid grid-cols-layout">
      <div class="pt-12 pb-8 col-narrow">

        <a href="/produktoversikt/?area={{ product.data.area | slugify }}&type={{ product.data.type | slugify }}" class="font-semibold tracking-wide text-blue-500 uppercase fine:hover:underline">Søknad og skjema fra A til Å</a>
        <h1 class="mt-1 text-5xl font-semibold">{{ product.title | safe }}</h1>
        {%- if product.data.ingress -%}
        <div class="mt-4 text-lg max-w-prose">
          <p class="mt-1 text-xl">{{ product.data.ingress | safe }}</p>
        </div>
        {%- endif -%}
      </div>
    </div>

    <div class="grid pb-12 bg-white grid-cols-layout min-h-[40vh]">
      <div class="text-lg col-narrow">
        <div class="max-w-prose markdown">
          {{ product.content | markdown | safe }}
        </div>
      </div>
    </div>
  </main>

{%- endblock -%}

{%- block styles -%}{%- endblock -%}
{%- block script -%}{%- endblock -%}
