---
title: 'Søknad og skjema fra A til Å (arbeidsgiver)'
description: 'Pengestøtter og tjenester fra NAV for arbeidsgivere. Du kan søke eller filtrere etter type og område.'
order: 6
bodyClass: ''
permalink: '/produktoversikt-arbeidsgiver/'
---
{% extends 'base.njk' %}

{%- from "macros/button.njk" import button -%}
{%- from "macros/microcard.njk" import microcard -%}
{%- from "macros/filterGroup.njk" import filterGroup -%}

{% block content %}
  <main class="py-12 text-lg text-gray-900"
    x-data="{
      typeFilter: new URLSearchParams(location.search).get('type') || 'alle',
      areaFilter: new URLSearchParams(location.search).get('area') || 'alle',
      filterItem(el) {
        const item = el.querySelector('h2').textContent.toLowerCase()
        if (this.search === '') {
          return (
            el.dataset.type.split(' ').includes(this.typeFilter)
            &&
            el.dataset.area.split(' ').includes(this.areaFilter)
          )
        } else {
          this.typeFilter = 'alle'
          this.areaFilter = 'alle'
          return (
            item.includes(this.search.toLowerCase())
          )
        }
      },
      search: '',
      count: '',
      updateCount() {
        $nextTick(() => {
          let count = Array.from(this.$refs.entries.children).filter(element => window.getComputedStyle(element).display !== 'none').length;
          this.count = count
        })
      },
      clearSearch() {
        this.search = ''
      }
    }"
    x-init="
      $watch('typeFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('type', value);
        history.replaceState(null, document.title, url.toString());
        updateCount();
        clearSearch();
      });
      $watch('areaFilter', (value) => {
        const url = new URL(window.location.href);
        url.searchParams.set('area', value);
        history.replaceState(null, document.title, url.toString());
        updateCount();
        clearSearch();
      });
      $watch('search', (value) => {
        updateCount()
      });
      updateCount()">
    <div class="grid grid-cols-layout">
      <div class="relative w-full col-content lg:col-feature">

        <div class="hidden float-right pb-8 mt-2 ml-24 xs:block sm:pb-0 sm:-mb-8">
          {{ '/src/_includes/svg/pictograms/support.svg' | svgContents('w-[12vw] h-auto overflow-hidden max-w-[7rem] aspect-square') | safe }}
        </div>

        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title }}</h1>

        <p class="max-w-2xl mt-2 text-xl md:mt-3 md:text-2xl">{{ description }}</p>
      </div>
    </div>

    <div class="grid mt-8 lg:mt-12 grid-cols-layout">
      <div class="grid w-full gap-8 pb-20 lg:gap-x-16 lg:items-start lg:grid-cols-sidebar col-content lg:col-feature">

        <div class="relative lg:row-start-1 lg:row-span-3 lg:col-start-2" x-data="{ filterDrawer: false }">
          <button
            class="flex items-center justify-start gap-2.5 pl-3 pr-4 py-3 leading-none text-blue-600 bg-white rounded ring-2 ring-blue-500 hover:bg-blue-100 hover:text-blue-700 lg:hidden"
            x-on:click="filterDrawer = true"
            x-bind:aria-expanded="filterDrawer">
            {{ '/src/_includes/svg/icons/filter.svg' | svgContents('w-5 h-5') | safe }}
            <span>Søk eller velg type og område</span>
          </button>

          <div
            class="fixed inset-y-0 right-0 z-50 w-10/12 max-w-md lg:hidden"
            x-show="filterDrawer"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="translate-x-full opacity-0"
            x-transition:enter-end="translate-x-0 opacity-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="translate-x-0 opacity-100"
            x-transition:leave-end="translate-x-full opacity-0"
          >
            <form class="flex flex-col h-full bg-white shadow-drawer col-content lg:hidden" x-on:click.outside="filterDrawer = false, filterTags = false">
              <div class="flex-1 px-6 pb-12 overflow-y-auto overscroll-y-contain">
                <div class="relative grid pt-6" >
                  <div>
                    <label for="searchFilter-mobile" class="text-sm tracking-widest uppercase opacity-70">Søk</label>
                    <div class="relative mt-1">
                      <span class="absolute inset-y-0 left-0 grid px-2.5 place-items-center">
                        {{ '/src/_includes/svg/icons/search.svg' | svgContents('w-6 h-6') | safe }}
                      </span>
                      <input id="searchFilter-mobile" type="search" x-model="search" class=" w-full pl-10 pr-3 py-2.5 border border-gray-300 rounded shadow-inner bg-gray-50/50 focus:outline-none focus:ring-2 focus:ring-blue-800">
                    </div>
                  </div>
                  {{ filterGroup({
                    array: areaFilter,
                    title: 'Velg område',
                    value: 'areaFilter'
                  }) }}
                  {{ filterGroup({
                    array: typeFilter,
                    title: 'Velg type',
                    value: 'typeFilter'
                  }) }}
                </div>
              </div>
              <div class="sticky bottom-0 h-2 -mt-2 pointer-events-none bg-gradient-to-t from-black/10 to-black/0"></div>
              <div class="py-4 px-clamp-gap md:px-6 bg-gray-50">
                <button class="w-full px-4 py-2 text-white bg-blue-500 rounded-lg" x-on:click="filterTags = false, filterDrawer = false">Vis resultat (<span x-text="count"></span>)</button>
              </div>
            </form>
          </div>
          <button
            type="button"
            class="fixed inset-0 z-40 bg-black/25"
            x-show="filterDrawer"
            x-on:click="filterDrawer = false"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
          >
            <span class="sr-only">Lukk</span>
          </button>

          <div class="hidden lg:block">
            <div class="-mt-1">
              <label for="searchFilter-desktop" class="text-sm tracking-widest uppercase opacity-70">Søk</label>
              <div class="relative mt-1">
                <span class="absolute inset-y-0 left-0 grid px-2.5 place-items-center">
                  {{ '/src/_includes/svg/icons/search.svg' | svgContents('w-6 h-6') | safe }}
                </span>
                <input id="searchFilter-desktop" type="search" x-model="search" class="w-full max-w-xl pl-10 pr-3 py-2.5 border border-gray-300 rounded shadow-inner bg-gray-50/50 focus:outline-none focus:ring focus:ring-blue-800">
              </div>
            </div>
            {{ filterGroup({
              array: areaFilter,
              title: 'Velg område',
              value: 'areaFilter'
            }) }}
            {{ filterGroup({
              array: typeFilter,
              title: 'Velg type',
              value: 'typeFilter'
            }) }}
          </div>
        </div>

        <div class="lg:col-start-1">
          <p class="mb-2">Viser <span x-text="count"></span> av {{ products.length }} produkter og tjenester</p>

          <div class="border-b border-deepblue-100" x-ref="entries" x-show="count !== 0">
            {% for product in products | sort(true, false, 'title') | reverse %}
              <div
                x-data="{ expanded: false }"
                class="border-t focus-within:z-10 -mx-clamp-gap px-clamp-gap sm:-mx-0 sm:px-0 border-deepblue-100"
                x-bind:class="expanded ? '' : ''"
                x-show="filterItem($el)"
                data-type="alle {% for item in product.type %}{{ item | slugify }} {% endfor %}"
                data-area="alle {% for item in product.area %}{{ item | slugify }} {% endfor %}">

                <div
                  class="relative z-10 flex items-center gap-4 py-4 -my-px text-left px-clamp-gap -mx-clamp-gap sm:-mx-2 sm:px-4 sm:rounded-lg fine:hover:z-20"
                  x-bind:class="expanded ? ' fine:hover:bg-deepblue-200 bg-deepblue-50' : 'fine:hover:bg-deepblue-200'">
                  {% if product.icon %}
                    {{ product.icon | svgContents('w-12 h-12 lg:w-14 lg:h-14 shrink-0') | safe }}
                  {% endif %}
                  <div class="grid gap-1">
                    <p class="text-base opacity-80">
                    {% for item in product.type %}
                      <span>{{ item }}</span>{{ ', ' if product.type.length > 1 and not loop.last }}
                    {% endfor %}
                    </p>
                    <h2 class="text-xl font-semibold leading-tight">
                      {{ product.title | safe }}
                    </h2>
                    <p class="text-base">
                      {%- for item in product.area -%}
                        <span class="">{{ item }}</span>{{ ', ' if loop.length > 1 and not loop.last }}
                      {%- endfor -%}
                    </p>
                  </div>
                  <button x-on:click="expanded = !expanded" class="absolute inset-0 flex items-center justify-end pr-4 rounded-lg group focus:outline-none focus-visible:ring focus-visible:ring-inset focus-visible:ring-blue-800" x-bind:aria-expanded="expanded">
                    <span class="sr-only">Vis/skjul innhold</span>
                    {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('mr-1.5 w-5 h-5 opacity-50 transition duration-100 group-aria-expanded:rotate-180') | safe }}
                  </button>
                </div>

                <div class="pt-6 pb-8 px-clamp-gap -mx-clamp-gap relative min-h-[30vh] markdown bg-deepblue-50 sm:-mx-2 sm:-mt-2 sm:px-5 sm:rounded-b-lg mb-4" x-bind:hidden="!expanded">
                  <p>{{ product.ingress }}</p>

                  {% if product.contentBlocks %}
                    {% include "partials/contentBlocks.njk" %}
                  {% endif %}
                </div>

                {% if product.egenSide %}
                <div x-bind:hidden="!expanded" class="pt-4 pb-6 sm:px-6">
                  <a class="inline-block mx-auto text-center underline fine:hover:no-underline fine:hover:text-blue-600" href="/produktoversikt/{{ product.title | slugify }}.html">Vis som egen side</a>
                </div>
                {% endif %}

              </div>

            {% endfor %}
          </div>
          <div x-show="count === 0" class="p-6 py-8 text-center overflow-hidden grid items-center leading-snug rounded-lg bg-gray-100 min-h-[4.75rem] lg:col-span-6">
            <p class="max-w-prose">Ingen søknader eller skjema er merket med denne kombinasjonen av type og område.</p>
          </div>
        </div>

        <div class="p-4 bg-orange-100 rounded-lg lg:col-start-1 lg:px-6 lg:py-5">
          <h3 class="text-xl font-semibold">
            Klage eller anke på vedtak?
          </h3>
          <p class="mt-2 max-w-prose">Hvis du har fått et vedtak fra NAV og du er uenig i vedtaket, har du rett til å klage eller anke.</p>
          <p class="mb-2 mt-7"><a href="#" class="underline text-deepblue-600 fine:hover:no-underline fine:hover:text-deepblue-700">Les mer om dine klagerettigheter</a>.</p>
        </div>

      </div>
    </div>
  </main>
{% endblock %}
