---js
{
  order: 10,
  bodyClass: 'bg-white',
  pagination: {
    data: "formSteps",
    size: 1,
    alias: "step",
  },
  eleventyComputed: {
    title: 'Søknad om arbeids&shy;avklarings&shy;penger (AAP)',
    stepTitle: "{{ step.title }}",
    // permalink: "/soknad/aap/{{ step.title | slugify }}/",
    permalink: false,
    blocks: "{{ step.formBlocks }}"
  }
}
---

{%- extends 'base-basic.njk' -%}

{%- import "macros/formFields.njk" as form -%}

{% macro stepperList(formSteps) %}
  <ol class="navds-stepper">
    {%- for item in formSteps.slice(1, -1) -%}
      <li class="navds-stepper__item {{ 'navds-stepper__item--active' if item.title === step.title }} {{ 'navds-stepper__item--complete' if item.state === 'complete' }}">
        <span class="navds-stepper__line navds-stepper__line--1" aria-hidden="true"></span>
        <span class="navds-stepper__marker" aria-hidden="true">
          {%- if item.state === 'complete' -%}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" focusable="false" aria-hidden="true"><path d="M7 13L10 16L17.5 8.5" stroke="currentColor" stroke-width="2" /></svg>
          {%- else -%}
            {{ loop.index }}
          {%- endif -%}
        </span>
        {%- if item.link -%}
          <a href="/soknad/aap/{{ item.title | slugify }}/" class="navds-stepper__content">{{ item.title }}</a>
        {%- else -%}
          <span class="navds-stepper__content">{{ item.title }}</span>
        {%- endif -%}
        <span class="navds-stepper__line navds-stepper__line--2" aria-hidden="true"></span>
      </li>
    {%- endfor -%}
  </ol>
{% endmacro %}

{%- block content -%}

  <main class="grid py-8 text-lg md:py-12 grid-cols-layout" x-data="{ stepperOpen: false }">
    <div class="relative mb-12 col-narrow md:mx-0">

      {# Pictogram #}
      {{ '/src/_includes/svg/pictograms/soknad-og-skjema.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 md:absolute float-right md:right-full mb-8 md:mr-8 ml-8 md:ml-0') | safe }}

      {# Intro #}
      <div class="md:col-start-2 md:row-start-1">
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-3 text-base tracking-wider uppercase opacity-80">
          Søknad
        </p>
      </div>

      <div class="mt-8 md:col-start-2" id="{{ stepTitle | slugify }}">

        {# Main content #}
        <div class="md:order-1 basis-main shrink-1">

          {% if (pagination.pageNumber > 0) and (pagination.pageNumber < (formSteps.length - 1)) %}

            {# Stepper #}
            <div class="mb-10 md:col-start-1">
              <div class="relative py-2 rounded-sm fine:hover:bg-deepblue-50">
                <h2 class="text-2xl font-semibold">{{ stepTitle | safe }}</h2>
                <button class="absolute inset-0 flex items-start justify-end pr-0.5 pt-3.5 fine:hover:text-blue-800 rounded-sm fine:hover:ring-12 fine:hover:ring-deepblue-50" x-on:click="stepperOpen = !stepperOpen">
                  <span class="sr-only">Vis seksjoner</span>
                  <svg class="flex-none w-6 h-6 -translate-y-px pointer-events-none" x-bind:class="stepperOpen && 'rotate-180'" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false" >
                    <path d="M18 9L12 15L6 9" stroke="currentColor" stroke-width="2" opacity="0.8" />
                  </svg>
                </button>

                {# Progressbar #}
                <div class="mt-1.5 -mx-px mb-2 pointer-events-none -translate-y-px overflow-hidden rounded-full bg-deepblue-100">
                  <div class="h-3 bg-deepblue-500" style="width: calc(({{ pagination.pageNumber }} / {{ formSteps.length - 2 }}) * 100%)"></div>
                </div>
                <p class="text-base">Steg {{ pagination.pageNumber }} av {{ formSteps.length - 2 }}</p>
              </div>
              <div class="px-3 py-4 mt-3" x-show="stepperOpen">
                {{ stepperList(formSteps) }}
              </div>
            </div>
          {% endif %}

          {# Content Blocks #}
          <div class="grid gap-12">
            {% if step.contentBlocks %}
              {% for block in step.contentBlocks %}
                {% include "partials/contentBlocks.njk" %}
              {% endfor %}
              {% else %}
              <div class="grid rounded-lg dashed-svg place-items-center aspect-square text-gray-900/40">Skjemafelter</div>
            {% endif %}
          </div>

          {# Navigation #}
          <div class="max-w-sm mt-12">
            <div class="grid gap-2 xs:grid-cols-2">
              {% if (pagination.pageNumber > 1) %}
                <a href="/soknad/aap/{{ pagination.page.previous.title | slugify }}/" class="inline-block px-8 py-3 font-semibold leading-snug text-center text-blue-500 bg-white rounded fine:hover:bg-blue-50 ring-2 ring-inset ring-blue-500" type="button">Forrige steg</a>
              {% endif %}

              {% if pagination.pageNumber < (formSteps.length - 2) %}
                <a href="/soknad/aap/{{ pagination.page.next.title | slugify }}/" class="inline-block px-8 py-3 font-semibold leading-snug text-center text-white bg-blue-500 rounded fine:hover:bg-blue-600" type="button">Neste steg</a>
              {% endif %}

            </div>
            <div class="grid gap-2 pt-4 mt-6 border-t border-gray-200 xs:grid-cols-2">
              {% if pagination.page.previous %}
                <a class="inline-block px-8 py-3 font-semibold leading-snug text-center rounded bg-gray-50 fine:hover:bg-blue-50" href="/soknad/aap/">Avslutt</a>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

    </div>
</main>
{%- endblock -%}
