---
title: 'Søk på nav.no'
description: 'Resultatside'
order: 12
tags: ['template']
---
{% extends 'base.njk' %}

{% block content %}
  <main class="min-h-[61vh] py-8 text-lg md:pt-12 md:pb-20 text-gray-900 px-clamp-gap">
    <div class="grid max-w-screen-lg mx-auto md:grid-cols-[2.2fr_0.8fr] md:gap-x-24">

      {# Tittel og søk #}
      <div class="col-start-1 row-start-1">
        <h1 class="text-3xl font-semibold leading-tight md:text-4xl">{{ title | safe }}</h1>

        <div class="mt-6 max-w-prose">
          <form class="flex rounded focus-within:ring focus-within:ring-blue-800 focus-within:ring-offset-2 focus-within:ring-offset-white">
            <label class="sr-only" for="search">Søk</label>
            <input class="flex-1 px-3 py-2 border border-gray-300 rounded-l focus:outline-none" type="search" id="search">
            <button class="px-6 py-3 text-white bg-blue-500 rounded-r" type="submit">Søk</button>
          </form>
        </div>
      </div>

      {# Filter #}
      <div class="mt-8 md:mt-16 md:row-start-1 md:col-start-2 md:row-span-2">
        <fieldset>
          <legend class="text-xl font-semibold">Søkefilter</legend>
          <div class="mt-2">
            {% for item in filters %}
              <div class="flex flex-wrap py-1">
                <input class="w-5 h-5 mr-2 align-middle peer" id="{{ item.title | slugify }}-root" type="radio" name="radio" />
                <label class="flex items-baseline justify-between flex-1 gap-3" for="{{ item.title | slugify }}-root">
                  <span class="flex-1 pointer-events-none">{{ item.title | safe }}</span>
                  <span>{{ item.title | length }}</span>
                </label>
                {% if item.children.length %}
                <fieldset class="hidden w-full pt-1 pb-4 peer-checked:block pl-7">
                  <legend class="sr-only">🤷‍♂️</legend>
                  <ol class="">
                    {% for subitem in item.children %}
                    <li class="flex items-baseline">
                      <input class="w-4 h-4 mr-2" type="checkbox" name="{{ item.title | slugify }}-sublevel" id="{{ subitem | slugify }}-sublevel" />
                      <label class="-translate-y-0.5 flex-1 inline-flex justify-between items-baseline" for="{{ subitem | slugify }}-sublevel">
                        {{ subitem | safe }}
                        <span>{{ subitem.length }}</span>
                      </label>
                    </li>
                    {% endfor %}
                  </ol>
                </fieldset>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      {# Resultat #}
      <div class="grid mt-4 divide-y divide-gray-200 md:mt-12">
        {% for item in range(1,10) %}
          <article class="py-4">
            <h3><a class="text-2xl font-semibold text-blue-500 hover:underline hover:text-blue-600" href="#">Title</a></h3>
            <p class="mt-0.5">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <p class="mt-3 text-base">Publisert 01.12.2019</p>
          </article>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}{% endblock %}
