@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --_layout-gap: clamp(0.75rem, 0.125rem + 4vw, 6rem);
    --_layout-full: minmax(var(--_layout-gap), 1fr);
    --_layout-feature: minmax(0, 6.5rem);
    --_layout-content: min(40rem + 32vw, 100% - (var(--_layout-gap) * 2));
  }
  a {
    text-decoration-thickness: 0.0875rem;
    text-underline-offset: 0.125em;
  }
}
@layer components {
  :where(.markdown) > *:not(h2, h3, h4, h5) + * {
    margin-block-start: 1.75rem;
  }
  .markdown > *:where(h2, h3, h4, h5) + * {
    margin-block-start: 0.125rem;
  }
  :where(.markdown) > p a {
    text-decoration: underline;
    color: var(--navds-global-color-blue-500);
  }
  :where(.markdown) > p a:hover {
    text-decoration: none;
    color: var(--navds-global-color-blue-600);
  }
  :where(.markdown) > h2 {
    @apply font-semibold text-2xl leading-snug;
  }
  :where(.markdown) > h3 {
    @apply font-semibold text-xl;
  }
  :where(.markdown) > ul {
    list-style: disc;
    list-style-position: outside;
    padding-inline-start: 1.125rem;
  }
  :where(.markdown) li + li {
    margin-block-start: 0.5rem;
  }

  .dashed-svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' stroke='%23b0b0b0' stroke-dasharray='6 5' rx='8' stroke-width='4'/%3E%3C/svg%3E");
  }
  .border-warning {
    border-image: repeating-linear-gradient(
        -64deg,
        theme(colors.orange.300),
        theme(colors.orange.300) 10px,
        theme(colors.deepblue.900) 10px,
        theme(colors.deepblue.900) 20px
      )
      20;
  }
}
@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
