@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --text-fluid--2: clamp(0.75rem, 0.7083rem + 0.2083vi, 0.875rem);
    --text-fluid--1: clamp(0.875rem, 0.8333rem + 0.2083vi, 1rem);
    --text-fluid-0: clamp(1.125rem, 1.0833rem + 0.2083vi, 1.25rem);
    --text-fluid-1: clamp(1.25rem, 1.1667rem + 0.4167vi, 1.5rem);
    --text-fluid-2: clamp(1.75rem, 1.5833rem + 0.8333vi, 2.25rem);
    --text-fluid-3: clamp(2rem, 1.625rem + 1.875vi, 3.125rem);

    --text-fluid-12-14: clamp(0.75rem, 0.7083rem + 0.2083vi, 0.875rem);
    --text-fluid-14-16: clamp(0.875rem, 0.8333rem + 0.2083vi, 1rem);
    --text-fluid-16-18: clamp(1rem, 0.9583rem + 0.2083vi, 1.125rem);
    --text-fluid-18-20: clamp(1.125rem, 1.0833rem + 0.2083vi, 1.25rem);
    --text-fluid-22-24: clamp(1.375rem, 1.3333rem + 0.2083vi, 1.5rem);
    --text-fluid-24-28: clamp(1.5rem, 1.4167rem + 0.4167vi, 1.75rem);
    --text-fluid-32-36: clamp(2rem, 1.9167rem + 0.4167vi, 2.25rem);
    --text-fluid-36-48: clamp(2.25rem, 2rem + 1.25vi, 3rem);
  }

  /* @link https://utopia.fyi/clamp/calculator?a=320,1280,12—14|14—16|16—18|18—20|22—24|24—28|32—36|36—48 */


  body {
    color: theme('colors.slate.900');
  }
  * {
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.125rem;
  }
  strong {
    font-weight: 650;
  }
  b {
    font-weight: 500;
  }
}

@layer components {
  :where(.prose) > *:not(summary, h2, h3, h4, h5) + * {
    margin-block-start: 1.75em;
  }
  .prose > :where(h1, h2, h3, h4, h5) {
    color: theme('colors.gray.800');
    font-weight: 700;
    text-wrap: pretty;
    margin-block: 1.75em 0.25em;
  }
  .prose > :where(h1, h2, h3, h4, h5):first-child {
    margin-block-start: 0;
  }
    :is(.prose) > :where(h2) {
    font-size: var(--text-fluid-28-32);
    line-height: 1.33;
    letter-spacing: -0.0125em;
  }

  :is(.prose) > :where(h3) {
    font-size: var(--text-fluid-24-28);
    line-height: 1.33;
    letter-spacing: -0.0125em;
  }
  :where(.prose) > :where(h2, h3, h4, h5) + :is(.accordion, .readmore, .expander, div) {
    margin-block-start: 0.75em;
  }

  :is(.prose) > h4 {
    font-size: var(--text-fluid-18-20);
    line-height: 1.33;
    letter-spacing: 0;
 
  }
  :is(.prose) > h5 {
    font-size: var(--text-fluid-18-20);
    font-weight: 650;
    line-height: 1.33;
    margin-block-end: 0.25em;
    letter-spacing: 0.05em;
    font-variant-caps: all-small-caps;
  }
 
  :where(.prose) > :is(ul, ol) {
    padding-inline-start: theme('spacing.5');
  }

  :where(.prose) > ul {
    list-style-type: disc;
  }
  :where(.prose) > ol {
    list-style-type: decimal;
  }
  :where(.prose) > :is(ol,ul) ::marker {
    color: #99185E;
  }
  :where(.prose) > ol ::marker {
    font-weight: 800;
    font-size: var(--text-fluid-20-24);
    font-variant-caps: all-small-caps;
  }
  :where(.prose) > :where(ol, ul) li {
    padding-inline-start: theme('spacing.1');
    margin-inline-start: theme('spacing.[2.5]');
  }
  :where(.prose) > :where(ol, ul) li + li {
    margin-block-start: theme('spacing.1');

  }
  :where(.prose) > :is(p, ul, ol) {
    text-wrap: pretty;
  }
  :where(.prose) > * a {
    color: theme('colors.blue.600');
    text-decoration-line: underline;
  }
  :where(.prose) > * a:hover {
    text-decoration-thickness: 2px;
  }

  :is(.prose) > hr {
    border: 0;    
    height: auto;
    text-align: center;
    opacity: 0.625;
    padding-block: 0.75em 0.25em;
    padding-inline-end: 1em;
  }

  :is(.prose) > hr:after {
    content: "・・・" / "";
    display: block;
    margin-inline: auto;
    font-weight: 100;
    font-size: 100%;
  }
  
  :where(.prose) > table {
    text-align: left;
    inline-size: 100%;
  }
  :where(.prose) > table :where(th, td) {
    padding-inline: theme('spacing.2') theme('spacing.4');
    padding-block: theme('spacing.2');
  }
  :where(.prose) > table :where(tbody tr) :where(th, td) {
    border-top-width: 1px;
    border-color: theme('colors.slate.300');
  }
  :where(.prose) > table :where(thead th) {
    font-weight: 600;
    line-height: theme('lineHeight.snug');
    vertical-align: bottom;
  }
  :where(.prose) > table :where(tbody th) {
    font-weight: 375;
  }
  :where(.prose) > table :where(tbody tr:nth-child(odd)) > * {
    background-color: theme('colors.slate.100');
  }
  :where(.prose) > table :where(tbody tr:first-child) :where(th, td) {
    border-top-width: 2px;
    border-color: theme('colors.slate.400');
  }
  /* Table of contents (toc) */
  .toc-highlight {
    border-inline-start-width: 4px;
    border-color: transparent;
  }

  .toc-highlight--active {
    border-color: theme('colors.blue.600');
  }

  .toc-highlight-pill {
    border-radius: theme('borderRadius.full');
  }

  .toc-highlight-pill--active {
    background-color: theme('colors.blue.50');
  }




  /* Accordion */
  .accordion {
    border-bottom: 1px solid theme('colors.slate.300');
    margin-block-end: theme('spacing.12');
  }
  .accordion details {
    display: grid;
    padding-inline: 44px 10px;
    border-top: 1px solid theme('colors.slate.300');
  }
  .accordion details + details {
    margin-block-start: 0;
  }
  .accordion details[open] {
    padding-block-end: 36px;
  }
  .accordion summary {
    appearance: none;
    display: block;
    list-style: none;
    padding: 0.5em 44px;
    margin-inline: -44px -10px;
    border-radius: theme('borderRadius.lg');
    cursor: pointer;
    text-align: left;
    text-indent: -31px;
    text-wrap: pretty;
    font-size: var(--text-fluid-18-20);
    font-weight: 400;
    line-height: 1.375;
    background-color: theme('colors.white');
    color: theme('colors.blue.500');
  }
  .accordion summary::-webkit-details-marker {
    display: none;
  }
  .accordion details[open] summary {
    margin-block-end: 8px;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .accordion summary:hover {
    background-color: theme('colors.blue.50 / 75%');
    color: theme('colors.blue.600');
  }
  .accordion summary:before {
    background-color: theme('colors.blue.50');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='rgb(0 103 197 / 1)' stroke-linecap='round' stroke-width='2' d='m6.5 10 5.493 5.493a.01.01 0 0 0 .014 0L17.5 10'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    flex-shrink: 0;
    place-items: center;
    translate: 0 4px;
    margin-inline-end: 10px;
    border-radius: 9px;
    transition: rotate 150ms;
    width: 22px;
    height: 22px;
  }
  .accordion :where(details:has(summary:hover)) summary:not(:focus-visible) {
    outline: 4px solid white;
  }
  .accordion :where(details[open]) summary:before {
    rotate: -180deg;
  }
  .accordion summary:hover:before {
    background-color: theme('colors.blue.700');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='rgb(255 255 255 / 1)' stroke-linecap='round' stroke-width='2' d='m6.5 10 5.493 5.493a.01.01 0 0 0 .014 0L17.5 10'/%3E%3C/svg%3E");
  }
  .accordion summary > * {
    text-wrap: pretty;
  }
  [data-theme="sykepenger"] :where(.accordion) details {
    padding-inline: 42px;
  }
  [data-theme="sykepenger"] :where(.accordion) summary {
    margin-inline: -42px;
    padding-inline: 42px;
    text-indent: -31px;
  }



  /* Expander */
  .expander {
    display: grid;
    padding-inline: 20px;
    border: 1px solid theme('colors.slate.300');
    border-radius: theme('borderRadius.lg');
  }
  .expander[open] {
    padding-block-end: 20px;
  }
  :where(.expander) summary {
    appearance: none;
    display: flex;
    list-style: none;
    padding: 0.75em 8px 0.625em 16px;
    margin-inline: -20px;
    border-radius: theme('borderRadius.lg');
    cursor: pointer;
    text-align: left;
    text-wrap: pretty;
    line-height: 1.375;
    color: theme('colors.blue.700');
    font-weight: 500;
    gap: theme(spacing.[0.5]);
    background-color: theme('colors.white');
  }
  :where(.expander) summary::-webkit-details-marker {
    display: none;
  }
  :where(.expander[open]) summary {
    margin-block-end: theme('spacing.2');
    border-radius: theme('borderRadius.lg') theme('borderRadius.lg') 0 0;
    border-bottom: 1px solid theme('colors.slate.300');
    position: sticky;
    top: 0;
    z-index: 20;
  }
  :where(.expander) summary:hover {
    background-color: theme('colors.blue.50');
  }
  :where(.expander) summary:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='rgba(0, 69, 156, 1)' stroke-linecap='round' stroke-width='1.75' d='m6.5 10 5.493 5.493a.01.01 0 0 0 .014 0L17.5 10'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    flex-shrink: 0;
    place-items: center;
    align-self: baseline;
    margin-inline: auto 10px;
    transition: transform 150ms;
    transform: translateY(1px);
    width: 22px;
    height: 22px;
  }
  :where(.expander[open]) summary:after {
    transform: rotate(-180deg);
  }
  :where(.expander) summary > * {
    text-wrap: pretty;
  }
  :where(.expander) summary > span {
    transform: translateY(0px);
  }



  /* ReadMore */
  .readmore {
    display: grid;
    margin-block-end: 40px;
  }
  :where(.readmore) summary {
    appearance: none;
    display: flex;
    width: fit-content;
    list-style: none;
    padding: 0.375em 18px 0.375em 44px;
    cursor: pointer;
    background-color: theme('colors.blue.50 / 75%');
    border-radius: theme('borderRadius.lg');
    color: theme('colors.blue.600');
    line-height: 1.375;
    font-weight: 500;
    text-align: left;
    text-wrap: pretty;
  }
  :where(.readmore) summary::-webkit-details-marker {
    display: none;
  }
  :where(.readmore) summary:before {
    /* background-color: theme('colors.white');
    border-radius: theme('borderRadius.full'); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='rgba(0, 69, 156, 1)' stroke-linecap='round' stroke-width='1.75' d='m6.5 10 5.493 5.493a.01.01 0 0 0 .014 0L17.5 10'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    flex-shrink: 0;
    place-items: center;
    align-self: baseline;
    margin-inline: -33px 8px;
    transition: transform 150ms;
    transform: translateY(2px);
    width: 22px;
    height: 22px;
  }
  :where(.readmore) summary:hover {
    background-color: theme('colors.blue.100 / 75%');
  }

  :where(.readmore[open]) summary {
    outline: 4px solid white;
    position: sticky;
    top: 4px;
    z-index: 20;
    margin-bottom: 16px;
  }
  :where(.readmore[open]) summary:before {
    transform: translateY(2px) rotate(-180deg);
  }
  :where(.readmore) summary > * {
    text-wrap: pretty;
  }
  :where(.readmore) summary > span {
    transform: translateY(-1px);
  }


  .button {
    line-height: 1.15;
    overflow: visible;
    padding: theme('spacing.3') theme('spacing.5');
    align-items: center;
    border: 2px solid theme('colors.blue.500');
    border-radius: theme('borderRadius.md');
    cursor: pointer;
    display: inline-flex;
    gap: theme('spacing.2');
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
  }
  .button--primary {
    background-color: theme('colors.white');
    border-color: theme('colors.blue.500');
    color: theme('colors.blue.500');
  }
  .button--primary:hover {
    border-color: theme('colors.blue.700');
    background-color: theme('colors.blue.50');
    color: theme('colors.blue.700');
  }
  .button--secondary {
    border-color: theme('colors.transparent');
    background-color: theme('colors.blue.50/75%');
  }
  .button--secondary:hover {
    border-color: theme('colors.blue.600');
    background-color: theme('colors.blue.50');
  }
  .button--tertiary {
    border-color: theme('colors.blue.50');
    background-color: theme('colors.blue.50');
  }
  .button--tertiary:hover {
    background-color: theme('colors.blue.100');
    border-color: theme('colors.blue.100');
  }

  .wave {
    --size: 6px;
    --p: 3px;
    --R: 6px;

    mask:
      radial-gradient(var(--R) at left 50% top calc(var(--size) + var(--p)), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
      radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), #0000 99%, #000 101%) left 50% top var(--size) / calc(4 * var(--size)) 100% repeat-x;
  }
}


@layer utilities {
  .grid-cols-combi {
    --_container: clamp(0rem, -14rem + 35vi, 17.5rem);
    --_prose: 20rem; 
    --_edge: theme('spacing.page');
    grid-template-columns: 
      [full-start] var(--_edge) [wide-start] minmax(0, 1fr) [container-start] var(--_container) [main-start] minmax(0, var(--_prose)) minmax(0, var(--_prose)) [main-end] var(--_container) [container-end] minmax(0, 1fr) [wide-end] var(--_edge) [full-end];
  }

  :where(.grid-cols-combi > *) { grid-column: main }

  .col-full { grid-column: full }
  .col-wide { grid-column: wide }
  .col-container { grid-column: container }
  .col-main { grid-column: main }

  .border-warning {
    border-image: repeating-linear-gradient(-64deg, #FFAC33, #FFAC33 10px, #00243a 0, #00243a 20px) 20;
  }

  .w-logo {
    width: clamp(4rem, 3.875rem + 0.625vw, 4.5rem);
  }
  .bg-dotted-x {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='1' fill='none' viewBox='0 0 5 1'%3E%3Ccircle cx='.5' cy='.5' r='.5' fill='%23555'/%3E%3C/svg%3E");
  }

  .flip-y {
    transform: rotateX(-180deg);
  }
  .flip-x {
    transform: rotateY(-180deg);
  }
  .small-caps {
    font-variant-caps: all-small-caps;
  }
}
