---
title: 'Lokalkontor'
category: 'Kontorside'
type: 'Kontorside'
order: 3
tags: ['listeside', 'proto']
bodyClass: 'bg-white'
alpine: true
---

{%- extends 'base.njk' -%}

{%- macro iconBox(box) -%}
  <div class="grid isolate">
    <div class="z-10 grid w-16 mx-auto translate-y-1/2 bg-blue-100 rounded-full place-items-center aspect-square">
      {{ box.icon | svgContents('w-7 h-7 shrink-0') | safe }}
    </div>
    <div class="px-6 py-8 bg-white rounded-lg md:py-12 md:px-10">
      <h2 class="mt-3 font-semibold text-fluid-24-28">{{ box.title | safe }}</h2>
      <div class="mt-2 prose markdown">
        {{ box.content | markdown | safe }}
      </div>
    </div>
  </div>
{%- endmacro -%}


{%- block content -%}
  <main class="relative z-10" data-theme="kontor">
    <div class="grid pt-12 pb-16 grid-cols-combi">
      <div class="mb-4 col-main">
        <h1 class="font-semibold leading-tight text-fluid-32-36 md:text-fluid-36-48">Nav Andeby</h1>
        <p class="mt-3">Lokalkontor for Andeby, Gåseby og Fjærby.</p>
      </div>

      <div class="mt-8 col-main">
        <h2 class="font-semibold text-fluid-24-28">Adresser og åpningstider når du ikke har en avtale</h2>
        <p>Du kan avtale møte med veilederen din utenom disse åpningstidene.</p>
        
        <div class="mt-8 accordion">
          {% for office in offices %}           
          <details>
            <summary>{{ office.title }}</summary>
            <div class="gap-8 pt-4 lg:grid lg:grid-cols-5">
              <div class="mb-8 prose lg:col-span-2">
                <h3 class="text-fluid-20-22">Adresse</h3>
                <address>
                  {{ office.address[0] }}<br>
                  {{ office.address[1] }}
                </address>
                {% if office.addressInfo -%}
                <p class="text-balance">{{ office.addressInfo }}</p>
                {%- endif %}
              </div>
              <div class="prose lg:col-span-3">
                <h3 class="text-fluid-20-22">Åpningstider</h3>
                <dl>
                  {% for day in office.openingHours %}
                    <div class="grid grid-cols-2 px-2 py-1.5 -mx-2 rounded-sm odd:bg-slate-100">
                      <dt>{{ day[0] }}</dt>
                      <dd class="font-semibold text-right">{{ day[1] }}</dd>
                    </div>
                  {% endfor %}
                </dl>
              </div>
            </div>
          </details>
          {% endfor %}
        </div>

        <div class="p-8 mt-8 rounded-lg bg-gray-50">
          <p>Telefonnummeret til NAV er <span class="block font-semibold leading-tight text-fluid-24-28">55 55 33 33</span></p>
          <p class="pt-4">Du kan ikke ringe direkte til NAV-kontoret.</p>
        </div>
      </div>
    </div>

    <div class="grid pb-20 grid-cols-combi bg-gray-50">
      <div class="col-narrow">
        {% for box in boxes %}
          {{ iconBox(box) }}
        {% endfor %}
      </div>
    </div>

  </main>
{%- endblock -%}

{%- block styles -%}{%- endblock -%}
{%- block script -%}{%- endblock -%}
