---
tags: ['situasjon', 'proto']
category: "Dette kan du ha rett til"
type: "Situasjonsside"
title: "Venter eller har nylig fått barn"
ingress:
  "Når du får barn kan du og barnet ha rett til ulike støtteordninger. Hva du har rett til avhenger av situasjonen din."
published: "Oppdatert 13. februar 2024"
alpine: true
permalink: 'situasjon/barn/index.html'
description: ''
layout: 'article-page.njk'
---


