---
layout: "base.njk"
loggedIn: true
role:
  title: Arbeidsgiver
pagination:
  data: users
  size: 1
  alias: user
permalink: "/{{ user.name | slugify }}/arbeidsgiver/index.html"
---

<div class="container container--prose">
  <header class="page-header">
    <h1>Forside (arbeidsgiver)</h1>
  </header>


  <div class="page-section card">
    <a href="/{{ user.name | slugify }}/minside-arbeidsgiver/">
      <span>Min side - arbeidsgiver</span>
    </a>
  </div>


</div>
