---
layout: "base.njk"
title: "Bytt bruker"
loggedIn: true
pagination:
  data: users
  size: 1
  alias: user
permalink: "/{{ user.name | slugify }}/bytt-bruker/index.html"
---
<div class="container container--prose">
  <div class="page-crumbs"><a href="/{{ users[0].name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>
  <p></p>

  <div class="account-switcher">
    {% set dateOptions = { year: "numeric", month: "long", day: "numeric" } %}
    {%- for agent in users %}
        <div class="account-option card {{ 'card--active' if agent.name == user.name }}">
          <span class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            <span class="avatar__shape">{{ agent.name.slice(0,2) }}</span>
            {% if (agent.tasks | length) >= 1 %}
              <span class="avatar__tasks">{{ agent.tasks | length }}</span>
            {% endif %}
          </span>
          <div class="stack-text">
            <strong>
              {% if agent.name == user.name %}
                {{ agent.name }}
              {% else %}
                <a href="/{{ agent.name | slugify }}/minside/">{{ agent.name }}</a>
              {% endif %}
            </strong>
            <small>
              {% if agent.type === 'self' %}
                Deg selv
              {% else %}
                Født {{ agent.birthday | formatDate(dateOptions) | safe }}
              {% endif %}
            </small>
            {% if agent.representation %}
              <div class="tag">{{ agent.representation | safe }}</div>
            {% endif %}
          </div>

          {{ '/src/assets/images/icon-checkmarkcirclefill.svg' | svgContents | safe if agent.name == user.name }}
        </div>       
        {% if agent.type === 'self' %}
          <hr>
        {% endif %}
    {%- endfor %}
  </div>

</div>
