---
layout: "base.njk"
title: "Bytt bruker"
loggedIn: true
pagination:
  data: users
  size: 1
  alias: user
permalink: "/{{ user.name | slugify }}/bytt-bruker/index.html"
---
<div class="container container--prose account-selection">
  <div class="page-crumbs"><a href="/{{ users[0].name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>
  <p></p>

  <div style="margin-block:1lh;">
    {%- for agent in users %}
      {% if agent.name == user.name %}
        <div class="account-option card card--ghost">
          <div class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            {{ agent.name.slice(0,2) }}
          </div>
          <div class="stack-text">
            <strong>{{ agent.name }}</strong>
            <small>{{ agent.id }}</small>
          </div>
          {# {%- if loop.first %}<span class="tag">Deg</span>{%- endif %} #}
        </div>       
      {% else %}
        <a href="/{{ agent.name | slugify }}/minside/" class="account-option card">
          <div class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            {{ agent.name.slice(0,2) }}
          </div>
          <div class="stack-text">
            <strong>{{ agent.name }}</strong>
            <small>{{ agent.id | safe }}</small>
          </div>
          {# {%- if loop.first %}<span class="tag">Deg</span>{%- endif %} #}
        </a>
      {% endif %}

    {%- endfor %}
  </div>

  <p><a href="/{{ user.name | slugify }}/representasjon/">Mer om representasjon og fullmakter</a></p>

</div>
