---
title: Dialog med Nav
layout: "base.njk"
loggedIn: true
pagination:
  data: users
  size: 1
  alias: user
permalink: "/{{ user.name | slugify }}/minside/dialog/index.html"
---

<div class="container container--prose">
  <div class="page-crumbs"><a href="/{{ user.name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>
</div>
