---
layout: "base.njk"
title: ID-porten
---
<div class="id-porten">
  <style>
    .site-content {
      display: grid;
      place-items: center;
    }
    @scope {
      :scope {
        block-size: 100vb;
        inline-size: min(240px, 100%);
        margin-inline: auto;
        display: grid;
        place-items: center;
        text-align: center;
        align-self: center;
      }
      a {
        text-decoration: none;
        box-sizing: border-box;
        inline-size: max-content;
        display: block;
        margin-inline: auto;
        background: lightblue;
        color: darkblue;
        font-size: 1.5rem;
        padding:2rem 4rem;
        border: 1px solid hsl(from lightblue H S calc(L - 8));
        border-radius: 0.5rem;

        &:hover {
          background: hsl(from lightblue H calc(S + 10) calc(L + 8));
          border-color: lightblue;
        }
      }
    }
  </style>
  <a href="/{{ site.accounts[0].name | slugify }}/representasjon/">BankID</a>
</div>
