---
title: 'Hjem'
eleventyExcludeFromCollections: true
bodyClass: 'bg-purple-50'
---
{% extends 'base.njk' %}

{% block styles %}{% endblock %}

{% block content %}
  <main class="p-4 sm:px-[4%] sm:py-[2%] font-mono">
    <h1 class="text-xl font-semibold">{{ site.title | safe }}</h1>
    <nav>
      <ul class="grid gap-3 mt-8 md:gap-8 grid-cols-cards">
        {% for page in collections.template | sort(false, false, 'data.order') %}
          <li class="grid">
            <div class="relative motion-safe:hover:translate-y-1 rounded-l-sm transition ease-out duration-100 hover:duration-300 flex flex-col shadow-xl hover:shadow hover:shadow-purple-600/40 shadow-purple-400/20 gap-1 content-start p-8 sm:pt-[50%] sm:pb-[15%] bg-white border-l-[6px] border-purple-800/40 rounded-r group hover:bg-purple-400">
              <p class="text-xs font-semibold tracking-wider uppercase">
                {% for tag in page.data.tags %}
                  <span class="inline-block pl-1.5 pr-1 py-1 leading-none text-white rounded-sm bg-purple-600/80 group-hover:bg-purple-800">{{ tag | title | safe }}</span>
                {% endfor %}
              </p>
              <h2 class="text-xl font-semibold leading-tight text-purple-600 sm:text-3xl group-hover:text-white">
                <a class="after:absolute after:inset-0" href="{{ page.url }}">{{ page.data.title | safe }}</a>
              </h2>
              <p class="self-stretch mt-1 font-semibold text-purple-800/60 group-hover:text-purple-100">{{ page.data.description | safe }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </main>
{% endblock %}
