---
title: 'Index'
noJS: true
---
{%- extends 'blank.njk' -%}

{% set pages = [
  {
    title: 'Områdeside',
    description: 'Samler inngang til alle situasjonssider som er aktuelle for det aktuelle området.',
    url: 'omrade'
  },
  {
    title: 'Produktside',
    description: 'Informasjon om en ytelse, tjeneste eller et hjelpemiddel.',
    url: 'produkt'
  },
  {
    title: 'Temaartikkel',
    description: 'Gir dybdeinformasjon om ett konkret tema.',
    url: 'tema'
  }
] %}

{% macro link(item) %}
  <div class="relative grid place-content-start gap-1 py-6 pl-6 pr-8 text-lg rounded bg-slate-100 overflow-clip has-[a:hover]:bg-blue-500 has-[a:hover]:text-white">
    <a class="font-semibold text-blue-600 after:absolute hover:text-white after:z-10 after:inset-0" href="/{{ item.url }}/">
      {{ item.title }}
    </a>     
    {% if item.description %}      
      <p class="text-base text-pretty max-w-prose opacity-85">{{ item.description | safe }}</p>
    {% endif %}
  </div> 
{% endmacro %}


{%- block content -%}
  <div class="py-page lg:py-20 grid grid-cols-center font-[375]">
    <div class="grid items-start gap-2 col-container overflow-clip rounded-xl">
      <div class="grid gap-2 lg:grid-cols-3">
        {% for item in pages %}      
        {{ link(item) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}