---
layout: "base.njk"
loggedIn: true
pagination:
  data: site.accounts
  size: 1
  alias: account
permalink: "/minside/{{ account.name | slugify }}/index.html"
---

<div class="container container--prose">
  <header class="page-header">
    <h1>Hei, {{ account.name }}</h1>
  </header>
</div>