---
layout: "base.njk"
loggedIn: true
pagination:
  data: agents
  size: 1
  alias: agent
permalink: "/{{ agent.name | slugify }}/minside/index.html"
---

<div class="container container--prose">
  <header class="page-header">
    <h1>
      Hei, {{ agent.name or agents[0].name }}
    </h1>
  </header>

  <div class="page-section card">
    <a href="/{{ agent.name | slugify }}/minside/dialog/" class="stack-text">
      <strong>Dialog med Nav</strong>
      <small>Ingen nye meldinger</small>
    </a>
  </div>

  {% if agent.tasks %}
  <section class="page-section">
    <h2 class="page-section__title">Oppgaver</h2>
    <div class="page-section__content" style="display:grid; gap:var(--ax-space-6)">
      {%- for task in agent.tasks %}
      <div class="card">
        <h3><a href="#">{{ task.title }}</a></h3>
        <p><small>{{ task.description }}</small></p>
      </div>
      {%- endfor %}
      <a href="#">Tidligere oppgaver</a>
    </div>
  </section>
  {% endif %}

  {% if agent.products %}
  <section class="page-section">
    <h2 class="page-section__title">Pengestøtte</h2>
    <div class="page-section__content" style="display:grid; gap:var(--ax-space-6)">
      {%- for product in agent.products %}
      <article class="card card--product stack-text" {{- 'data-status=new' if loop.first -}}>
        <a class="card__title" href="/{{ agent.name | slugify }}/minside/{{ product.title | slugify }}/">{{ product.title }}</a>
        <small>{{ product.status }}</small>
      </article>
      {%- endfor %}
    </div>
  </section>
  {% endif %}

</div>
