---
layout: "base.njk"
loggedIn: true
role: Arbeidsgiver
pagination:
  data: users
  size: 1
  alias: user
permalink: "/{{ user.name | slugify }}/minside-arbeidsgiver/index.html"
---

<div class="container container--prose">
  <header class="page-header">
    <h1>Min side - arbeidsgiver</h1>
  </header>


  {% if user.type == 'agent' %}
    Du har ikke tilgang …
  {% endif %}

</div>
