---
layout: "base.njk"
loggedIn: true
role: Arbeidsgiver
pagination:
  data: agents
  size: 1
  alias: agent
permalink: "/{{ agent.name | slugify }}/minside-arbeidsgiver/index.html"
---

<div class="container container--prose">
  <header class="page-header">
    <h1>Min side - arbeidsgiver</h1>
  </header>


  {% if agent.type == 'agent' %}
    asdfasd
  {% endif %}

</div>
