---
layout: "base.njk"
title: "Personopplysninger"
loggedIn: true
pagination:
  data: agents
  size: 1
  alias: agent
permalink: "/{{ agent.name | slugify }}/personopplysninger/index.html"
---

<div class="container container--prose account-selection">
  <div class="page-crumbs"><a href="/{{ agents[0].name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>
</div>