---
layout: "base.njk"
title: "Velg profil"
loggedIn: true
pagination:
  data: site.accounts
  size: 1
  alias: account
permalink: "/{{ account.name | slugify }}/representasjon/index.html"
---

<div class="container container--prose account-selection">
  <div class="page-crumbs"><a href="/{{ site.accounts[0].name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>
  <p>Du kan endre valget senere, ved å trykke på profilen din.</p>
  
  <div class="account-list">
    <ul>
      {%- for account in site.accounts %}
      <li>
        <a class="account-option" href="/{{ account.name | slugify }}/minside/">
          <div class="avatar {{ 'avatar--main' if account.type != 'agent' }}">
            {{ account.icon | svgContents | safe }}
          </div>
          <div>
            <strong>{{ account.name }}</strong>
            <small>{{ account.role }}</small>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>

</div>
