---
layout: "base.njk"
title: "Fullmakter og representasjon"
loggedIn: true
pagination:
  data: agents
  size: 1
  alias: agent
permalink: "/{{ agent.name | slugify }}/representasjon/index.html"
---

<div class="container container--prose account-selection">
  <div class="page-crumbs"><a href="/{{ agents[0].name | slugify }}/minside/">Min side</a> /</div>
  <h1>{{ title }}</h1>

</div>


{# 
  <form class="agent-chooser" id="representasjon">
    <fieldset>
      <legend>Velg hvem du skal representere</legend>
      {%- for profile in agents %}
      <div class="account-option card">
        <div class="avatar {{ 'avatar--self' if profile.type != 'agent' }}">
          {{ profile.icon | svgContents | safe }}
          <input type="radio" id="{{ profile.name | slugify }}" name="profil" value="{{ profile.name | slugify }}/minside/" {{ 'checked' if agent.name == profile.name }}>
        </div>
        <label for="{{ profile.name | slugify }}">
          <span>
            <strong>{{ profile.name }}</strong>
            <small>{{ profile.role }}</small>
          </span>
          {% if loop.first %}<span class="tag">Deg</span>{% endif %}
        </label>
      </div>
      {%- endfor %}
    </fieldset>
    <button type="submit">Velg profil</button>
  </form>
  <script>
    const agentChooser = document.getElementById('representasjon');
    agentChooser.addEventListener('submit', function(event) {
      event.preventDefault();
      window.location.href = "{{ '/' | htmlBaseUrl }}" + agentChooser.elements["profil"].value;
    });
  </script> 
 #}
