---
layout: "base.njk"
loggedIn: true
---

<article class="container article">
  <header class="page-header">
    <h1>Sykepenger</h1>
    <div class="tag-group">
      <span class="tag">Pengestøtte</span>
    </div>
  </header>

  <p>Erstatter inntekten din når du ikke kan jobbe på grunn av sykdom eller skade.</p>

  <nav class="table-of-contents" aria-labelledby="#toc-title">
    <h2 id="toc-title">Innholdsfortegnelse</h2>
    <ul>
      <li>
        <a href="#">Hvem kan få?</a>
      </li>
      <li>
        <a href="#">Hva kan du få?</a>
        <ul>
          <li><a href="#">Hvor mye kan du få?</a></li>
          <li><a href="#">Hvor lenge kan du få?</a></li>
          <li><a href="#">Reisetilskudd som alternativ til sykepenger</a></li>
          <li><a href="#">Andre tilbud</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Søke, ettersende eller klage</a>
        <ul>
          <li><a href="#">Når skal du søke?</a></li>
          <li><a href="#">Søknad og ettersendelse</a></li>
          <li><a href="#">Etter at du har søkt</a></li>
          <li><a href="#">Klagerettigheter</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Når du har sykepenger</a>
        <ul>
          <li><a href="#">Dette må du gjøre når du har sykepenger</a></li>
          <li><a href="#">Oppfølging</a></li>
          <li><a href="#">Når utbetales pengene?</a></li>
          <li><a href="#">Meld fra om endringer</a></li>
          <li><a href="#">Reise eller flytte til utlandet</a></li>
          <li><a href="#">Ferie og sykepenger</a></li>
          <li><a href="#">Jobb og sykepenger</a></li>
          <li><a href="#">Når det snart er slutt på sykepengene</a></li>
          <li><a href="#">Hvordan blir økonomien din? </a></li>
          <li><a href="#">Når tiden med sykepenger er over</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="prose">
    <h2>Hvem kan få?</h2>

    <p>Du kan ha rett til sykepenger hvis du oppfyller disse generelle vilkårene:</p>
    <ul>
      <li>Du er <a href="#">medlem av folketrygden</a> eller er EU/EØS-borger og jobber i Norge.</li>
      <li>Du er under 70 år.</li>
      <li>Du har fått en sykmelding fra lege, tannlege, kiropraktor eller manuell terapeut.</li>
      <li>Du er minst 20 prosent sykmeldt av den totale arbeidstiden din. </li>
      <li>Arbeidet må gi pensjonsgivende inntekt, det vil si inntekt du får som lønn og betaler skatt av.</li>
    </ul>

    <p>Det er Nav som avgjør om sykmeldingen gir deg rett til sykepenger. Det er ulike regler avhengig av hva slags arbeid du har eller hvilken situasjon du er i.</p>
    <p>Får du <a href="#">fosterhjemsgodtgjørelse</a>? Da regnes du som frilanser. Det samme gjelder hvis du får <a href="#">omsorgsstønad</a> og du ikke er ansatt hos en arbeidsgiver. Se egen informasjon for frilansere.</p>
    <p>Se hvilke regler som gjelder for deg:</p> 

    <div class="accordion">
      <details><summary>Arbeidstaker</summary></details>
      <details><summary>Selvstendig næringsdrivende</summary></details>
      <details><summary>Frilanser</summary></details>
      <details><summary>Fisker</summary></details>
      <details><summary>Tilkallingsvikar</summary></details>
      <details><summary>Har flere jobber</summary></details>
      <details><summary>Jobber i flere land</summary></details>
      <details><summary>Midlertidig ute av arbeid</summary></details>
      <details><summary>Arbeidsledig (dagpengemottaker)</summary></details>
      <details><summary>Permittert</summary></details>
      <details><summary>Har avtjent militærtjeneste</summary></details>
      <details><summary>Tar utdanning</summary></details>
      <details><summary>Innlagt i helseinstitusjon</summary></details>
      <details><summary>Er i fengsel</summary></details>
    </div>

    <h2>Hva kan du få?</h2>

    <h3>Hvor mye kan du få?</h3>

    <p>Sykepengene skal dekke inntekten du vanligvis har, opp til 819 294 kroner (6 ganger folketrygdens grunnbeløp).</p>

    <p>Når Nav skal utbetale sykepenger, fastsetter vi et sykepengegrunnlag som sykepengene regnes ut etter. I noen saker må Nav bruke skjønn for å beregne sykepengegrunnlaget ditt, det vil si inntekten som Nav kommer fram til at du ville hatt om du ikke hadde blitt syk.</p>

    <p>Inntekt fra overtid regnes ikke med i sykepengegrunnlaget.</p>

    <p>Hvis du starter i ny jobb eller får ny inntekt mens du er sykmeldt, vil sykepengene dine bli gradert.</p>

    <div class="accordion">
      <details><summary>Arbeidstaker</summary></details>
      <details><summary>Selvstendig næringsdrivende</summary></details>
      <details><summary>Frilanser</summary></details>
      <details><summary>Fisker</summary></details>
      <details><summary>Tilkallingsvikar</summary></details>
      <details><summary>Har flere jobber</summary></details>
      <details><summary>Jobber i flere land</summary></details>
      <details><summary>Midlertidig ute av arbeid</summary></details>
      <details><summary>Arbeidsledig (dagpengemottaker)</summary></details>
      <details><summary>Arbeidsavklaringspenger</summary></details>
      <details><summary>Permittert</summary></details>
      <details><summary>Har avtjent militærtjeneste</summary></details>
      <details><summary>Innlagt i helseinstitusjon</summary></details>
      <details><summary>Tar utdanning</summary></details>
    </div>

    <h4>Hvis arbeidsgiveren ikke godtar sykmeldingen din</h4>

    <p>Noen ganger kan en arbeidsgiver nekte å betale sykepenger de første 16 dagene av sykefraværet. Hvis arbeidsgiveren din ikke godkjenner sykmeldingen, kan du søke om at Nav betaler deg sykepenger disse 16 dagene.</p>

    <div class="accordion">
      <details><summary>Når kan arbeidsgiveren velge å ikke godta sykmeldingen?</summary></details>
      <details><summary>Slik søker du om at Nav betaler sykepengene de første 16 dagene</summary></details>
      <details><summary>Hva gjør Nav etter at du har søkt?</summary></details>
    </div>

    <h3>Hvor lenge kan du få?</h3>
    
    <p>Hvor lenge du kan få sykepenger avhenger av alderen din.</p>

    <div class="accordion">
      <details><summary>Under 67 år</summary></details>
      <details><summary>Mellom 67 og 70 år</summary></details>
    </div>

    <h3>Reisetilskudd som alternativ til sykepenger</h3>
    
    <p>Klarer du å jobbe, men har problemer med å reise til og fra arbeidsstedet? Da kan du ha rett til reisetilskudd i stedet for sykepenger fra 17. dag etter at du ble sykmeldt.</p>

    <div class="card  card--product stack-text">
      <a href="#">Reisetilskudd</a>
      <small>Pengestøtte</small>
    </div>

    <h3>Andre tilbud</h3>

    <p>Mer informasjon til deg som …</p>


    <h2>Søke, ettersende eller klage</h2>
    <h2>Når du har sykepenger</h2>
  </div>
</article>
