---
layout: "bare.njk"
title: "Velg bruker"
loggedIn: true
user:
  name: Charlie Jensen
permalink: "/{{ users[0].name | slugify }}/velg-bruker/index.html"
---

<div class="container container--prose">
  <h1>{{ title }}</h1>
  <p>[ Noe om at brukere MÅ ta et valg, og at de kan endre valget uten å logge ut og inn igjen … ]</p>

  <div class="account-switcher">
    {% set dateOptions = { year: "numeric", month: "long", day: "numeric" } %}
    {%- for agent in users %}
        <div class="account-option card">
          <div class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            {{ agent.name.slice(0,2) }}
          </div>
          <div class="stack-text">
            <strong>
              <a href="/{{ agent.name | slugify }}/minside/">{{ agent.name }}</a>
            </strong>
            <small>
              {% if agent.type === 'self' %}
                Deg selv
              {% else %}
                Født {{ agent.birthday | formatDate(dateOptions) | safe }}
              {% endif %}
            </small>
            {% if agent.representation %}
              <div class="tag">{{ agent.representation | safe }}</div>
            {% endif %}
          </div>
        </div>       
        {% if agent.type === 'self' %}
          <hr>
        {% endif %}
    {%- endfor %}
  </div>
  <p><a href="/">Avbryt og logg ut</a></p>

</div>
