---
layout: "base.njk"
title: "Velg bruker"
loggedIn: true
permalink: "/velg-bruker/index.html"
---
<div class="container container--prose">
  <h1>{{ title }}</h1>
  <p></p>

  <div class="account-switcher">
    {% set dateOptions = { year: "numeric", month: "long", day: "numeric" } %}
    {%- for agent in users %}
        <div class="account-option card {{ 'card--active' if agent.name == user.name }}">
          <div class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            {{ agent.name.slice(0,2) }}
          </div>
          <div class="stack-text">
            <strong>
              {% if agent.name == user.name %}
                {{ agent.name }}
              {% else %}
                <a href="/{{ agent.name | slugify }}/minside/">{{ agent.name }}</a>
              {% endif %}
            </strong>
            <small>
              {% if agent.type === 'self' %}
                Deg selv
              {% else %}
                Født {{ agent.birthday | formatDate(dateOptions) | safe }}
              {% endif %}
            </small>
            {% if agent.representation %}
              <div class="tag">{{ agent.representation | safe }}</div>
            {% endif %}
          </div>
        </div>       
        {% if agent.type === 'self' %}
          <hr>
        {% endif %}
    {%- endfor %}
  </div>

</div>
