---
layout: "bare.njk"
title: "Velg bruker"
loggedIn: true
user:
  name: Charlie Jensen
permalink: "/{{ users[0].name | slugify }}/velg-bruker/index.html"
---

<div class="container container--prose">
  <h1>{{ title }}</h1>
  <p>[ Noe om at brukere MÅ ta et valg, og at de kan endre valget uten å logge ut og inn igjen … ]</p>

  <div class="account-switcher">
    {% set dateOptions = { year: "numeric", month: "long", day: "numeric" } %}
    {%- for agent in users %}
        <div class="account-switcher__option card">
          <span class="avatar {{ 'avatar--agent' if agent.type === 'agent' }}">
            <span class="avatar__shape">{{ agent.name.slice(0,2) }}</span>
            {% if (agent.tasks | length) >= 1 %}
              <span class="avatar__tasks">{{ agent.tasks | length }}</span>
            {% endif %}
          </span>
          <div class="stack-text">           
            <a href="/{{ agent.name | slugify }}/minside/">
              <strong>{{ agent.name }}</strong>
            </a>
            {% if agent.type === 'agent' %}              
            <small>Født {{ agent.birthday | formatDate(dateOptions) | safe }}</small>
            {% endif %}
            <small>{{ agent.representation }}</small>
          </div>
        </div>       
        {% if agent.type === 'self' %}
          <hr>
        {% endif %}
    {%- endfor %}
  </div>
  <p><a href="/">Avbryt og logg ut</a></p>

</div>
