---
tags: ['situasjon', 'proto']
category: "Dette kan du ha rett til"
type: "Situasjonsside"
title: "Har blitt sykmeldt"
description: ''
ingress:
  "Om rettighetene du har som sykmeldt, hvilke regler som gjelder og hva slags støtte du kan få."
chapters: 'sykmeldt'
published: "Oppdatert 24. april 2025"
alpine: true
order: 2
permalink: 'situasjon/sykmeldt/index.html'
layout: 'article-page.njk'
---
