---
title: 'Søknad'
description: 'Grunnoppsett for søknader'
order: 5
tags:
  - template
---
{% extends 'base.njk' %}

{% block content %}
  <main class="min-h-[61vh] text-lg text-gray-900">
    <div class="grid py-8 bg-white grid-cols-layout md:pt-12 md:pb-20 ">
      <div class="col-popout">
        <h1 class="text-3xl font-semibold leading-tight md:text-4xl">Søknad om dagpenger</h1>

        <div class="mt-3 md:grid md:grid-flow-row-dense md:gap-20 md:grid-cols-12">
          <div class="mb-3 -mx-3 md:col-span-8 md:hidden" x-data="{ stepperOpen: false }" x-bind:class="stepperOpen && 'bg-gray-50 xs:rounded md:bg-transparent'">
            <div class="relative px-3 py-3 hover:bg-blue-50 xs:rounded">
              <p class="text-sm">Steg 5 av 14</p>
              <div class="flex items-center gap-3 ">
                <h2 class="text-2xl font-semibold">Arbeidsforhold i EØS</h2>
                <button class="absolute inset-0" x-on:click="stepperOpen = !stepperOpen">
                  <span class="sr-only">Vis seksjoner</span>
                </button>
                <svg class="flex-none w-6 h-6 pointer-events-none" x-bind:class="stepperOpen && 'rotate-180'" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false" role="img">
                  <path d="M18 9L12 15L6 9" stroke="currentColor" stroke-width="2" />
                </svg>
              </div>
            </div>
            <div class="px-4 py-3" x-show="stepperOpen">
              <ol class="navds-stepper">
                {% for item in stepperList %}
                  <li class="navds-stepper__item">
                    <span class="navds-stepper__line navds-stepper__line--1" aria-hidden="true"></span>
                    <a href="#" class="navds-stepper__step
                      {% if item.state === 'active' %}navds-stepper__step--active{% endif %}
                      {% if item.state === 'complete' %}navds-stepper__step--complete{% endif %}">
                      <span class="navds-stepper__marker" aria-hidden="true">
                        {% if item.state === 'complete' %}
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" focusable="false" role="img"  aria-hidden="true"><path d="M7 13L10 16L17.5 8.5" stroke="currentColor" stroke-width="2" /></svg>

                        {% else %}
                          {{ loop.index }}
                        {% endif %}
                      </span>
                      <span class="navds-stepper__content">{{ item.text }}</span>
                    </a>
                    <span class="navds-stepper__line navds-stepper__line--2" aria-hidden="true"></span>
                  </li>
                {% endfor %}
              </ol>

            </div>
          </div>

          <div class="hidden pt-10 md:block md:col-span-4 md:col-start-9">
            <ol class="navds-stepper">
              {% for item in stepperList %}
                <li class="navds-stepper__item">
                  <span class="navds-stepper__line navds-stepper__line--1" aria-hidden="true"></span>
                  <a href="#" class="navds-stepper__step
                    {% if item.state === 'active' %}navds-stepper__step--active{% endif %}
                    {% if item.state === 'complete' %}navds-stepper__step--complete{% endif %}">
                    <span class="navds-stepper__marker" aria-hidden="true">
                      {% if item.state === 'complete' %}
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" focusable="false" role="img"  aria-hidden="true"><path d="M7 13L10 16L17.5 8.5" stroke="currentColor" stroke-width="2" /></svg>

                      {% else %}
                        {{ loop.index }}
                      {% endif %}
                    </span>
                    <span class="navds-stepper__content">{{ item.text }}</span>
                  </a>
                  <span class="navds-stepper__line navds-stepper__line--2" aria-hidden="true"></span>
                </li>
              {% endfor %}
            </ol>
          </div>

          <div class="mt-6 md:col-span-8">
            <div class="max-w-prose">
              <div class="hidden mt-6 mb-4 md:block">
                <p class="text-sm">Steg 5 av 14</p>
                <h2 class="text-2xl font-semibold">Arbeidsforhold i EØS</h2>
              </div>

              <p>NAV har registrert følgende kontaktinformasjon. Du kan gjøre endringer på&nbsp;<strong>Min&nbsp;side</strong>.</p>

              <div class="mt-6">
                <label class="font-semibold" for="country">Hvilket land bor du i?</label>
                <p class="">Med bostedsland mener vi ditt vanlige oppholdssted, som er der du eier eller leier bolig og tilbringer mesteparten av tiden din.</p>
                <select id="country" class="select w-full px-2.5 py-1.5 mt-2 border border-gray-300 rounded appearance-none">
                  <option value="1">Velg land</option>
                  <option value="2">Sveits</option>
                  <option value="3">Ikke Sveits</option>
                </select>
              </label>
            </div>

            <div class="h-[800px] bg-white mt-12"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</main>
{% endblock %}

{% block styles %}
  <style>
    .select {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' %3E%3Cpath d='M18 9L12 15L6 9' stroke='%23404040' stroke-width='1.75'%3E%3C/path%3E%3C/svg%3E") no-repeat calc(100% - 0.5rem) 50%;
    }
    .navds-stepper {
      --navds-global-color-gray-600: rgba(112, 112, 112, 1);
      --navds-global-color-gray-400: rgba(176, 176, 176, 1);
      --navds-global-color-deepblue-500: rgba(0, 91, 130, 1);
      --navds-global-color-blue-800: rgba(0, 52, 125, 1);
      --navds-global-color-blue-500: rgba(0, 103, 197, 1);
      --navds-global-color-white: rgba(255, 255, 255, 1);

      --navds-stepper-marker-size: 1.75rem;
      --navds-stepper-marker-color: var(--navds-global-color-blue-500);

      color: var(--navds-global-color-blue-500);
      font-weight: 600;
    }
    .navds-stepper--horizontal {
      display: flex;
      text-align: center;
      align-items: start;
    }
    .navds-stepper__item {
      flex: 1 1 100%;
      display: grid;
      grid-template-rows: [line-1] auto [content-start marker] var(--navds-stepper-marker-size) [line-2] auto [content-end];
      grid-template-columns: [marker] var(--navds-stepper-marker-size) [content] auto;
      justify-items: start;
      gap: 0.5rem;
    }
    .navds-stepper__line {
      background-color: var(--navds-global-color-gray-400);
      width: 0.125rem;
      height: 100%;
      min-height: 0.5rem;
      justify-self: center;
      grid-column: 1;
    }
    .navds-stepper__line--1 {
      grid-row: line-1;
      display: none;
    }
    .navds-stepper__line--2 {
      grid-row: line-2;
    }

    :where(.navds-stepper__item:last-of-type) .navds-stepper__line--2 {
      display: none;
    }
    .navds-stepper__step {
      display: contents;
    }
    :where(.navds-stepper__step):focus {
      outline: 3px solid var(--navds-global-color-blue-800);
      isolation: isolate;
    }
    .navds-stepper__marker {
      display: inline-grid;
      place-items: center;
      width: var(--navds-stepper-marker-size);
      height: var(--navds-stepper-marker-size);
      border: 2px solid currentColor;
      border-radius: 999px;
      line-height: 1;
      flex-shrink: 0;
      grid-column: marker;
      grid-row: marker;
      color: var(--navds-stepper-marker-color);
    }
    .navds-stepper__content {
      display: block;
      width: fit-content;
      grid-column: content;
      grid-row: content;
      margin-bottom: 1.25rem;
      max-width: 44ch;
      padding-top: 0.075rem;
    }

    /* Active & Complete */
    :where(.navds-stepper__step--active) .navds-stepper__content {
      color: var(--navds-global-color-deepblue-500);
    }
    :where(.navds-stepper__step:not(.navds-stepper__step--active):hover) .navds-stepper__content {
      text-decoration: underline;
    }
    :where(.navds-stepper__step--active, .navds-stepper__step--complete) .navds-stepper__marker {
      color: var(--navds-global-color-white);
    }
    :where(.navds-stepper__step--active) .navds-stepper__marker {
      background-color: var(--navds-global-color-deepblue-500);
      border-color: var(--navds-global-color-deepblue-500);
    }
    :where(.navds-stepper__step--complete) .navds-stepper__marker {
      background-color: var(--navds-global-color-gray-600);
      border-color: var(--navds-global-color-gray-600);
    }
  </style>
{% endblock %}
{% block script %}{% endblock %}
