{# Separator #}
{% if block.type === "separator" %}
<div class="flex items-center justify-center gap-2">
  <span class="w-24 h-0.5 bg-green-100 rounded-full"></span>
  <span class="inline-grid p-3 my-8 text-green-900 translate-y-px bg-green-100 rounded-full">
  {{ block.icon | svgContents('w-5 h-5 sm:w-6 sm:h-6') | safe }}
  </span>
  <span class="w-24 h-0.5 bg-green-100 rounded-full"></span>
</div>
{% endif %}

{# Heading #}
{% if block.type === "heading" %}
  <h2 class="flex items-baseline gap-2 mb-2 text-2xl font-semibold sm:gap-4 sm:leading-snug" id="{{ block.title | slugify }}">
    {{ block.title | safe }}
  </h2>
  <!--<a href="#" class="inline-flex items-center gap-1.5 mt-2 mb-4 text-base text-blue-500 hover:underline hover:text-blue-600">
    <span># Kopier lenke</span>
    {# {{ '/src/_includes/svg/icons/link.svg' | svgContents('w-3.5 h-3.5') | safe }} #}
  </a>-->
{% endif %}

{# Markdown #}
{%- if block.type === 'markdown' -%}
  <div class="markdown {{ block.class }}">
    {{ block.data | markdown | safe }}
  </div>
{%- endif -%}

{# Actions #}
{%- if block.type === 'actions' -%}
<div class="grid gap-1.5 sm:flex mt-3">
  {%- for item in block.data -%}
    {{ button(
      {
        text: item.text,
        href: item.href,
        variant: item.variant
      }
    ) }}
  {%- endfor -%}
</div>
{%- endif -%}

{# Microcards #}
{%- if block.type === 'microcards' -%}
<div class="!mt-1">
  {%- if block.title -%}
  <h4 class="font-semibold">{{ block.title | safe }}</h4>
  {%- endif -%}
  <div class="flex flex-wrap gap-1.5 mt-2">
  {%- for item in block.data -%}
    {{ microcard(item) }}
  {%- endfor -%}
  </div>
</div>
{%- endif -%}

{# Line #}
{%- if block.type === 'line' -%}
  <div class="border-t border-deepblue-100"></div>
{%- endif -%}

{# Expander #}
{%- if block.type === 'expander' -%}
  <div class="my-8 border-b-2 border-blue-400" x-data="{ isExpanded: false }">
    <button class="w-full py-2.5 pl-4 pr-24 text-left rounded bg-select bg-blue-50" x-on:click="isExpanded = !isExpanded" x-bind:aria-expanded="isExpanded" type="button" >{{ block.title | safe }}</button>
    <div class="p-4 rounded-b md:p-6 bg-gray-50 markdown" x-show="isExpanded" x-bind:hidden="!isExpanded">
      {{ block.data | markdown | safe }}
    </div>
  </div>
{%- endif -%}

{# Tiles #}
{%- if block.type === 'tiles' -%}
  {% if block.title %}
  <h4 class="text-xl font-semibold">{{ block.title | safe }}</h4>
  {% endif %}
  <div class="grid gap-1.5 {{ 'mt-1' if block.title else 'mt-8' }}">
    {%- for item in block.data -%}
      {{ tile(item) }}
    {%- endfor -%}
  </div>
{%- endif -%}

{# Select #}
{% if block.type === 'select' %}
  <div class="p-4 rounded bg-gray-50">
    <label class="font-semibold" for="country">{{ block.label }}</label>
    {% if block.description %}
    <p class="text-base">{{ block.description }}</p>
    {% endif %}
    <select id="country" class="w-full px-3 py-2.5 mt-3 bg-white border border-gray-300 rounded appearance-none bg-select hover:border-gray-400">
      {% for option in block.options %}
      <option {{ 'checked' if loop.first }}>{{ option.label }}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}

{# Infobox #}
{% if block.type === 'infobox' %}
<div class="flex items-start gap-3 p-4 border rounded border-lightblue-200 bg-lightblue-50">
  {{ block.icon | svgContents('w-6 h-6 shrink-0 translate-y-0.5') | safe }}
  <div class="grid gap-1 markdown">
    <h3 class="text-xl font-semibold">{{ block.title }}</h3>
    {{ block.content | markdown | safe }}
  </div>
</div>
{% endif %}

{# Radios #}
{% if block.type === 'radios' %}
  <div class="{{ block.class }}">
    <fieldset>
      <legend class="font-semibold">{{ block.legend }}</legend>
      {% if block.description %}
        <p class="text-base">{{ block.description }}</p>
      {% endif %}
      <ul class="mt-1">
        {% for option in block.options %}
          <li>{{ form.radio({ label: option.label, description: option.description, name: block.name, id: (block.name + '-' + option.label | slugify) }) }}</li>
        {% endfor %}
      </ul>
    </fieldset>
  </div>
{% endif %}

{# Checkboxes #}
{% if block.type === 'checkboxes' %}
  <div class="{{ block.class }}">
    <fieldset>
      <legend class="font-semibold">{{ block.legend }}</legend>
      {% if block.description %}
        <p class="text-base">{{ block.description }}</p>
      {% endif %}
      <ul class="mt-1">
        {% for option in block.options %}
          <li>{{ form.checkbox({ label: option.label, description: option.description, name: block.name, id: (block.name + '-' + option.label | slugify) }) }}</li>
        {% endfor %}
      </ul>
    </fieldset>
  </div>
{% endif %}

{# Text Input #}
{% if block.type === 'textinput' %}
  <div class="{{ block.class }}">
    {{ form.textinput({ label: block.label, description: block.description, id: 'text1' }) }}
  </div>
{% endif %}

{# Text Area #}
{% if block.type === 'textarea' %}
  <div class="{{ block.class }}">
    {{ form.textarea({ label: block.label, description: block.description, id: 'text2' }) }}
  </div>
{% endif %}





