{%- from "macros/button.njk" import button -%}
{%- from "macros/microcard.njk" import microcard -%}

{% for block in product.contentBlocks %}

  {% if block.type === 'markdown' %}
    {{ block.data  | markdown | safe }}
  {% endif %}

  {% if block.type === 'actions' %}
  <div class="grid gap-1.5 sm:flex">
    {% for item in block.data %}
      {{ button(
        {
          text: item.text,
          href: '#',
          variant: item.variant
        }
      ) }}
    {% endfor %}
  </div>
  {% endif %}

  {% if block.type === 'microcards' %}
    <div class="flex flex-wrap gap-1.5">
    {% for item in block.data %}
      {{ microcard(item) }}
    {% endfor %}
  </div>
  {% endif %}

  {% if block.type === 'line' %}
    {# <div class="border-t border-deepblue-100"></div> #}
  {% endif %}

{% endfor %}
