<footer class="self-end px-4 pb-20 text-lg text-white bg-deepblue-800 md:px-8" x-bind:inert="menuOpen || notifyOpen">
  <div class="max-w-screen-lg mx-auto sm:w-[95%] ">
    <div class="flex flex-col items-center py-3">
      <a class="flex items-center gap-2 text-base text-center hover:underline hover:text-orange-200" href="#">
        <svg class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24"  aria-hidden="true" focusable="false" role="img">
          <path stroke="currentColor" stroke-width="2" d="m7 9 6-6 6 6m-6 10V4" />
        </svg>
        <span>Til toppen</span>
      </a>
    </div>
    <div class="pt-8 border-t border-white/10">
      <div class="mb-8 sm:columns-2 md:columns-3">
        {% for section in footer.links %}
          <div class="mb-8 sm:pr-8 md:mb-0">
            <h2 class="text-sm font-semibold tracking-widest uppercase text-deepblue-300">
              {{ section.title }}
            </h2>
            <ul class="mt-2 mb-7 break-inside-avoid">
              {% for item in section.linkList %}
                <li class="py-1 pr-2 break-before-avoid">
                  <a class="hover:underline hover:text-orange-200" href="#">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}

        <div class="-mt-2.5">
          <button class="flex items-center gap-2 px-3 sm:-mx-3 py-1.5 bg-deepblue-700 border border-deepblue-600 hover:border-deepblue-400/50 hover:bg-deepblue-600 rounded hover:shadow-lg hover:text-orange-200">
            <span class="">{{ footer.screenshare.text }}</span>
            {{ footer.screenshare.icon | svgContents("w-5 h-5") | safe }}
          </button>
        </div>
      </div>

    </div>

    <div class="flex flex-col justify-between pb-12 md:flex-row-reverse">
      <div class="flex flex-col justify-between gap-3 mt-4 md:gap-6 md:flex-row md:self-end">
        {% for link in footer.legal %}
          <a class="hover:underline hover:text-orange-200" href="#">{{ link.text }}</a>
        {% endfor %}
      </div>

      <div class="grid gap-2 mt-12">
        {{ '/src/_includes/svg/logo.svg' | svgContents('h-6') | safe }}
        <div class="">Arbeids- og velferdsetaten</div>
      </div>

    </div>
  </div>
</footer>
