{%- set audience = audienceOverride or menu.audience -%}
{%- set language = ['Bokmål', 'Nynorsk', 'English', 'Davvisámegiella'] -%}

<header class="relative z-50 isolate">
  <nav class="text-sm bg-gray-100 px-xs-2xl">
    <div class="flex flex-wrap-reverse justify-between mx-auto max-w-wide">
      {# Audience #}
      <div class="relative" x-on:click.outside="audienceDropdownOpen = false">
        <button class="flex items-center px-4 py-2 -ml-2 gap-3xs sm:hidden" x-on:click="audienceDropdownOpen = !audienceDropdownOpen" type="button" aria-expanded="false">
          <span>{{ activeRole }}</span>
          {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('w-5 h-5') | safe }}
        </button>
        <ul class="absolute z-50 bg-white rounded py-2xs -left-3xs min-w-40 sm:bg-transparent sm:rounded-none sm:py-0 sm:flex sm:gap-4 top-full sm:static" x-bind:class=" audienceDropdownOpen ? 'grid shadow-md sm:shadow-none' : 'hidden'">
          {%- for item in audience -%}
            <li class="grid py-2 items-center {{ 'sm:shadow-menuActive font-semibold' if activeRole === item.title else ' opacity-70 hover:opacity-100 transition-shadow sm:hover:shadow-menuHover' }}">
              <a href="{{ item.href or '#' }}" class="px-3 sm:px-0 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-800 ">
                {{ item.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {# Language #}
      <div class="relative" x-on:click.outside="languageDropdownOpen = false">
        <button 
          type="button" 
          class="flex items-center gap-1 px-3 py-2 -mr-3" 
          x-bind:class="languageDropdownOpen ? 'bg-gray-200' : 'hover:bg-gray-200'"
          x-on:click="languageDropdownOpen = !languageDropdownOpen" 
          aria-expanded="false">
          <svg class="flex-none w-5 h-5" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M2 5a1 1 0 0 1 1-1h3.75c.28 0 .5.22.5.5V9c0 .14-.11.25-.25.25H2.5a.5.5 0 0 1-.5-.5V5Zm10.75-.5c0-.28.22-.5.5-.5H21a1 1 0 0 1 1 1v3.75a.5.5 0 0 1-.5.5H13a.25.25 0 0 1-.25-.25V4.5ZM13 14.75a.25.25 0 0 0-.25.25v4.5c0 .28.22.5.5.5H21a1 1 0 0 0 1-1v-3.75a.5.5 0 0 0-.5-.5H13Zm-11 .5c0-.28.22-.5.5-.5H7c.14 0 .25.11.25.25v4.5a.5.5 0 0 1-.5.5H3a1 1 0 0 1-1-1v-3.75Z"/>
            <path d="M11 4c.14 0 .25.11.25.25v6.25c0 .14.11.25.25.25h10.25c.14 0 .25.11.25.25v2c0 .14-.11.25-.25.25H11.5a.25.25 0 0 0-.25.25v6.25c0 .14-.11.25-.25.25H9a.25.25 0 0 1-.25-.25V13.5a.25.25 0 0 0-.25-.25H2.25A.25.25 0 0 1 2 13v-2c0-.14.11-.25.25-.25H8.5c.14 0 .25-.11.25-.25V4.25c0-.14.11-.25.25-.25h2Z"/>
          </svg>
          <span>Språk / Language</span>
          {{ '/src/_includes/svg/icons/chevron-down.svg' | svgContents('w-5 h-5') | safe }}
        </button>
        {# <ul class="absolute z-50 py-1 bg-white rounded -right-2 min-w-40 top-full" x-bind:class=" languageDropdownOpen ? 'grid shadow-md' : 'hidden'">
          {%- for item in language -%}
            <li class="grid items-center">
              <button type="button" class="py-2.5 px-3 text-left focus:outline-none focus-visible:ring-2 hover:bg-gray-100 focus-visible:ring-blue-800">
                {{ item }}
              </button>
            </li>
          {%- endfor -%}
        </ul> #}
      </div>
    </div>
  </nav>

  <nav class="px-xs-2xl">
    <div class="grid grid-cols-[auto_1fr] max-w-wide mx-auto">

      {# Logo #}
      <div class="flex items-center sm:py-4">
        <a href="/" class="block p-2 -ml-2.5 text-red-500 rounded-sm fine:hover:text-red-400 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-800">
          {{ '/src/_includes/svg/logo.svg' | svgContents('w-16 h-auto') | safe }}
          <span class="sr-only">NAV</span>
        </a>
      </div>

      {# Menu Buttons #}
      {%- set menuButtonClasses = "flex flex-col sm:flex-row items-center justify-center p-1 sm:pl-2.5 sm:pr-3 leading-none font-semibold gap-0.5 text-blue-500 rounded min-w-16 sm:py-2 fine:hover:bg-deepblue-50 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-800 group" -%}

      <div class="flex self-center gap-2 py-2 justify-self-end sm:-mr-2.5">
        <button class="{{ menuButtonClasses }}" x-show="!loggedIn" x-on:click="loginOpen = !loginOpen, menuOpen = false" x-bind:aria-expanded="loginOpen">
            {{ '/src/_includes/svg/icons/login.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          <span class="mt-px">Logg inn</span>
        </button>

        {# {%- include "partials/login.njk" -%} #}

        <button class="{{ menuButtonClasses }}" x-on:click="notifyOpen = !notifyOpen, menuOpen = false" x-bind:class="notifyOpen && 'bg-deepblue-50'" x-show="loggedIn" x-bind:aria-expanded="notifyOpen">
          <span class="relative">
            {{ '/src/_includes/svg/icons/person-circle.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
            <span x-show="newNotifications" class="absolute right-0 block w-1.5 h-1.5 sm:w-2 sm:h-2 bg-red-400 rounded-full top-0.5" x-bind:class="notifyOpen ? 'ring-2 ring-deepblue-50' : 'ring-2 ring-white fine:group-hover:ring-deepblue-50'"></span>
          </span>
          <span class="mt-px sm:hidden">Min side</span>
          <span class="hidden mt-px sm:inline-block">Isac Norland</span>
        </button>

        {# {%- include "partials/notifications.njk" -%} #}

        <span class="self-stretch hidden w-px my-2 bg-gray-300 sm:block" aria-hidden="true"></span>

        <button class="{{ menuButtonClasses }}" type="button" x-on:click="menuOpen = !menuOpen, notifyOpen = false, loginOpen = false" x-bind:class="menuOpen && 'bg-deepblue-50'" x-bind:aria-expanded="menuOpen">
          <template x-if="!menuOpen">
            {{ '/src/_includes/svg/icons/menusearch.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          </template>
          <template x-if="menuOpen">
            {{ '/src/_includes/svg/icons/close.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          </template>
          <span class="mt-px">Meny</span>
        </button>

        {# {%- include "partials/navigation.njk" -%} #}
      </div>
    </div>
  </div>
</header>

{# Overlay #}
{# <button class="fixed inset-0 z-40 w-full h-full opacity-0 cursor-default bg-black/20" x-bind:class="(menuOpen || notifyOpen || loginOpen) ? 'animate-fade-in' : 'hidden'" x-on:click="menuOpen = false, notifyOpen = false, loginOpen = false" x-on:keyup.escape.window="menuOpen = false, notifyOpen = false,  loginOpen = false"></button> #}
