<header class="site-header">
  <div class="site-navigation">

    <a class="site-logo" href="/">
      {{ "/src/assets/images/logo.svg" | svgContents | safe }}
    </a>

    <div class="site-audience">
      <button popovertarget="audience">
        <span>{{ site.audience[0] }}</span>
        <svg width="20" height="20" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" opacity="0.75" d="m6 8 4 4 4-4"/>
        </svg>
      </button>
      <div id="audience" popover>
        {% for audience in site.audience %}
        <button type="button">{{ audience }}</button>
        {% endfor %}
      </div>
    </div>

    <form class="site-search" action="#">
      <label for="site-search">
        <svg width="20" height="20" fill="none" viewBox="0 0 20 20">
          <circle cx="8.33" cy="8.33" r="5.83" stroke="currentColor" stroke-width="1.5"/>
          <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="m12.92 12.92 4.16 4.16"/>
        </svg>
        <span class="sr-only">Søk</span>        
      </label>
      <input id="site-search" placeholder="Søk på nav.no" type="search">
    </form>

    <nav class="site-menu">
      <button popovertarget="site-menu">
        <span>Meny</span>

        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <style>
            :is(#spyglassClip,#spyglassGroup) {
              transition: translate 300ms;
              @media (width > 800px) { translate:15px }
            }
          </style>
          <defs>
            <clipPath id="a">
              <path id="spyglassClip" fill="black" d="m5.5 0 2.65 4.24a8.5 8.5 0 0 0 7.96 12.74L20.5 24H-15V0z"/>
            </clipPath>
          </defs>
          <g stroke="currentColor" stroke-linecap="round" stroke-width="1.8" clip-path="url(#a)">
            <path d="M3 5h18M3 12h18M3 19h18"/>
          </g>
          <g id="spyglassGroup">
          <circle cx="15" cy="8.5" r="5" stroke="currentColor" stroke-width="1.8" transform="rotate(90 15 8.5)"/>
          <path stroke="currentColor" stroke-linecap="round" stroke-width="1.8" d="m17.5 13 3.5 6"/>
          </g>
        </svg>


      </button>
      <div id="site-menu" popover>
        <div>
          {% for section in menu %}
            <div>
              <h2>{{ section.title }}</h2>
              <ul>
                {% for item in section.linkList %}
                <li><a href="{{ item.href }}"><span>{{ item.text }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>

  <div class="site-user">
    {% if loggedIn %}
    <button popovertarget="site-user">
      <div>
        <span>Charlie Jensen</span>
        <small>Deg selv</small>
      </div>
      <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
        <circle cx="12" cy="7.5" r="4.5" stroke="currentColor" stroke-width="1.5"/>
        <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M6 21c0-3 2.5-6 6-6s6 3 6 6"/>
      </svg>
    </button>
    <div id="site-user" popover>
      <a href="#">Item 1</a>
      <a href="#">Item 2</a>
      <a href="#">Item 3</a>
    </div>
    {% else %}
    <a href="/minside">Logg inn</a>
    {% endif %}
  </div>
</header>
