{%- set audience = audienceOverride or menu.audience -%}

<header class="relative z-50">
  <div class="py-1 text-sm tracking-widest text-center uppercase bg-white border-b sm:hidden px-edge border-slate-200">{{ activeRole }}</div>

  <nav class="z-10 bg-white px-edge">
    <div class="grid grid-cols-[auto_1fr] sm:grid-cols-[auto_auto_1fr] max-w-wide mx-auto">

      {# Logo #}
      <div class="flex items-center py-5 sm:py-6">
        <a href="/" class="block px-3 py-2.5 -ml-3.5 text-red-500 rounded-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-800">
          {{ '/src/_includes/svg/logo.svg' | svgContents('w-logo h-auto') | safe }}
          <span class="sr-only">NAV</span>
        </a>
      </div>

      {# Audience #}
      <div class="self-center hidden pl-5 ml-2 text-lg leading-tight border-l sm:block border-slate-300">
        {{ activeRole }}
      </div>


      {# Menu Buttons #}
      {%- set menuButtonClasses = "flex items-center justify-center pl-2 pr-3 leading-none font-semibold gap-1 text-blue-500 rounded min-w-16 py-2 fine:hover:bg-slate-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-800 group peer" -%}

      <div class="flex self-center sm:gap-1 py-2 justify-self-end xs:-mr-2.5">
        <button class="{{ menuButtonClasses }}" x-show="!loggedIn" x-on:click="loginOpen = !loginOpen, menuOpen = false" x-bind:aria-expanded="loginOpen">
            {{ '/src/_includes/svg/icons/login.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          <span class="mt-px">Logg inn</span>
        </button>

        <button class="{{ menuButtonClasses }}" x-on:click="notifyOpen = !notifyOpen, menuOpen = false" x-bind:class="notifyOpen && 'bg-slate-200'" x-show="loggedIn" x-bind:aria-expanded="notifyOpen">
          <span class="relative">
            {{ '/src/_includes/svg/icons/person-circle.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 -ml-0.5 shrink-0 pointer-events-none') | safe }}
            <span x-show="newNotifications" class="absolute right-0 block w-1.5 h-1.5 sm:w-2 sm:h-2 bg-red-400 rounded-full top-0.5" x-bind:class="notifyOpen ? 'ring-2 ring-slate-200' : 'ring-2 ring-white fine:group-hover:ring-slate-200'"></span>
          </span>
          <span class="mt-px sm:hidden">Min side</span>
          <span class="hidden mt-px sm:inline-block">Isac Norland</span>
        </button>

        <button class="{{ menuButtonClasses }} ml-1 order-2" type="button" x-on:click="menuOpen = !menuOpen, notifyOpen = false, loginOpen = false" x-bind:class="menuOpen && 'bg-slate-200'" x-bind:aria-expanded="menuOpen">
          <template x-if="!menuOpen">
            {{ '/src/_includes/svg/icons/menusearch.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          </template>
          <template x-if="menuOpen">
            {{ '/src/_includes/svg/icons/close.svg' | svgContents('w-6 h-6 sm:w-7 sm:h-7 shrink-0 pointer-events-none') | safe }}
          </template>
          <span class="mt-px">Meny</span>
        </button>

        <span class="self-stretch order-1 hidden w-px my-2 transition-colors duration-100 bg-gray-300 sm:block peer-hover:bg-transparent" aria-hidden="true"></span>
    </div>
  </nav>
  {%- include "partials/navigation.njk" -%}
  {%- include "partials/login.njk" -%}
  {%- include "partials/minSide.njk" -%}
</header>

{# Overlay #}
<button class="fixed inset-0 z-40 w-full h-full opacity-0 cursor-default bg-slate-800/80 backdrop-blur-xs" x-bind:class="(menuOpen || notifyOpen || loginOpen) ? 'opacity-100 transition-opacity duration-300' : 'hidden'" x-on:click="menuOpen = false, notifyOpen = false, loginOpen = false" x-on:keyup.escape.window="menuOpen = false, notifyOpen = false,  loginOpen = false"></button>
