<div x-ref="prototypeMenu" class="h-screen font-mono text-xl text-white bg-red-600 md:text-2xl" x-show="indexOpen">
  <div class="grid grid-cols-layout">
    <ul class="list-decimal list-outside divide-y py-clamp-gap divide-gray-400/25 col-feature">
    {% for page in collections.template | sort(false, false, 'data.order') %}
      <li class="">
        <a href="{{ page.url }}" class="inline-block py-4 hover:text-blue-300 hover:underline decoration-from-font underline-offset-4">
        {{ page.data.title | safe }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

