---
title: 'Søknad og skjema'
kicker: 'fra A til Å'
description: 'Søknader og skjema for samarbeidspartnere. Velg rollen som passer best for deg.'
permalink: '/soknad-og-skjema-samarbeidspartner/'
---
{%- extends 'base.njk' -%}

{%- block content -%}
  <main class="grid py-12 text-lg text-gray-900 grid-cols-layout">
    <div class="relative col-wide max-w-prose md:max-w-none mx-auto md:mx-0 grid md:grid-cols-[6rem_auto] md:pr-24 gap-x-8 items-start mb-12 w-full">

      {# Pictogram #}
      {{ '/src/_includes/svg/pictograms/support.svg' | svgContents('w-full h-auto max-w-20 md:ml-2 text-green-800 absolute right-0 md:relative') | safe }}

      {# Intro #}
      <div class="pr-28 md:col-start-2 md:row-start-1 md:pr-0">
        <h1 class="text-3xl font-semibold leading-tight md:text-5xl md:leading-tight">{{ title | safe }}</h1>
        <p class="mt-2 text-sm tracking-wider text-gray-700 uppercase">{{ kicker | safe }}</p>
        <p class="max-w-2xl mt-8 text-xl md:text-2xl">{{ description | safe }}</p>
      </div>

      <div class="mt-10 md:col-start-2">
        <ul class="gap-12 text-xl lg:columns-2">
          {% for item in roleFilter %}
          <li class="grid border-t border-gray-200 break-inside-avoid">
            <a href="/soknad-og-skjema-samarbeidspartner/{{ item | slugify }}/" class="relative z-10 flex py-4 text-left text-blue-500 underline hover:no-underline hover:text-deepblue-600">{{ item | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </main>
{%- endblock -%}
